/* Font */
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* Global Styles */
/* COLOURS */
@import url("helpers.css");
@import url("flexboxgrid.css");
/* Component Styles */
@import url("../components/global-nav/global-nav.css");
@import url("../components/breadcrumb/breadcrumb.css");
@import url("../components/mini-cart/mini-cart.css");
@import url("../components/product-grid/product-grid.css");
@import url("../components/product-tile/product-tile.css");
@import url("../components/carousel/carousel.css");
@import url("../components/footer/footer.css");
@import url("../components/cart-header/cart-header.css");
@import url("../components/cart-footer/cart-footer.css");
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0; }

a {
  color: #B94650; }

body {
  font-size: 16px; }
