/* Font */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
/* Icons */
@import url("https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css");
/* ============================== Global Styles */
* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

fieldset {
  border: 0;
  padding: 0; }

a:not(.btn) {
  color: #1F1F1F; }

p {
  line-height: 1.3; }

html {
  font-size: 62.5%; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  margin: 0;
  color: #1F1F1F;
  background-color: #F0F2F2; }

/* =============================================== HELPERS */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

.element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.divider {
  margin: 23px 0; }

.rotate-90 {
  transform: rotate(90deg); }

.rotate-270 {
  transform: rotate(270deg); }

.icon {
  margin: 0 8px -5px; }

.skip-link {
  color: transparent;
  font-size: 12px;
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  left: -9999px; }
  .skip-link:focus {
    color: #B94650;
    height: auto;
    width: auto;
    position: static;
    display: inline-block;
    margin: 10px 0; }

.visibly-hidden {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
  left: -9999; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.wrapper, .container {
  max-width: 1440px;
  padding: 0 12px;
  margin: 0 auto; }
  @media only screen and (min-width: 600px) {
    .wrapper, .container {
      padding: 0 calc((16 * 1px) + (74 - 16) * ((100vw - 600px) / (800 - 600))); } }
  @media only screen and (min-width: 800px) {
    .wrapper, .container {
      padding: 0 calc(100% / 12 + 6px); } }
  @media only screen and (min-width: 1440px) {
    .wrapper, .container {
      padding: 0 128px; } }

.container-2 {
  padding: 0 calc(0.025 * 100vw); }

.flex-row {
  display: flex; }

.two-col > * {
  width: 50%; }

.gutters {
  justify-content: space-between; }
  .gutters.two-col > * {
    width: calc(50% - 6px); }

/* ====================================== BUTTONS */
.btn {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: 1;
  display: inline-block;
  background: #1F1F1F;
  color: white;
  vertical-align: middle;
  border-radius: 25px;
  text-decoration: none;
  margin: 0; }
  .btn:not(:disabled):hover, .btn:focus {
    color: white;
    background: #90373D; }
  .btn::before {
    font-size: 1.6rem; }
  .btn:disabled {
    background: #C8C8C8;
    cursor: not-allowed; }
  .btn--black {
    background: #1F1F1F; }
    .btn--black:not(:disabled):hover, .btn--black:focus {
      background: #333333; }
  .btn--black-inverted {
    background: #FFFFFF;
    color: #000000; }
  .btn--outline {
    color: #B94650;
    background: transparent;
    border: 1px solid #B94650; }
    .btn--outline:not(:disabled):hover, .btn--outline:focus {
      color: #90373D;
      border-color: #90373D;
      background: rgba(31, 31, 31, 0.05); }
  .btn--outline-black {
    color: #1F1F1F;
    background: transparent;
    border: 1px solid #1F1F1F; }
    .btn--outline-black:not(:disabled):hover, .btn--outline-black:focus {
      color: #333333;
      border-color: #333333;
      background: rgba(31, 31, 31, 0.05); }
  .btn--favorites {
    width: 40px;
    height: 40px;
    border-radius: 24px;
    color: #C30007;
    background-color: #FABFC1; }
  .btn--secondary {
    color: #000000;
    height: 40px;
    width: 40px;
    opacity: 0.9;
    border-radius: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25); }
  .btn--icon {
    font-size: 2rem;
    padding: 0;
    min-height: 32px;
    min-width: 32px; }
    .btn--icon:disabled {
      opacity: 0.6; }
  .btn--block {
    display: block;
    width: 100%; }

/* ========================== FORM INPUTS */
.radio__input {
  opacity: 0;
  position: absolute; }
  .radio__input:checked + label::after {
    content: ""; }
  .radio__input:focus + label::before {
    outline: #3b99fc auto 5px; }

.radio__label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  margin-right: 12px;
  cursor: pointer;
  font-size: 1.2rem; }
  .radio__label::before {
    background-color: #FFFFFF;
    border: 1px solid;
    border-radius: 50%;
    content: "";
    display: block;
    margin-right: 12px;
    height: 24px;
    width: 24px; }
  .radio__label::after {
    background: #1F1F1F;
    border-radius: 50%;
    display: block;
    left: 5px;
    top: 5px;
    position: absolute;
    height: 16px;
    width: 16px; }

.checkbox__input {
  opacity: 0;
  position: absolute; }
  .checkbox__input:checked + label::after {
    content: ""; }
  .checkbox__input:focus + label::before {
    outline: #3b99fc auto 5px; }

.checkbox__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-bottom: 6px;
  margin-right: 12px;
  cursor: pointer;
  font-size: 1.2rem; }
  .checkbox__label::before {
    border: 1px solid;
    content: "";
    display: block;
    margin-right: 12px;
    height: 24px;
    width: 24px; }
  .checkbox__label::after {
    height: 5px;
    width: 14px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 5px;
    top: 8px;
    position: absolute;
    content: none; }

select {
  width: auto;
  padding: 0 40px 0 8px;
  font-size: 14px;
  border: 1px solid #1F1F1F;
  border-radius: 4px;
  height: 48px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 8px center;
  position: relative; }

@media only screen and (min-width: 1024px) {
  .main-content {
    width: 1020px;
    margin: 50px auto; } }

.template-heading {
  font-size: 2.4rem;
  font-weight: bold; }

/* ========================================== ACCORDION */
.accordion {
  padding: 0; }

.accordion-panel {
  list-style: none;
  margin-bottom: 12px; }

.accordion-panel_heading button {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #D8D8D8;
  background-color: transparent;
  width: 100%;
  text-align: left;
  padding: 12px;
  font-size: 1.8rem;
  font-weight: bold;
  position: relative;
  cursor: pointer; }

.accordion-panel_heading button:after {
  content: '\f12d';
  display: inline-block;
  font-family: "Ionicons";
  font-size: 32px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  float: right; }

.accordion-panel_heading.accordion--open button:after {
  content: '\f125'; }

.accordion-panel_content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  visibility: hidden;
  display: none;
  padding: 15px; }

.accordion-panel_content.accordion--open {
  visibility: visible;
  display: block; }

/* ============================================== Breadcrumb Styles */
.breadcrumb {
  font-size: 1.2rem;
  margin: 12px 0 24px;
  color: #333333; }
  .breadcrumb a:not(.btn) {
    color: #1F1F1F; }
  .breadcrumb ol {
    margin: 0;
    padding-left: 0;
    list-style: none; }
  .breadcrumb li {
    display: inline; }
    .breadcrumb li + li::before {
      display: inline-block;
      margin: 0 .25em;
      content: '>'; }
  .breadcrumb [aria-current="page"], .breadcrumb a[aria-current="page"] {
    color: #333333;
    text-decoration: none; }
  @media only screen and (min-width: 1024px) {
    .breadcrumb {
      margin-top: 24px;
      margin-bottom: 12px; } }

/* ============================== CAROUSEL  */
.carousel-wrapper {
  margin-bottom: 40px;
  box-sizing: border-box; }
  .carousel-wrapper h2 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 8px; }

.carousel {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-flow: row nowrap; }
  .carousel__arrow {
    cursor: pointer; }
    .carousel__arrow:disabled {
      cursor: not-allowed;
      opacity: 0.25;
      color: #1F1F1F; }
  .carousel__container {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .carousel__items {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding-left: 0;
    transition: all 1s;
    transform: translateX(0px); }
  .carousel .card {
    padding: 10px;
    min-width: 270px; }

/* ============================== FOOTER */
.footer {
  background: #1F1F1F;
  color: #FFFFFF;
  padding: 32px 0;
  font-size: 1.4rem; }
  .footer .row {
    justify-content: space-between; }
  .footer a {
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 8px; }
  .footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .footer li {
    display: inline-block; }
  .footer label,
  .footer button {
    display: block; }
  .footer__link-container {
    display: flex;
    justify-content: space-between; }
    .footer__link-container li {
      min-width: 124px;
      margin-right: 24px; }
    .footer__link-container textarea {
      margin: 17px 0;
      width: 296px;
      height: 72px;
      resize: none;
      background: transparent; }
      @media only screen and (max-width: 500px) {
        .footer__link-container textarea {
          width: auto; } }
    @media only screen and (max-width: 500px) {
      .footer__link-container {
        display: block; } }
  .footer__secondary-links {
    font-size: 1.2rem;
    font-weight: normal; }

/* ==================================== GALLERY */
.gallery {
  max-width: 100vw; }

.gallery__main-image__container {
  position: relative;
  max-height: 900px; }
  .gallery__main-image__container img {
    width: 100%;
    height: auto;
    display: block; }

.gallery__main-image__inner-container {
  max-width: 100vw;
  max-height: 600px; }

.gallery__main-image__zoom {
  position: absolute;
  width: 100%;
  bottom: 12px;
  padding: 0 12px;
  left: 0;
  display: flex; }
  .gallery__main-image__zoom .btn--outline {
    background: white; }
    .gallery__main-image__zoom .btn--outline:not(:disabled):hover, .gallery__main-image__zoom .btn--outline:focus {
      background: #f2f2f2; }

.gallery__main-image__zoom-group {
  display: flex;
  padding: 3px;
  height: 40px;
  width: 111px;
  opacity: 0.9;
  border-radius: 24px;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 12px; }

.gallery__zoom-icon {
  text-align: center;
  align-self: center;
  width: 33.3%; }
  .gallery__zoom-icon::before {
    font-size: 20px; }

.gallery__thumbnail-list {
  margin-top: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }

.gallery__minimize {
  margin: 0 3px; }

.gallery__thumbnail-list button {
  border: 0;
  padding: 0; }

.gallery__thumbnail-list button img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  display: block; }

.gallery__thumbnail-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden; }
  .gallery__thumbnail-container .btn {
    position: absolute;
    z-index: 2; }
  .gallery__thumbnail-container .thumbnail__scroll-right {
    right: 0; }

@media only screen and (min-width: 600px) {
  .gallery {
    max-width: 600px;
    margin-top: 24px; }
  .gallery__main-image__inner-container {
    max-width: 600px;
    max-height: 900px; }
  .gallery__thumbnail-list button {
    width: 84px;
    height: 84px;
    margin: 0 12px; }
    .gallery__thumbnail-list button.selected {
      border: 2px solid #000000; }
  .gallery__thumbnail-list {
    margin-top: 20px; } }

/* ============================== GLOBAL NAV */
.navigation {
  background-color: #1F1F1F;
  padding: 14px 0 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
  .navigation #global-nav-search {
    background-color: transparent;
    height: 32px;
    width: 224px;
    border: 1px solid #FFFFFF;
    border-radius: 16px; }
  .navigation #nav-search {
    display: inline-block; }
  .navigation .submit-icon {
    position: relative;
    left: -36px;
    top: 8px;
    padding: 5px;
    border-radius: 25px;
    width: 25px;
    background-color: #FFFFFF;
    height: 25px; }
  .navigation__siteIcon {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 600;
    width: 3.2rem;
    height: 3.2rem;
    border: 2px solid #FFFFFF;
    border-radius: 1.6rem;
    text-align: center;
    margin-right: 1.2rem;
    padding: 1px 0 0 2px; }
  .navigation__items {
    display: flex;
    align-items: center; }
  .navigation__logo:not(.btn) {
    margin-top: -20px;
    align-items: center;
    display: flex;
    text-decoration: none; }
    .navigation__logo:not(.btn):hover, .navigation__logo:not(.btn):focus {
      border-bottom-color: transparent; }
  @media only screen and (max-width: 1024px) {
    .navigation-mini-cart, .navigation .mini-cart {
      order: 2;
      padding-right: 0.5em; } }
  .navigation__siteName {
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-right: 24px; }
    @media only screen and (max-width: 500px) {
      .navigation__siteName {
        display: none; } }
  .navigation a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none; }
  .navigation .global-nav {
    color: #FFFFFF;
    width: 100%; }
    @media only screen and (min-width: 1024px) {
      .navigation .global-nav {
        margin-left: 80px; } }
    .navigation .global-nav__account-cart, .navigation .global-nav__stores-contact {
      width: 250px;
      float: right; }
    .navigation .global-nav__search label {
      font-size: 1.2rem; }
    .navigation .global-nav__bottom-row {
      margin-top: 34px; }
    .navigation .global-nav .stores-btn,
    .navigation .global-nav .account-btn {
      width: 125px; }
    .navigation .global-nav__items {
      display: inline;
      list-style: none;
      padding: 0;
      margin-left: -14px; }
      .navigation .global-nav__items .menu-item-heading:hover,
      .navigation .global-nav__items .menu-item-heading:focus,
      .navigation .global-nav__items .selected {
        text-decoration: none;
        color: #000000;
        font-weight: bold;
        background-color: #FFFFFF; }
      @media only screen and (max-width: 1024px) {
        .navigation .global-nav__items {
          display: none;
          background-color: #f4f0ec;
          z-index: 2;
          position: absolute;
          left: 0;
          width: 100%; } }
    .navigation .global-nav__item {
      display: inline-block;
      text-align: center; }
      @media only screen and (max-width: 1024px) {
        .navigation .global-nav__item {
          padding-left: 42px; } }
    .navigation .global-nav .dropdown-toggle {
      display: none;
      font-size: 2.4rem; }
      .navigation .global-nav .dropdown-toggle[aria-expanded="true"] + .global-nav__items {
        display: block;
        padding: 0; }
      @media only screen and (max-width: 1024px) {
        .navigation .global-nav .dropdown-toggle {
          display: block;
          float: right; } }
    .navigation .global-nav .has-submenu {
      position: relative; }
    .navigation .global-nav .has-submenu .submenu {
      display: none;
      position: absolute;
      padding: 0; }
      .navigation .global-nav .has-submenu .submenu a {
        font-size: 1.2rem; }
    .navigation .global-nav .has-submenu.open .menu-item-heading {
      border-bottom: 2px solid #B94650; }
    .navigation .global-nav .has-submenu.open .submenu {
      display: block; }
    .navigation .global-nav .row {
      width: 100%; }
      @media only screen and (max-width: 500px) {
        .navigation .global-nav .row {
          display: none; } }
  .navigation .menu-item-heading {
    color: #FFFFFF;
    padding-top: 6px;
    height: 38px;
    width: 93px; }

.submenu-item {
  list-style: none; }
  .submenu-item a {
    background-color: #FFFFFF;
    padding: 12px 25px;
    text-align: left;
    min-width: 155px;
    color: #1F1F1F;
    border-bottom: 1px solid #cccccc; }
    .submenu-item a:hover {
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      background-color: #e7e7e7; }
  .submenu-item:last-child a {
    border-bottom: none; }

/* ============================== Mini Cart */
.mini-cart {
  display: inline-block; }
  .mini-cart__text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-right: 8px; }
  .mini-cart__toggle {
    min-width: 72px;
    background-color: transparent;
    padding: 0;
    border: none;
    position: relative; }
  .mini-cart__visible-label--amount, .mini-cart__visible-label--subtotal {
    position: absolute;
    text-align: center;
    color: #000; }
  .mini-cart__visible-label--amount {
    background-color: #FFFFFF;
    color: #1F1F1F;
    border-radius: 50%;
    font-size: 1.4rem;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.4rem; }
  .mini-cart__visible-label--subtotal {
    top: 25px; }
  .mini-cart__dropdown {
    position: absolute;
    top: 82px;
    right: -20px;
    width: 330px;
    display: none;
    background: #FFFFFF;
    z-index: 1;
    box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.31);
    z-index: 100;
    padding: 16px; }
    .mini-cart__dropdown:before {
      top: 0;
      right: 0;
      margin-left: 18px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      box-sizing: border-box;
      border: 12px solid black;
      border-color: transparent transparent #FFFFFF #FFFFFF;
      transform-origin: 0 0;
      transform: rotate(-225deg);
      box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.11); }
    .mini-cart__dropdown.expanded {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
  .mini-cart__features, .mini-cart__prices {
    width: 30%;
    margin: 0;
    font-size: 1.4rem;
    color: #1F1F1F;
    line-height: 18px; }
  .mini-cart__features {
    float: left; }
  .mini-cart__prices {
    float: right;
    text-align: right;
    margin-top: -22px; }
  .mini-cart__term, .mini-cart__description {
    float: left;
    width: 50%;
    margin: 0; }
    .mini-cart__term--full, .mini-cart__description--full {
      width: 100%; }
  .mini-cart__title {
    margin-bottom: 16px;
    font-size: 16px; }
  .mini-cart__quantity {
    font-size: 1.4rem;
    font-weight: 300; }
  .mini-cart__item-list {
    list-style-type: none;
    padding: 0; }
  .mini-cart__item {
    display: inline-block;
    width: 100%; }
  .mini-cart__item-link {
    text-decoration: none; }
    .mini-cart__item-link:hover, .mini-cart__item-link:focus {
      text-decoration: underline; }
  .mini-cart__image {
    float: left;
    margin: 0 1em 1em 0;
    width: 88px; }
  .mini-cart__item-title {
    font-size: 1.4rem;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0; }
  .mini-cart__item-price {
    margin-top: 0; }
  .mini-cart__summary {
    border-top: 1px solid #C8C8C8;
    padding-top: 24px;
    width: 100%; }
  .mini-cart__summary-subtotal {
    display: inline-block;
    width: 100%;
    margin-bottom: 16px; }
  .mini-cart__subtotal-title {
    float: left;
    font-size: 1.4rem;
    line-height: 22px; }
  .mini-cart__subtotal {
    float: right;
    font-size: 18px; }
  .mini-cart__summary-controls {
    display: inline-block;
    width: 100%; }
  .mini-cart__view-cart {
    text-decoration: none;
    padding: 0.5rem;
    float: left; }
    .mini-cart__view-cart:hover, .mini-cart__view-cart:focus {
      text-decoration: underline; }
  .mini-cart__checkout {
    text-align: center; }

/* =========================================== MODAL */
.modal-overlay {
  z-index: 2;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.modal-content {
  background-color: white;
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.modal[aria-hidden="true"] {
  display: none; }

.main {
  max-width: 728px;
  margin: 0 auto;
  padding: 0 1em; }

.modal-content {
  padding: 20px;
  max-width: 90%;
  width: 700px;
  border-radius: 2px; }

.modal-overlay {
  background-color: rgba(43, 46, 56, 0.9); }

.modal h1 {
  margin: 0;
  color: #2980b9;
  font-size: 1.25em; }

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.25em;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  cursor: pointer;
  transition: 0.15s; }

.modal-close:hover,
.modal-close:active {
  color: #e74c3c; }

/* ============================== Product Description */
.product-description {
  padding-right: calc((0px) + (57) * ((100vw - 600px) / (800 - 600))); }
  @media only screen and (min-width: 800px) {
    .product-description {
      padding-right: calc(10% - 6px); } }
  .product-description__title {
    font-size: 2.4rem;
    margin-bottom: 18px;
    font-weight: bold;
    display: none; }
  .product-description__price {
    display: block;
    line-height: 1;
    display: flex;
    margin-bottom: 18px;
    margin-top: 18px; }
  .product-description__price-now {
    display: block;
    flex-basis: 50%;
    font-weight: bold; }
    .product-description__price-now .price__dollar {
      font-size: 2rem; }
    .product-description__price-now .price__cents {
      font-size: 1.6rem; }
  .product-description__price-was {
    display: block;
    flex-basis: 25%;
    margin-left: 12px; }
    .product-description__price-was .price__dollar {
      font-size: 1.6rem; }
    .product-description__price-was .price__cents {
      font-size: 1.4rem; }
  .product-description__price-save {
    display: block;
    flex-basis: 25%; }
    .product-description__price-save .price__dollar {
      font-size: 1.8rem; }
    .product-description__price-save .price__cents {
      font-size: 1.4rem; }
  .product-description__radio-group {
    display: inline-block; }
  .product-description__summary {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 24px; }
  .product-description__color-and-size {
    margin-bottom: 24px; }
  .product-description__size {
    margin-top: 24px; }
  .product-description__input-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 6px; }
  .product-description .price__cents {
    vertical-align: top;
    line-height: 1.2; }

.price__label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 6px;
  text-transform: uppercase; }

.quantity-comp {
  display: inline-block;
  background-color: #FFFFFF;
  padding: 4px;
  border-radius: 18px;
  align-items: center;
  margin-bottom: 16px; }
  .quantity-comp__text {
    text-align: center;
    border: none;
    font-size: 1.6rem;
    font-weight: bold;
    display: inline-block;
    width: 50px;
    flex-grow: 1; }

.product-actions__add-to-cart {
  width: 234px;
  height: 40px; }

.product-rating {
  background-color: transparent;
  border: 0;
  outline: 0; }
  .product-rating__display {
    display: flex;
    flex-wrap: wrap; }
  .product-rating__prefix {
    margin-right: 12px;
    font-size: 1.2rem;
    font-weight: bold; }
  .product-rating__stars {
    margin-top: 8px;
    font-size: 1.2rem; }
  .product-rating__star {
    font-size: 20px;
    display: inline-block;
    margin: -4px 0 8px; }
  .product-rating__view-button {
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem; }
    .product-rating__view-button:focus {
      /* .product-rating__view-all {
				box-shadow: 0 0 3px rose;
			} */ }
  .product-rating__view-all {
    border: 1px solid #3575FF;
    color: #FFF;
    background-color: grey;
    padding: 10px;
    display: inline-block; }

@media only screen and (min-width: 1024px) {
  .product-description__title {
    display: block; }
  .product-description__price {
    margin-bottom: 36px;
    margin-top: 0; } }

/* ============================== Product Grid */
.productGrid {
  display: flex;
  justify-content: space-between; }
  .productGrid__filters-apply {
    width: 100%; }
  .productGrid__filters-wrapper {
    padding: 16px;
    font-size: 12px;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08); }
    .productGrid__filters-wrapper h2, .productGrid__filters-wrapper h3 {
      font-size: 1.4rem;
      margin-bottom: 8px; }
  .productGrid__filters-info {
    padding-bottom: 16px;
    margin-bottom: 8px;
    line-height: 22px;
    border-bottom: 1px solid #333333; }
  .productGrid__filters fieldset {
    border: 0;
    padding-bottom: 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid #333333; }
    .productGrid__filters fieldset:last-of-type {
      border-bottom: 0px; }
  .productGrid__filter {
    opacity: 0;
    position: absolute; }
    .productGrid__filter:checked + label {
      font-weight: bold; }
      .productGrid__filter:checked + label:before {
        background-color: #1F1F1F; }
    .productGrid__filter-label {
      position: relative;
      display: inline-block;
      padding-left: 38px;
      line-height: 33px; }
      .productGrid__filter-label:before, .productGrid__filter-label:after {
        position: absolute;
        display: inline-block; }
      .productGrid__filter-label:before {
        height: 24px;
        width: 24px;
        border: 1px solid;
        border-radius: 4px;
        left: 0px;
        top: 3px;
        content: ""; }
      .productGrid__filter-label:after {
        color: #FFFFFF;
        height: 5px;
        width: 14px;
        border-left: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(-45deg);
        left: 5px;
        top: 10px; }
  .productGrid__filter:focus + label::before {
    outline: #3b99fc auto 5px; }
  .productGrid__filter + label:after {
    content: none; }
  .productGrid__filter:checked + label:after {
    content: ""; }
  .productGrid__sort-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 8px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08); }
    @media only screen and (max-width: 1024px) {
      .productGrid__sort-menu {
        padding-left: 8px;
        padding-right: 8px; } }
    .productGrid__sort-menu h2 {
      font-size: 1.4rem;
      margin-right: 16px; }
      @media only screen and (max-width: 1024px) {
        .productGrid__sort-menu h2 {
          font-size: 1rem; } }
      @media only screen and (max-width: 800px) {
        .productGrid__sort-menu h2 {
          font-size: 0.75rem; } }
    .productGrid__sort-menu fieldset {
      border: none;
      font-size: 1.4rem; }
    .productGrid__sort-menu legend {
      float: left; }
    .productGrid__sort-menu ul {
      list-style: none;
      float: right;
      display: flex; }
      .productGrid__sort-menu ul li {
        padding-left: 24px;
        color: #B94650; }
    .productGrid__sort-menu button {
      padding: 0.5em; }
    .productGrid__sort-menu-heading {
      margin-bottom: 0;
      margin-left: auto;
      font-size: 1.4rem; }
      @media only screen and (max-width: 1024px) {
        .productGrid__sort-menu-heading {
          margin-left: 1em; } }
    .productGrid__sort-menu input {
      opacity: 0;
      width: 0; }
    .productGrid__sort-menu input:checked + label, .productGrid__sort-menu input:focus + label {
      text-decoration: underline; }
  .productGrid__grid {
    margin-bottom: 48px;
    flex-basis: inherit;
    max-width: inherit; }
  @media only screen and (min-width: 800px) {
    .productGrid__product-tiles {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 0 -6px; } }
  .productGrid__product-tile {
    margin-bottom: 18px; }
    @media only screen and (min-width: 800px) {
      .productGrid__product-tile {
        margin-left: 6px;
        margin-right: 6px;
        width: calc(100% / 2 - 12px); } }
    @media only screen and (min-width: 1024px) {
      .productGrid__product-tile {
        width: calc(100% / 3 - 12px); } }
    @media only screen and (min-width: 1200px) {
      .productGrid__product-tile {
        width: calc(100% / 4 - 12px); } }

.productsContainer {
  display: flex;
  flex-wrap: wrap; }
  .productsContainer .product {
    flex-basis: calc(25% - 16px);
    max-width: calc(25% - 16px);
    margin: 0 8px 16px; }
    @media only screen and (max-width: 1024px) {
      .productsContainer .product {
        flex-basis: calc(33% - 16px);
        max-width: calc(33% - 16px); } }
    @media only screen and (max-width: 800px) {
      .productsContainer .product {
        flex-basis: calc(50% - 16px);
        max-width: calc(50% - 16px); } }
    @media only screen and (max-width: 500px) {
      .productsContainer .product {
        flex-basis: calc(100% - 16px);
        max-width: calc(100% - 16px); } }

.pagination__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: center; }

.pagination__nav {
  margin: 0 16px;
  font-size: 1.2rem;
  min-width: 88px;
  text-transform: none; }
  .pagination__nav:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.pagination__index {
  color: #B94650;
  width: 32px;
  height: 32px;
  color: #1F1F1F;
  margin: 0 16px;
  border: none;
  background-color: transparent;
  cursor: pointer; }
  .pagination__index:hover, .pagination__index:focus {
    text-decoration: underline; }
  .pagination__index.active {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #1F1F1F;
    border-radius: 25px; }

.pagination__list-item {
  /* button{
			color: $rose;
			width: 32px;
			height: 32px;
			border: 0;
			background: #fff;
			margin: 0 16px;
			cursor: pointer;
			&:hover, &:focus {
				text-decoration: underline;
			}
		} */
  /* button.active{
			border: 1px solid $black;
			color: $black;
		} */ }

.product-card {
  height: 200px;
  width: 200px;
  border: 1px solid #666;
  margin: 4px;
  padding: 2px;
  display: inline-block; }

.product-reviews {
  font-size: 1.4rem; }
  .product-reviews .review-details,
  .product-reviews .rating-stars {
    margin: 6px 0; }
  .product-reviews .rating-summary {
    margin-bottom: 18px; }
    .product-reviews .rating-summary .rating-stars,
    .product-reviews .rating-summary .rating-total {
      display: inline-block; }
    .product-reviews .rating-summary .rating-stars {
      font-size: 2.4rem; }
    .product-reviews .rating-summary .rating-total {
      vertical-align: super;
      margin-left: 10px; }
    .product-reviews .rating-summary .review-total {
      font-weight: bold; }
  .product-reviews .user-ratings {
    list-style: none;
    padding: 0; }
    .product-reviews .user-ratings__list-item {
      margin-bottom: 18px; }
    .product-reviews .user-ratings a {
      font-weight: bold; }

/* ============================== PRODUCT TILE */
.product {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08); }
  .product img {
    max-width: 100%; }
  .product__details {
    border: 0 !important;
    text-decoration: none; }
  .product__heading {
    margin: 16px 0 0;
    min-height: 3.6rem;
    font-weight: bold;
    font-size: 1.4rem; }
  .product__cta {
    padding: 6px; }
    .product__cta.hide {
      display: none; }

.quantity-comp {
  align-items: center;
  margin-bottom: 16px;
  /* button {
		border: 1px solid $rose;
		font-size: 22px;
		color: $rose;
		width: 36px; // 56px;
		min-width: 36px; // 56px;
		height: 32px;
	} */ }
  .quantity-comp.show {
    display: flex; }
  .quantity-comp__text {
    text-align: center;
    border: none;
    font-size: 1.4rem;
    display: inline-block;
    width: 50px;
    flex-grow: 1; }

.price {
  margin: 16px 0; }
  .price__dollar {
    font-weight: bold;
    font-size: 1.8rem; }

.product-title {
  text-transform: uppercase;
  font-size: 2.4rem;
  margin-bottom: 18px; }

@media only screen and (min-width: 1024px) {
  .product-title {
    display: none; } }

/* ========================================= SIZE CHART */
.size-chart__link {
  display: block;
  font-size: 1.2rem;
  margin-top: 12px; }

.size-chart .btn {
  min-width: 170px; }

.toggle-size-units-button {
  border-radius: 24px;
  background-color: #FFFFFF;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 34px;
  padding: 1px 3px; }

.toggle-size-units-button .units-toggle {
  display: inline-block;
  width: 150px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px; }

.show-centimeters tr.inches {
  display: none; }

.show-inches tr.centimeters {
  display: none; }

.size-chart-table {
  border-spacing: 0;
  border: none; }
  .size-chart-table td {
    text-align: center;
    font-size: 1.4rem;
    height: 48px;
    width: 150px; }
  .size-chart-table th {
    text-align: center; }
  .size-chart-table td:not(:last-child),
  .size-chart-table th:not(:last-child) {
    border-right: 1px solid #d8d8d8; }
  .size-chart-table .divider td,
  .size-chart-table .divider th {
    border-bottom: 1px solid #d8d8d8; }
  .size-chart-table .highlight {
    background-color: #FFFFFF; }
  .size-chart-table tr:first-of-type th {
    font-size: 1.4rem;
    height: 48px;
    min-width: 90px;
    text-align: center; }
