/* Font */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
/* Icons */
@import url("https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css");
/* ============================== Global Styles */
* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

fieldset {
  border: 0;
  padding: 0; }

a:not(.btn) {
  color: #B94650;
  text-decoration: none;
  border-bottom: 2px solid transparent; }
  a:not(.btn):hover, a:not(.btn):focus {
    color: #90373D;
    border-bottom-color: #90373D; }

p {
  line-height: 1.3; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  margin: 0;
  color: #19191E; }

/* =============================================== HELPERS */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

.element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.skip-link {
  color: transparent;
  font-size: 12px;
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  left: -9999px; }
  .skip-link:focus {
    color: #B94650;
    height: auto;
    width: auto;
    position: static;
    display: inline-block;
    margin: 10px 0; }

.visibly-hidden {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
  left: -9999; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.wrapper, .container {
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto; }
  @media only screen and (min-width: 600px) {
    .wrapper, .container {
      padding: 0 calc((16 * 1px) + (74 - 16) * ((100vw - 600px) / (800 - 600))); } }
  @media only screen and (min-width: 800px) {
    .wrapper, .container {
      padding: 0 calc(100% / 12 + 8px); } }
  @media only screen and (min-width: 1440px) {
    .wrapper, .container {
      padding: 0 128px; } }

.container-2 {
  padding: 0 calc(0.025 * 100vw); }

.flex-row {
  display: flex; }

.two-col > * {
  width: 50%; }

.gutters {
  justify-content: space-between; }
  .gutters.two-col > * {
    width: calc(50% - 8px); }

/* ====================================== BUTTONS */
.btn {
  font-size: 1.4rem;
  padding: 16px;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: 1;
  display: inline-block;
  background: #B94650;
  color: white;
  vertical-align: middle;
  border-radius: 0;
  text-decoration: none;
  margin: 0; }
  .btn:not(:disabled):hover, .btn:focus {
    color: white;
    background: #90373D;
    text-decoration: underline; }
  .btn:disabled {
    background: #C8C8C8;
    cursor: not-allowed; }
  .btn--black {
    background: #19191E; }
    .btn--black:not(:disabled):hover, .btn--black:focus {
      background: #333333; }
  .btn--outline {
    color: #B94650;
    background: transparent;
    border: 1px solid #B94650; }
    .btn--outline:not(:disabled):hover, .btn--outline:focus {
      color: #90373D;
      border-color: #90373D;
      background: rgba(25, 25, 30, 0.05); }
  .btn--outline-black {
    color: #19191E;
    background: transparent;
    border: 1px solid #19191E; }
    .btn--outline-black:not(:disabled):hover, .btn--outline-black:focus {
      color: #333333;
      border-color: #333333;
      background: rgba(25, 25, 30, 0.05); }
  .btn--icon {
    font-size: 3rem;
    padding: 8px;
    min-width: 48px; }
    .btn--icon:disabled {
      opacity: 0.6; }
  .btn--block {
    display: block;
    width: 100%; }

/* ========================== FORM INPUTS */
.radio__input {
  opacity: 0;
  position: absolute; }
  .radio__input:checked + label::after {
    content: ""; }
  .radio__input:focus + label::before {
    outline: #3b99fc auto 5px; }

.radio__label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-right: 16px;
  cursor: pointer;
  font-size: 1.2rem; }
  .radio__label::before {
    border: 1px solid;
    border-radius: 50%;
    content: "";
    display: block;
    margin-right: 16px;
    height: 24px;
    width: 24px; }
  .radio__label::after {
    background: #B94650;
    border-radius: 50%;
    display: block;
    left: 5px;
    top: 5px;
    position: absolute;
    height: 16px;
    width: 16px; }

.checkbox__input {
  opacity: 0;
  position: absolute; }
  .checkbox__input:checked + label::after {
    content: ""; }
  .checkbox__input:focus + label::before {
    outline: #3b99fc auto 5px; }

.checkbox__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-bottom: 8px;
  margin-right: 16px;
  cursor: pointer;
  font-size: 1.2rem; }
  .checkbox__label::before {
    border: 1px solid;
    content: "";
    display: block;
    margin-right: 16px;
    height: 24px;
    width: 24px; }
  .checkbox__label::after {
    height: 5px;
    width: 14px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 5px;
    top: 8px;
    position: absolute;
    content: none; }

select {
  width: auto;
  padding: 0 40px 0 8px;
  font-size: 14px;
  border: 1px solid #19191E;
  height: 48px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: transparent;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 8px center;
  position: relative; }

/* ========================================== ACCORDION */
.accordion {
  padding: 0; }

.accordion-panel {
  list-style: none;
  margin-bottom: 16px; }

.accordion-panel_heading button {
  border-width: 1px;
  border-color: #19191E;
  border-style: solid;
  background-color: white;
  width: 100%;
  text-align: left;
  padding: 16px;
  font-size: 1.4rem;
  position: relative;
  cursor: pointer; }

.accordion-panel_heading button:after {
  content: '';
  position: absolute;
  right: 32px;
  top: 15px;
  border-style: solid;
  border-width: 0.12em 0.12em 0 0;
  display: inline-block;
  height: 0.75em;
  transform: rotate(135deg);
  vertical-align: top;
  width: 0.75em;
  transition: transform 0.25s ease-in-out; }

.accordion-panel_heading.accordion--open button {
  background-color: #e6e6e6; }

.accordion-panel_heading.accordion--open button:after {
  transform: rotate(-45deg); }

.accordion-panel_content {
  visibility: hidden;
  display: none;
  padding: 15px; }

.accordion-panel_content.accordion--open {
  visibility: visible;
  display: block; }

/* ============================================== Breadcrumb Styles */
.breadcrumb {
  font-size: 1.2rem;
  margin: 16px 0 32px;
  color: #333333; }
  .breadcrumb ol {
    margin: 0;
    padding-left: 0;
    list-style: none; }
  .breadcrumb li {
    display: inline; }
    .breadcrumb li + li::before {
      display: inline-block;
      margin: 0 .25em;
      content: '>'; }
  .breadcrumb [aria-current="page"], .breadcrumb a[aria-current="page"] {
    color: #333333;
    text-decoration: none; }
  @media only screen and (min-width: 1024px) {
    .breadcrumb {
      margin-top: 32px;
      margin-bottom: 16px; } }

/* ============================== CAROUSEL  */
.carousel-wrapper {
  margin-bottom: 40px;
  box-sizing: border-box; }
  .carousel-wrapper h2 {
    font-size: 1.4rem;
    margin-bottom: 8px; }

.carousel {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-flow: row nowrap; }
  .carousel__arrow {
    width: 40px;
    min-height: 120px;
    border: 1px solid black;
    font-size: 20px;
    background: #fff;
    cursor: pointer; }
    .carousel__arrow:disabled {
      cursor: not-allowed;
      opacity: 0.25;
      color: #19191E; }
  .carousel__container {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .carousel__items {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding-left: 0;
    transition: all 1s;
    transform: translateX(0px); }
  .carousel .card {
    padding: 10px;
    min-width: 270px; }

/* ============================== FOOTER */
.footer {
  background: #f4f0ec;
  padding: 32px 0;
  font-size: 1.4rem; }
  .footer .row {
    justify-content: space-between; }
  .footer a {
    text-decoration: none;
    margin-bottom: 8px;
    display: inline-block; }
  .footer__nav {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    position: relative; }
  .footer__heading--newsletter {
    padding: 5px;
    font-size: 1.8rem;
    margin: 0 0 16px; }
  .footer__list {
    list-style: none;
    display: inline-block;
    padding: 0; }
    .footer__list--legal {
      width: 100%;
      font-size: 12px; }
      .footer__list--legal a {
        text-decoration: underline;
        padding-left: 24px;
        border: 0; }
      .footer__list--legal > li {
        display: inline-block; }
    .footer__list--social-links {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: flex;
      width: 50%; }
  .footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 60px; }
    .footer__form-input {
      display: block;
      padding: 5px;
      width: 280px;
      margin: 0 auto 48px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #19191E;
      color: #19191E;
      font-size: 1.4rem;
      line-height: 1.6rem; }
    .footer__form-submit {
      width: 224px; }
  .footer__link {
    padding: 5px 0; }
    .footer__link--social-media {
      display: inline-block;
      flex-basis: 60px; }
      .footer__link--social-media a {
        width: 24px;
        text-align: center;
        border: 0; }
  .footer__column {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid; }
  .footer__icon {
    font-size: 3.6rem;
    color: #B94650;
    margin-right: 36px; }
    .footer__icon:hover, .footer__icon:focus {
      color: #90373D; }
  .footer a:hover, .footer:focus {
    color: #90373D; }

.secondary-nav {
  display: flex;
  height: 190px;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%; }
  .secondary-nav__link {
    width: 50%; }

.input__placeholder-label {
  position: relative; }
  .input__placeholder-label > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 26px;
    transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    color: #636363; }
  .input__placeholder-label > input:focus + label, .input__placeholder-label > .edited + label {
    top: 26px;
    font-size: 12px;
    color: #333333; }
  .input__placeholder-label > input:focus.has-error + label, .input__placeholder-label > .edited.has-error + label {
    color: firebrick; }

.input__validation-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -26px;
  font-size: 12px;
  color: firebrick; }
  input:focus + label .input__validation-message, .edited + label .input__validation-message {
    bottom: -16px; }

@media screen and (max-width: 600px) {
  .footer {
    text-align: center; }
    .footer__list--2-column {
      width: 100%;
      columns: 1;
      margin-right: 0; }
    .footer__list--legal > li {
      display: block; }
    .footer__form {
      float: left;
      width: 100%; } }

/* ==================================== GALLERY */
.gallery {
  max-width: 100vw; }

.gallery__main-image__container {
  position: relative;
  max-height: 900px; }
  .gallery__main-image__container img {
    width: 100%;
    height: auto;
    display: block; }

.gallery__main-image__inner-container {
  max-width: 100vw;
  max-height: 600px; }

.gallery__main-image__zoom {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
  display: flex; }
  .gallery__main-image__zoom .btn--outline {
    background: white; }
    .gallery__main-image__zoom .btn--outline:not(:disabled):hover, .gallery__main-image__zoom .btn--outline:focus {
      background: #f2f2f2; }

.gallery__minimize {
  margin-left: auto; }

.gallery__thumbnail-list {
  margin-top: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }

.gallery__thumbnail-list button {
  border: 0; }

.gallery__thumbnail-list button img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  display: block; }

.gallery__thumbnail-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden; }
  .gallery__thumbnail-container .btn {
    position: absolute;
    z-index: 2; }
  .gallery__thumbnail-container .thumbnail__scroll-right {
    right: 0; }

@media only screen and (min-width: 600px) {
  .gallery {
    max-width: 600px;
    margin-top: 32px; }
  .gallery__main-image__inner-container {
    max-width: 600px;
    max-height: 900px; }
  .gallery__thumbnail-list button {
    width: 100px;
    height: 100px; }
  .gallery__thumbnail-list {
    margin-top: 20px; } }

/* ============================== GLOBAL NAV */
.navigation {
  background-color: #f4f0ec;
  padding: 25px 0; }
  .navigation__items {
    display: flex;
    align-items: center; }
  .navigation__logo:not(.btn) {
    align-items: center;
    color: #333;
    display: flex;
    text-decoration: none; }
    .navigation__logo:not(.btn) img {
      margin-right: 16px; }
    .navigation__logo:not(.btn):hover, .navigation__logo:not(.btn):focus {
      border-bottom-color: transparent; }
    @media only screen and (max-width: 1024px) {
      .navigation__logo:not(.btn) {
        margin: auto; } }
  .navigation-mini-cart, .navigation .mini-cart {
    align-items: right;
    display: flex;
    order: 3; }
    @media only screen and (max-width: 1024px) {
      .navigation-mini-cart, .navigation .mini-cart {
        order: 2;
        padding-right: 0.5em; } }
  .navigation__siteName {
    font-family: Georgia, Times, Palatino, serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.1;
    margin-right: 32px; }
  .navigation .global-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 2; }
    @media only screen and (max-width: 500px) {
      .navigation .global-nav {
        order: 3;
        width: 100vw; } }
    @media only screen and (max-width: 1024px) {
      .navigation .global-nav {
        display: initial;
        order: -1; } }
    .navigation .global-nav__items {
      display: flex;
      list-style: none; }
      @media only screen and (max-width: 1024px) {
        .navigation .global-nav__items {
          display: none;
          background-color: #f4f0ec;
          z-index: 2;
          position: absolute;
          left: 0;
          width: 100%; } }
    .navigation .global-nav__item {
      display: block;
      padding: 8px 24px 4px;
      text-align: left; }
      .navigation .global-nav__item a {
        display: inline-block;
        font-size: 1.8rem;
        text-decoration: none;
        border-bottom: 2px solid transparent; }
        .navigation .global-nav__item a:hover, .navigation .global-nav__item a:focus {
          text-decoration: none;
          border-bottom: 2px solid #B94650; }
      @media only screen and (max-width: 1024px) {
        .navigation .global-nav__item {
          padding-left: 56px; } }
    .navigation .global-nav .dropdown-toggle {
      display: none; }
      .navigation .global-nav .dropdown-toggle[aria-expanded="true"] + .global-nav__items {
        display: block;
        padding: 0; }
      @media only screen and (max-width: 1024px) {
        .navigation .global-nav .dropdown-toggle {
          display: block; } }
    .navigation .global-nav .has-submenu {
      position: relative; }
    .navigation .global-nav .has-submenu .submenu {
      display: none; }
      .navigation .global-nav .has-submenu .submenu a {
        font-size: 1.4rem; }
    .navigation .global-nav .has-submenu.open .menu-item-heading {
      border-bottom: 2px solid #B94650; }
    .navigation .global-nav .has-submenu.open .submenu {
      display: block;
      position: absolute;
      padding: 17px;
      width: 220px;
      left: calc(50% - 12px);
      margin: 42px 12px 0 12px;
      background: #FFFFFF;
      box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.31);
      z-index: 100;
      transform: translateX(-50%); }
      .navigation .global-nav .has-submenu.open .submenu:before {
        top: 0;
        left: 50%;
        margin-left: 18px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        box-sizing: border-box;
        border: 12px solid black;
        border-color: transparent transparent #FFFFFF #FFFFFF;
        transform-origin: 0 0;
        transform: rotate(-225deg);
        box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.11); }

.submenu-item {
  list-style: none; }

/* ============================== Mini Cart */
.mini-cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-left: auto; }
  .mini-cart__toggle {
    background-color: transparent;
    background-image: url("../images/cart.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    padding: 0;
    width: 46px;
    height: 44px;
    border: none;
    position: relative;
    background-position: left bottom; }
  .mini-cart__visible-label--amount, .mini-cart__visible-label--subtotal {
    position: absolute;
    text-align: center;
    color: #000; }
  .mini-cart__visible-label--amount {
    top: 0;
    right: 0;
    background-color: #B94650;
    color: #fff;
    border-radius: 50%;
    font-size: 1.4rem;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.4rem; }
  .mini-cart__visible-label--subtotal {
    top: 25px; }
  .mini-cart__dropdown {
    position: absolute;
    top: 82px;
    right: -20px;
    width: 330px;
    display: none;
    background: #FFFFFF;
    z-index: 1;
    box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.31);
    z-index: 100;
    padding: 16px; }
    .mini-cart__dropdown:before {
      top: 0;
      right: 0;
      margin-left: 18px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      box-sizing: border-box;
      border: 12px solid black;
      border-color: transparent transparent #FFFFFF #FFFFFF;
      transform-origin: 0 0;
      transform: rotate(-225deg);
      box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.11); }
    .mini-cart__dropdown.expanded {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
  .mini-cart__features, .mini-cart__prices {
    width: 30%;
    margin: 0;
    font-size: 1.4rem;
    color: #19191E;
    line-height: 18px; }
  .mini-cart__features {
    float: left; }
  .mini-cart__prices {
    float: right;
    text-align: right;
    margin-top: -22px; }
  .mini-cart__term, .mini-cart__description {
    float: left;
    width: 50%;
    margin: 0; }
    .mini-cart__term--full, .mini-cart__description--full {
      width: 100%; }
  .mini-cart__title {
    margin-bottom: 16px;
    font-size: 16px; }
  .mini-cart__quantity {
    font-size: 1.4rem;
    font-weight: 300; }
  .mini-cart__item-list {
    list-style-type: none;
    padding: 0; }
  .mini-cart__item {
    display: inline-block;
    width: 100%; }
  .mini-cart__item-link {
    text-decoration: none; }
    .mini-cart__item-link:hover, .mini-cart__item-link:focus {
      text-decoration: underline; }
  .mini-cart__image {
    float: left;
    margin: 0 1em 1em 0;
    width: 88px; }
  .mini-cart__item-title {
    font-size: 1.4rem;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0; }
  .mini-cart__item-price {
    margin-top: 0; }
  .mini-cart__summary {
    border-top: 1px solid #C8C8C8;
    padding-top: 24px;
    width: 100%; }
  .mini-cart__summary-subtotal {
    display: inline-block;
    width: 100%;
    margin-bottom: 16px; }
  .mini-cart__subtotal-title {
    float: left;
    font-size: 1.4rem;
    line-height: 22px; }
  .mini-cart__subtotal {
    float: right;
    font-size: 18px; }
  .mini-cart__summary-controls {
    display: inline-block;
    width: 100%; }
  .mini-cart__view-cart {
    text-decoration: none;
    padding: 0.5rem;
    float: left; }
    .mini-cart__view-cart:hover, .mini-cart__view-cart:focus {
      text-decoration: underline; }
  .mini-cart__checkout {
    text-align: center; }

/* =========================================== MODAL */
.modal-overlay {
  z-index: 2;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.modal-content {
  background-color: white;
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.modal[aria-hidden="true"] {
  display: none; }

.main {
  max-width: 728px;
  margin: 0 auto;
  padding: 0 1em; }

.modal-content {
  padding: 20px;
  max-width: 90%;
  width: 700px;
  border-radius: 2px; }

.modal-overlay {
  background-color: rgba(43, 46, 56, 0.9); }

.modal h1 {
  margin: 0;
  color: #2980b9;
  font-size: 1.25em; }

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.25em;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  cursor: pointer;
  transition: 0.15s; }

.modal-close:hover,
.modal-close:active {
  color: #e74c3c; }

/* ============================== Product Description */
.product-description {
  padding-right: calc((0px) + (57) * ((100vw - 600px) / (800 - 600))); }
  @media only screen and (min-width: 800px) {
    .product-description {
      padding-right: calc(10% - 8px); } }
  .product-description__title {
    text-transform: uppercase;
    font-size: 4.2rem;
    margin-bottom: 24px; }
  .product-description__price {
    display: block;
    line-height: 1;
    display: flex;
    margin-bottom: 48px; }
  .product-description__price-now {
    display: block;
    flex-basis: 50%;
    font-weight: bold; }
    .product-description__price-now .price__dollar {
      font-size: 3.6rem; }
    .product-description__price-now .price__cents {
      font-size: 1.6rem; }
  .product-description__price-was {
    margin-left: 16px; }
  .product-description__price-save, .product-description__price-was {
    display: block;
    flex-basis: 25%; }
    .product-description__price-save .price__dollar, .product-description__price-was .price__dollar {
      font-size: 2.4rem; }
    .product-description__price-save .price__cents, .product-description__price-was .price__cents {
      font-size: 1.4rem; }
  .product-description__summary {
    font-size: 1.8rem;
    margin-bottom: 32px; }
  .product-description__color-and-size {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 32px; }
    .product-description__color-and-size > * {
      width: calc(50% - 8px); }
  .product-description__input-title {
    font-size: 1.4rem;
    margin-bottom: 8px; }
  .product-description .price__cents {
    vertical-align: top;
    line-height: 1.2; }
  .product-description .quantity-comp {
    display: flex; }

.price__label {
  display: block;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 8px;
  text-transform: uppercase; }

.size-chart__link {
  font-size: 1.2rem;
  width: auto; }

.product-actions {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex; }
  .product-actions > * {
    width: calc(50% - 8px); }
  .product-actions__add-to-cart {
    margin-bottom: 8px; }

.quantity-comp {
  display: flex;
  align-items: center;
  margin-bottom: 16px; }
  .quantity-comp__text {
    text-align: center;
    border: none;
    font-size: 1.4rem;
    display: inline-block;
    width: 50px;
    flex-grow: 1; }

.product-rating {
  background-color: transparent;
  border: 0;
  outline: 0; }
  .product-rating__display {
    display: flex;
    flex-wrap: wrap;
    height: 48px;
    margin-bottom: 16px; }
  .product-rating__prefix {
    margin-right: 16px;
    font-size: 1.4rem; }
  .product-rating__stars {
    font-size: 1.2rem; }
  .product-rating__star {
    font-size: 20px;
    display: inline-block;
    margin: -4px 0 8px; }
  .product-rating__view-button {
    cursor: pointer;
    text-align: center; }
    .product-rating__view-button:focus {
      /* .product-rating__view-all {
				box-shadow: 0 0 3px rose;
			} */ }
  .product-rating__view-all {
    border: 1px solid #3575FF;
    color: #FFF;
    background-color: grey;
    padding: 10px;
    display: inline-block; }

/* ============================== Product Grid */
.productGrid {
  display: flex;
  justify-content: space-between; }
  .productGrid__filters-wrapper {
    padding: 16px;
    font-size: 12px;
    background-color: #f4f0ec; }
    .productGrid__filters-wrapper h2, .productGrid__filters-wrapper h3 {
      font-size: 1.4rem;
      margin-bottom: 8px; }
  .productGrid__filters-info {
    padding-bottom: 16px;
    margin-bottom: 8px;
    line-height: 22px;
    border-bottom: 1px solid #333333; }
  .productGrid__filters fieldset {
    border: 0;
    padding-bottom: 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid #333333; }
    .productGrid__filters fieldset:last-of-type {
      border-bottom: 0px; }
  .productGrid__filter {
    opacity: 0;
    position: absolute; }
    .productGrid__filter-label {
      position: relative;
      display: inline-block;
      padding-left: 38px;
      line-height: 33px; }
      .productGrid__filter-label:before, .productGrid__filter-label:after {
        position: absolute;
        display: inline-block; }
      .productGrid__filter-label:before {
        height: 24px;
        width: 24px;
        border: 1px solid;
        left: 0px;
        top: 3px;
        content: ""; }
      .productGrid__filter-label:after {
        height: 5px;
        width: 14px;
        border-left: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(-45deg);
        left: 5px;
        top: 10px; }
  .productGrid__filter:focus + label::before {
    outline: #3b99fc auto 5px; }
  .productGrid__filter + label:after {
    content: none; }
  .productGrid__filter:checked + label:after {
    content: ""; }
  .productGrid__sort-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f0ec;
    padding: 8px 16px;
    margin-bottom: 16px; }
    @media only screen and (max-width: 1024px) {
      .productGrid__sort-menu {
        padding-left: 8px;
        padding-right: 8px; } }
    .productGrid__sort-menu h2 {
      font-size: 1.4rem;
      margin-right: 16px; }
      @media only screen and (max-width: 1024px) {
        .productGrid__sort-menu h2 {
          font-size: 1rem; } }
      @media only screen and (max-width: 800px) {
        .productGrid__sort-menu h2 {
          font-size: 0.75rem; } }
    .productGrid__sort-menu fieldset {
      border: none;
      font-size: 1.4rem; }
    .productGrid__sort-menu legend {
      float: left; }
    .productGrid__sort-menu ul {
      list-style: none;
      float: right;
      display: flex; }
      .productGrid__sort-menu ul li {
        padding-left: 24px;
        color: #B94650; }
    .productGrid__sort-menu button {
      padding: 0.5em; }
    .productGrid__sort-menu-heading {
      margin-bottom: 0;
      margin-left: auto;
      font-size: 1.4rem; }
      @media only screen and (max-width: 1024px) {
        .productGrid__sort-menu-heading {
          margin-left: 1em; } }
    .productGrid__sort-menu input {
      opacity: 0;
      width: 0; }
    .productGrid__sort-menu input:checked + label, .productGrid__sort-menu input:focus + label {
      text-decoration: underline; }
  .productGrid__grid {
    margin-bottom: 48px;
    flex-basis: inherit;
    max-width: inherit; }
  @media only screen and (min-width: 800px) {
    .productGrid__product-tiles {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 0 -8px; } }
  .productGrid__product-tile {
    margin-bottom: 24px; }
    @media only screen and (min-width: 800px) {
      .productGrid__product-tile {
        margin-left: 8px;
        margin-right: 8px;
        width: calc(100% / 2 - 16px); } }
    @media only screen and (min-width: 1024px) {
      .productGrid__product-tile {
        width: calc(100% / 3 - 16px); } }
    @media only screen and (min-width: 1200px) {
      .productGrid__product-tile {
        width: calc(100% / 4 - 16px); } }

.productsContainer {
  display: flex;
  flex-wrap: wrap; }
  .productsContainer .product {
    flex-basis: calc(25% - 16px);
    max-width: calc(25% - 16px);
    margin: 0 8px 16px; }
    @media only screen and (max-width: 1024px) {
      .productsContainer .product {
        flex-basis: calc(33% - 16px);
        max-width: calc(33% - 16px); } }
    @media only screen and (max-width: 800px) {
      .productsContainer .product {
        flex-basis: calc(50% - 16px);
        max-width: calc(50% - 16px); } }
    @media only screen and (max-width: 500px) {
      .productsContainer .product {
        flex-basis: calc(100% - 16px);
        max-width: calc(100% - 16px); } }

.pagination__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: center; }

.pagination__nav {
  border: 1px solid #B94650;
  color: #B94650;
  width: 50px;
  height: 32px;
  border: 1px solid #B94650;
  background: #fff;
  margin: 0 16px;
  font-size: 20px; }
  .pagination__nav:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.pagination__index {
  color: #B94650;
  width: 32px;
  height: 32px;
  border: 0;
  background: #fff;
  margin: 0 16px;
  cursor: pointer; }
  .pagination__index:hover, .pagination__index:focus {
    text-decoration: underline; }
  .pagination__index.active {
    border: 1px solid #19191E;
    color: #19191E; }

.pagination__list-item {
  /* button{
			color: $rose;
			width: 32px;
			height: 32px;
			border: 0;
			background: #fff;
			margin: 0 16px;
			cursor: pointer;
			&:hover, &:focus {
				text-decoration: underline;
			}
		} */
  /* button.active{
			border: 1px solid $black;
			color: $black;
		} */ }

.product-card {
  height: 200px;
  width: 200px;
  border: 1px solid #666;
  margin: 4px;
  padding: 2px;
  display: inline-block; }

.rating-summary {
  margin-bottom: 24px; }

.user-ratings {
  list-style: none;
  padding: 0; }
  .user-ratings__list-item {
    margin-bottom: 8px; }

/* ============================== PRODUCT TILE */
.product {
  border: #C8C8C8 solid thin;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .product img {
    max-width: 100%; }
  .product__details {
    border: 0 !important; }
  .product__heading {
    margin: 16px 0 0;
    font-size: 1.4rem;
    min-height: 3.6rem; }
  .product__cta {
    padding: 8px; }
    .product__cta.hide {
      display: none; }

.quantity-comp {
  display: none;
  align-items: center;
  margin-bottom: 16px;
  /* button {
		border: 1px solid $rose;
		font-size: 22px;
		color: $rose;
		width: 36px; // 56px;
		min-width: 36px; // 56px;
		height: 32px;
	} */ }
  .quantity-comp.show {
    display: flex; }
  .quantity-comp__text {
    text-align: center;
    border: none;
    font-size: 1.4rem;
    display: inline-block;
    width: 50px;
    flex-grow: 1; }

.price {
  margin: 16px 0; }
  .price__dollar {
    font-size: 14px; }
  .price__cents {
    font-size: 12px;
    vertical-align: super; }

/* ========================================= SIZE CHART */
.toggle-size-units-button {
  padding: 10px 0;
  border: 2px solid black;
  background: none;
  border-radius: 5px; }

.toggle-size-units-button .units-toggle {
  padding: 10px; }

.toggle-size-units-button .selected {
  color: red;
  background: #CCC;
  border-radius: 5px; }

.show-centimeters tr.inches {
  display: none; }

.show-inches tr.centimeters {
  display: none; }

.size-chart-table th,
.size-chart-table td {
  border: 1px solid black; }

.size-chart-table tr:first-of-type th {
  font-size: 1.3em;
  min-width: 90px; }
