.element-invisible {
	position: absolute !important;
	height: 1px; width: 1px; 
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.skip-link {
	color: transparent;
	height: 0;
}

.skip-link:focus {
	color: initial;
	height: auto;
}
