@import 'variables';

.wrapper, .container{
    max-width: $max-width;
    padding: 0 $grid-unit * 2;
    margin: 0 auto;
    @media only screen and (min-width: 600px){
        padding: 0 calc((16 * 1px) + (74 - 16) * ((100vw - 600px) / (800 - 600))); //Creates a linear transition to shrink padding smoothly between defined values
    }
    @media only screen and (min-width: 800px){
        padding: 0 calc(100% / 12 + #{$grid-unit});
    }
    @media only screen and (min-width: $max-width){
        padding: 0 128px;
    }
}
.container-2{
    padding: 0 calc(0.025 * 100vw);
}
.flex-row{
    display: flex;
}
.two-col > *{
    width: 50%;
}
.gutters{
    justify-content: space-between;
    &.two-col > *{
        width: calc(50% - #{$grid-unit});
    }
}