@import '../scss/variables';
/* =============================================== HELPERS */
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.element-invisible {
	position: absolute !important;
	height: 1px; width: 1px; 
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.divider {
  margin: 23px 0;
}

.skip-link {
	color: transparent;
	font-size: 12px;
	height: 1px;
	width: 1px;
	position: absolute;
	overflow: hidden;
	left: -9999px;
   &:focus {
      color: $rose;
		height: auto;
		width: auto;
		position: static;
		display: inline-block;
		margin: 10px 0;
   }
}

.visibly-hidden {
	visibility: hidden;
	height: 0;
	width: 0;
	position: absolute;
	left: -9999;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}