@import 'variables';

@mixin flex-grid($columns: 2, $gutters: true) {
    @if $columns == 'auto'{
        &>*{
            flex: 1;
        }
    }@else{
        $column-width: 100% / $columns;
        @if $gutters {
            &>* {
                width: calc(#{$column-width} - #{$grid-unit});
            }
            justify-content: space-between;
        }
        @else {
            &>* {
                width: $column-width;
            }
        }
        flex-wrap: wrap;
    }
    display: flex;
}