/* COLOURS */
$blue: #3575FF; 
$dark-blue: #2A5FD2;
$white: #FFFFFF;
$light-grey: #F2F2F2;
$grey: #C8C8C8;
$medium-grey: #636363;
$dark-grey: #333333;
$black: #19191E;
$error-red: firebrick;
$black-transparent: rgba(25,25,30,0.75);
$beige: #f4f0ec;
$rose: #B94650;
$dark-rose: #90373D;

$mobile: 500px;
$phablet: 800px;
$tablet: 1024px;
$desktop: 1200px;
$max-width: 1440px;

$grid-unit: 8px;

$input-size: 24px;

/*
=========================================== FONT SIZES

We're using REM based on a 10px root value set on html
Makes the maths easy, e.g.: 1.6rem = 16px
body is set to 1.6rem in global.scss
*/
$font-xxl: 4.2rem;
$font-xl: 3.6rem;
$font-lg: 1.8rem;
$font-md: 1.6rem;
$font-sm: 1.4rem;
$font-xs: 1.2rem;
