/* COLOURS */
$blue: #3575FF; 
$dark-blue: #2A5FD2;
$white: #FFFFFF;
$light-grey: #F2F2F2;
$grey: #C8C8C8;
$medium-grey: #6E6E6E;
$dark-grey: #333333;
$black: #19191E;
$error-red: firebrick;
$black-transparent: rgba(25,25,30,0.75);
