/* Font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
@import 'variables';
@import 'mixins';
@import url("helpers.css");
@import url("flexboxgrid.css");

/* Component Styles */
@import url("../components/global-nav/global-nav.css");
@import url("../components/breadcrumb/breadcrumb.css");
@import url("../components/mini-cart/mini-cart.css");
@import url("../components/product-grid/product-grid.css");
@import url("../components/product-tile/product-tile.css");
@import url("../components/carousel/carousel.css");
@import url("../components/footer/footer.css");

/* Global Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 500;
}
fieldset{
  border: 0;
}

a {
  color: $rose;
  text-decoration: none;
  &:hover{
      color: $dark-rose;
      text-decoration: underline;
  }
}
p{
  line-height: 1.3;
}

html {
  font-size: 62.5%; // (for REM): 62.5% = 10px for most browsers if the default font size is 16px.
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: $font-md; // 1.6rem (16px) for most browsers
  letter-spacing: 0.05em;
}
.wrapper{
  max-width: $max-width;
  padding: 0 $grid-unit * 2;
  margin: 0 auto;
}