@import 'variables';

.radio {
    &__input {
        opacity: 0;
        position: absolute;
        &:checked + label{
            &::after{
                content:"";
            }
        }
    }
    &__label {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: $grid-unit;
        margin-right: $grid-unit * 2;
        cursor: pointer;
        font-size: $font-xs;
        &::before {
            border: 1px solid;
            border-radius: 50%;
            content: "";
            display: block;
            margin-right: $grid-unit * 2;
            height: $input-size;
            width: $input-size;
        }
        &::after{
            background: $rose;
            border-radius: 50%;
            display: block;
            left: 5px;
            top: 5px;
            position: absolute;
            height: $input-size - 8px;
            width: $input-size - 8px;
        }
    }
}