@import 'variables';
@import 'mixins';

.product-details {
    margin-bottom: $grid-unit * 5;
    @include flex-grid(2);
}

/* Photo Gallery Style Starts */

.modal-overlay {
    z-index: 2;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.66);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.modal-content {
    background-color: white;
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal[aria-hidden="true"] {
    display: none;
}

.main {
    max-width: 728px;
    margin: 0 auto;
    padding: 0 1em;
}

.modal-content {
    padding: 20px;
    max-width: 90%;
    width: 700px;
    border-radius: 2px;
}

.modal-overlay {
    background-color: rgba(43, 46, 56, 0.9);
}

.modal h1 {
    margin: 0;
    color: #2980b9;
    font-size: 1.25em;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.25em;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    cursor: pointer;
    transition: 0.15s;
}

.modal-close:hover,
.modal-close:active {
    color: #e74c3c;
}

.gallery {
    max-width: 100vw;
}

.gallery__main-image__container {
    position: relative;
    max-height: 900px;
}

#gallery__main-image {
    width: 100%;
    height: auto;
}

.gallery__main-image__inner-container {
    max-width: 100vw;
    max-height: 600px;
}

.gallery{
    &__main-image{
        &__zoom {
            position: absolute;
            width: 100%;
            bottom: 4px;
            left: 0;
            display: flex;
        }
    }
    &__minimize{
        margin-left: auto;
    }
    &__thumbnail-list {
        margin-top: 10px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
    &__thumbnail-list-item {
        flex: 1 0 20%;
    }
}


.gallery__thumbnail-list button {
    // width: 65px;
    // height: 65px;
    border: 0;
}

.gallery__thumbnail-list button img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    display: block;
}

@media only screen and (min-width: 600px) {
    .gallery {
        max-width: 600px;
    }
    .gallery__main-image__inner-container {
        max-width: 600px;
        max-height: 900px;
    }
    .gallery__thumbnail-list button {
        width: 100px;
        height: 100px;
    }
    .gallery__thumbnail-list {
        margin-top: 20px;
    }
}

/* Photo Gallery Style Ends */

/* Accordion Sizing Tables Reviews Style Starts */

#toggle-size-units-button {
    padding: 10px 0;
    border: 2px solid black;
    background: none;
    border-radius: 5px;
}

#toggle-size-units-button .units-toggle {
    padding: 10px;
}

#toggle-size-units-button .selected {
    color: red;
    background: #CCC;
    border-radius: 5px;
}

.show-centimeters tr.inches {
    display: none;
}

.show-inches tr.centimeters {
    display: none;
}

#size-chart-table th,
#size-chart-table td {
    border: 1px solid black;
}

#size-chart-table tr:first-of-type th {
    font-size: 1.3em;
    min-width: 90px;
}

.accordion-panel {
    list-style: none;
    margin-bottom: $grid-unit * 2;
}

.accordion-panel_heading button {
    border-width: 1px;
    border-color:$black;
    // border-bottom: 1px #c5c5c5 solid;
    background-color:white;
    width: 100%;
    text-align: left;
    padding: $grid-unit *2;
    font-size: $font-sm;
    position: relative;
    cursor: pointer;
}

.accordion-panel_heading button:after {
    content: '';
    position: absolute;
    right: $grid-unit * 4;
    top: 15px;
    border-style: solid;
    border-width: 0.12em 0.12em 0 0;
    display: inline-block;
    height: 0.75em;
    transform: rotate(135deg);
    vertical-align: top;
    width: 0.75em;
    transition: transform 1s;
}

.accordion-panel_heading.accordion--open button {
    background-color: #e6e6e6;
}

.accordion-panel_heading.accordion--open button:after {
    transform: rotate(-45deg);
}

.accordion-panel_content {
    visibility: hidden;
    display: none;
    padding: 15px;
}

.accordion-panel_content.accordion--open {
    visibility: visible;
    display: block;
}

/* Accordion Sizing Tables Reviews Style Ends */