/* ===================================== PRODUCT DETAILS PAGE */
@media only screen and (min-width: 1024px) {
  .main-content {
    width: 1020px;
    margin: 50px auto; } }

.main-content .description-container,
.main-content .gallery-container {
  display: inline-block; }

.main-content .gallery-container {
  width: 50%; }

.main-content .description-container {
  vertical-align: top;
  width: 49%; }

.product-details {
  margin-bottom: 40px; }
