/* ===================================== PRODUCT DETAILS PAGE */
.product-details {
  margin-bottom: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex; }
  .product-details > * {
    width: calc(50% - 8px); }
