<!-- Reviews START -->
<div id="reviews" class="product-reviews">
  <div class="rating-summary">
    <div class="rating-stars" aria-hidden="true">
      <span class="icon ion-md-star"></span>
      <span class="icon ion-md-star"></span>
      <span class="icon ion-md-star"></span>
      <span class="icon ion-md-star-half" aria-hidden="true"></span>
      <span class="icon ion-md-star-outline" ></span>
    </div>

    <div class="rating-total">3.5 out of 5 stars</div>
    <div class="element-invisible">based on</div>
    <div class="review-total">156 Reviews</div>
  </div>

  <ul class="user-ratings" aria-labelledby="customer-review-title">

    <li class="user-ratings__list-item">
      <div class="element-invisible">Customer review 1 of 5</div>

      <div class="rating-stars" aria-hidden="true">
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star-outline" ></span>
      </div>
      <div class="element-invisible">4 out of 5 stars</div>
      <strong>Not so great</strong>

      <div class="review-details">
        <a href="#">Reviewer's Profile</a> on May 2, 2018
      </div>

      <div class="review-text">
        Too hard to cut for adjustment. would be great if it had lines so we could bend and crack it or follow to them for the cut. Ended up in the garbage.
      </div>
    </li>

    <li class="user-ratings__list-item">
      <div class="element-invisible">Customer review 2 of 5</div>

      <div class="rating-stars" aria-hidden="true">
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star-outline" ></span>
      </div>
      <div class="element-invisible">4 out of 5 stars</div>
      <strong>Not so great</strong>

      <div class="review-details">
        <a href="#">Reviewer's Profile</a> on May 2, 2018
      </div>

      <div class="review-text">
        Too hard to cut for adjustment. would be great if it had lines so we could bend and crack it or follow to them for the cut. Ended up in the garbage.
      </div>
    </li>
    <li class="user-ratings__list-item">
      <div class="element-invisible">Customer review 3 of 5</div>

      <div class="rating-stars" aria-hidden="true">
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star-outline" ></span>
      </div>
      <div class="element-invisible">4 out of 5 stars</div>
      <strong>Not so great</strong>

      <div class="review-details">
        <a href="#">Reviewer's Profile</a> on May 2, 2018
      </div>

      <div class="review-text">
        Too hard to cut for adjustment. would be great if it had lines so we could bend and crack it or follow to them for the cut. Ended up in the garbage.
      </div>
    </li>
    <li class="user-ratings__list-item">
      <div class="element-invisible">Customer review 4 of 5</div>

      <div class="rating-stars" aria-hidden="true">
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star-outline" ></span>
      </div>
      <div class="element-invisible">4 out of 5 stars</div>
      <strong>Not so great</strong>

      <div class="review-details">
       <a href="#">Reviewer's Profile</a> on May 2, 2018
      </div>

      <div class="review-text">
        Too hard to cut for adjustment. would be great if it had lines so we could bend and crack it or follow to them for the cut. Ended up in the garbage.
      </div>
    </li>

    <li class="user-ratings__list-item">
      <div class="element-invisible">Customer review 5 of 5</div>

      <div class="rating-stars" aria-hidden="true">
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star"></span>
        <span class="icon ion-md-star-outline" ></span>
      </div>
      <div class="element-invisible">3.5 out of 5 stars</div>
      <strong>Not so great</strong>

      <div class="review-details">
        <a href="#">Reviewer's Profile</a> on May 2, 2018
      </div>

      <div class="review-text">
        Too hard to cut for adjustment. would be great if it had lines so we could bend and crack it or follow to them for the cut. Ended up in the garbage.
      </div>
    </li>
  </ul>
</div>

<!-- Reviews END -->