/* ========================================= SIZE CHART */

.size-chart{
	&__link{
    display: block;
    font-size: $font-xs;
    margin-top: $grid-unit * 2;
		width:auto;
	}
}

.toggle-size-units-button {
    padding: 10px 0;
    border: 2px solid black;
    background: none;
    border-radius: 5px;
}

.toggle-size-units-button .units-toggle {
    padding: 10px;
}

.toggle-size-units-button .selected {
    color: red;
    background: #CCC;
    border-radius: 5px;
}

.show-centimeters tr.inches {
    display: none;
}

.show-inches tr.centimeters {
    display: none;
}

.size-chart-table th,
.size-chart-table td {
    border: 1px solid black;
}

.size-chart-table tr:first-of-type th {
    font-size: 1.3em;
    min-width: 90px;
}