<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Component | Product Grid</title>
		<link rel="stylesheet" href="../../css/global.css">
		<link rel="stylesheet" href="product-grid.css">
	</head>
	<body>
		<section class="product-grid">
			<!-- Component goes here -->
			<article class="product">
				<a href="#">
					<picture>
						<source media="(min-width: 650px)" srcset="http://via.placeholder.com/350x150">
						<source media="(min-width: 465px)" srcset="http://via.placeholder.com/350x150">
						<img src="http://via.placeholder.com/350x150" alt="" style="width:auto;">
					</picture>
					<h3 aria-label="learn more about: Title of product, $127.99">Title of product</h3>
				</a>
				<p>description goes here</p>
				<span class="quantity-comp">
					<button aria-label="decrease quantity" class="quantity-comp__decrease">-</button>
					<input type="number" value="5" class="quantity-comp__text">
					<span aria-live="assertive" aria-atomic="true" class="visibly-hidden">You have now selected<span> 5 items</span></span>
					<button aria-label="increase quantity" class="quantity-comp__increase">+</button>
				</span>
				<span class="price">
					<span class="price__dollar" aria-hidden="true">$127</span><span class="price__cents">99</span>
					<span class="visibly-hidden">$127.99</span>
				</span>
				<button role="button">Add to Cart</button>
			</article>

		</section>
		<script src="product-grid.js"></script>
	</body>
</html>