<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Component | Product Grid</title>
		<link rel="stylesheet" href="../../css/global.css">
		<link rel="stylesheet" href="product-grid.css">
	</head>
	<body>
		<main class="productGrid">
			<section aria-label="Filters" class="productGrid__filters">
				<h2>Filters</h2>
				<form action="">
					<input type="reset" id="showingNumberProducts__clear" value="Clear filters" aria-label="Clear product filters. 0 filters selected" aria-controls="showingNumberProducts">
					<div role="region" id="showingNumberProducts" aria-live="polite">
						<p id="showingNumberProducts__description">Showing 99 products</p>
					</div>
					<h3>Colors</h3>
					<p>
						<fieldset>
							<legend tabindex="0" id="colorsLegend">Filter by Colors</legend>
							<input id="blue" class="productGrid__filter" aria-label="Filter on color blue" type="checkbox" name="colors" value="blue"/>
							<label for="blue">Blue</label><br>
							<input id="green" class="productGrid__filter" aria-label="Filter on color green" type="checkbox" name="colors" value="green">
							<label for="green">Green</label><br>
							<input id="yellow" class="productGrid__filter" aria-label="Filter on color yellow" type="checkbox" name="colors" value="yellow">
							<label for="yellow">Yellow</label><br>
							<input id="red" class="productGrid__filter" aria-label="Filter on color red" type="checkbox" name="colors" value="red">
							<label for="red">Red</label>
						</fieldset>
					</p>
					<h3>Size</h3>
					<p>
						<fieldset>
							<legend tabindex="0" id="colorsLegend">Filter by Size</legend>
							<input id="large" class="productGrid__filter" aria-label="Filter on size large" type="checkbox" name="sizes" value="large"/>
							<label for="large">Large</label><br>
							<input id="medium" class="productGrid__filter" aria-label="Filter on size medium" type="checkbox" name="sizes" value="medium">
							<label for="medium">Medium</label><br>
							<input id="small" class="productGrid__filter" aria-label="Filter on size small" type="checkbox" name="sizes" value="small">
							<label for="small">Small</label><br>
						</fieldset>
					</p>
					<h3>Brand</h3>
					<p>
						<fieldset>
							<legend tabindex="0" id="colorsLegend">Filter by Brand</legend>
							<input id="brand1" class="productGrid__filter" aria-label="Filter on brand Brand 1" type="checkbox" name="brands" value="brand1"/>
							<label for="brand1">Brand 1</label><br>
							<input id="brand2" class="productGrid__filter" aria-label="Filter on brand Brand 2" type="checkbox" name="brands" value="brand2">
							<label for="brand2">Brand 2</label><br>
							<input id="brand3" class="productGrid__filter" aria-label="Filter on brand Brand 3" type="checkbox" name="brands" value="brand3">
							<label for="brand3">Brand 3</label><br>
							<input id="brand4" class="productGrid__filter" aria-label="Filter on brand Brand 4" type="checkbox" name="brands" value="brand4">
							<label for="brand4">Brand 4</label>
						</fieldset>
					</p>
				</form>
			</section>
			<section aria-label="Product Grid" class="productGrid__grid" id="product-grid" name="product-grid" tabindex="-1">
				<h2 id="showingNumberProducts__heading" tabindex="-1">Showing products X of X</h2>
				<nav aria-label="Product Results Pagination">
					<h2>Pagination</h2>
					<ol class="pagination__list">
						<li class="pagination__list-item">
							<button aria-label="Goto Page 1" data-go-to-page="1">1</button>
						</li>
						<li class="pagination__list-item">
							<button aria-label="Goto Page 2" data-go-to-page="2">2</button>
						</li>
						<li class="pagination__list-item">
							<button aria-label="Goto Page 3" data-go-to-page="3">3</button>
						</li>
						<li class="pagination__list-item">
							<button aria-label="Goto Page 4" data-go-to-page="4">4</button>
						</li>
						<li class="pagination__list-item">
							<button aria-label="Goto Page 5" data-go-to-page="5">5</button>
						</li>
					</ol>
				</nav>
			</section>
		</main>
		<script src="product-grid.js"></script>
	</body>
</html>