.productGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.productGrid__filters {
  flex-basis: 25%; }

.productGrid__grid {
  flex-basis: 75%; }

/* Mobile Styles */
/* Tablet Styles */
/* Desktop Styles */
