<main class="productGrid" aria-label="Content">
	<section aria-label="Filters" class="productGrid__filters">
		<div data-component="breadcrumb"></div>
		<div class="productGrid__filters-wrapper">
			<h2>Filters</h2>
			<a class="skip-link" href="#product-grid">Skip to Products</a>
			<form action="">
				<div role="region" id="showingNumberProducts" class="productGrid__filters-info" aria-live="polite">
					<p id="showingNumberFilters__description">0 filters applied</p>
					<p id="showingNumberProducts__description" class="element-invisible">Showing 96 products</p>
				</div>
				<h3>Colors</h3>
				<p>
					<fieldset>
						<legend tabindex="0" id="colorsLegend" class="visibly-hidden">Filter by Colors</legend>
						<input id="blue" class="productGrid__filter" aria-label="Filter on color blue" type="checkbox" name="color"
						 value="blue">
						<label for="blue" class="productGrid__filter-label">Blue</label><br>
						<input id="green" class="productGrid__filter" aria-label="Filter on color green" type="checkbox" name="color"
						 value="green">
						<label for="green" class="productGrid__filter-label">Green</label><br>
						<input id="yellow" class="productGrid__filter" aria-label="Filter on color yellow" type="checkbox" name="color"
						 value="yellow">
						<label for="yellow" class="productGrid__filter-label">Yellow</label><br>
						<input id="red" class="productGrid__filter" aria-label="Filter on color red" type="checkbox" name="color" value="red">
						<label for="red" class="productGrid__filter-label">Red</label>
					</fieldset>
				</p>
				<a class="skip-link" href="#product-grid">Skip to Products</a>
				<h3>Size</h3>
				<p>
					<fieldset>
						<legend tabindex="0" id="sizeLegend" class="visibly-hidden">Filter by Size</legend>
						<input id="large" class="productGrid__filter" aria-label="Filter on size large" type="checkbox" name="size"
						 value="large" />
						<label for="large" class="productGrid__filter-label">Large</label><br>
						<input id="medium" class="productGrid__filter" aria-label="Filter on size medium" type="checkbox" name="size"
						 value="medium">
						<label for="medium" class="productGrid__filter-label">Medium</label><br>
						<input id="small" class="productGrid__filter" aria-label="Filter on size small" type="checkbox" name="size"
						 value="small">
						<label for="small" class="productGrid__filter-label">Small</label><br>
					</fieldset>
				</p>
				<a class="skip-link" href="#product-grid">Skip to Products</a>
				<h3>Brand</h3>
				<p>
					<fieldset>
						<legend tabindex="0" id="brandLegend" class="visibly-hidden">Filter by Brand</legend>
						<input id="brand1" class="productGrid__filter" aria-label="Filter on brand Brand 1" type="checkbox" name="brand"
						 value="brand1" />
						<label for="brand1" class="productGrid__filter-label">Brand 1</label><br>
						<input id="brand2" class="productGrid__filter" aria-label="Filter on brand Brand 2" type="checkbox" name="brand"
						 value="brand2">
						<label for="brand2" class="productGrid__filter-label">Brand 2</label><br>
						<input id="brand3" class="productGrid__filter" aria-label="Filter on brand Brand 3" type="checkbox" name="brand"
						 value="brand3">
						<label for="brand3" class="productGrid__filter-label">Brand 3</label><br>
						<input id="brand4" class="productGrid__filter" aria-label="Filter on brand Brand 4" type="checkbox" name="brand"
						 value="brand4">
						<label for="brand4" class="productGrid__filter-label">Brand 4</label>
					</fieldset>
				</p>
				<button id="showingNumberProducts__apply" class="productGrid__filters-apply btn btn--primary"
         aria-label="Apply product filters. There are no filters currently applied." aria-controls="showingNumberProducts">
         Apply filters
        </button>
			</form>
		</div>
	</section>
	<section aria-label="Product Grid" class="productGrid__grid" id="product-grid" name="product-grid" tabindex="-1"
	 aria-describedby="showingNumberProducts__heading">
		<section class="productGrid__sort-menu" id="product-sort" name="product-sort">
			<h2 id="sort-products"><label for="productSort">Sort by</label></h2>
			<select name="product-sort" id="productSort">
				<option value="low_to_high">Price low to high</option>
				<option value="high_to_low">Price high to low</option>
				<option value="newest_to_top">Newest to top</option>
			</select>
			<div class="productGrid__sort-menu-heading" id="showingNumberProducts__heading"><span class="element-invisible">Showing products</span> 12 of 96</div>
		</section>
		<section class="productGrid__product-tiles" id="product-grid-tiles">
			<!-- <article class="productGrid__product-tile product">
				<a class="product__details" href="../pdp/pdp.html">
					<picture>
						<img src="../../images/satin-shirt.jpg">
					</picture>
					<p class="product__heading" aria-label="learn more about: Satin shirt, $27.99">Satin shirt</p>
				</a>
				<span class="price">
					<span class="price__dollar">$27.99</span>
				</span>

			</article>
			<article class="productGrid__product-tile product">
				<a class="product__details" href="../pdp/pdp.html">
					<picture>
						<img src="../../images/crocet-top.jpg">
					</picture>
					<p class="product__heading" aria-label="learn more about: Crochet top, $34.99">Crochet top</p>
				</a>
				<span class="price">
					<span class="price__dollar">$34.99</span>
				</span>

			</article>
			<article class="productGrid__product-tile product">
				<a class="product__details" href="../pdp/pdp.html">
					<picture>
						<img src="../../images/asymmetic-design-satin-top.jpg">
					</picture>
					<p class="product__heading" aria-label="learn more about: Asymmetic design satin top, $25.99">Asymmetic design satin top</p>
				</a>
				<span class="price">
					<span class="price__dollar">$25.99</span>
				</span>

			</article>
			<article class="productGrid__product-tile product">
				<a class="product__details" href="../pdp/pdp.html">
					<picture>
						<img src="../../images/double-layer-top.jpg">
					</picture>
					<p class="product__heading" aria-label="learn more about: Double layer top, $65.99">Double layer top</p>
				</a>
				<span class="price">
					<span class="price__dollar">$65.99</span>
				</span>

			</article>
			<article class="productGrid__product-tile product">
				<a class="product__details" href="../pdp/pdp.html">
					<picture>
						<img src="../../images/striped-knit-top.jpg">
					</picture>
					<p class="product__heading" aria-label="learn more about: Striped knit top, $47.99">Striped knit top</p>
				</a>
				<span class="price">
					<span class="price__dollar">$47.99</span>
				</span>
			

			</article>
			<article class="productGrid__product-tile product">
				<a class="product__details" href="../pdp/pdp.html">
					<picture>
						<img src="../../images/lace-t-shirt.jpg">
					</picture>
					<p class="product__heading" aria-label="learn more about: Lace t-shirt, $36.99">Lace t-shirt</p>
				</a>
				<span class="price">
					<span class="price__dollar">$36.99</span>
				</span>
			

			</article>
			<article class="productGrid__product-tile product">
				<a class="product__details" href="../pdp/pdp.html">
					<picture>
						<img src="../../images/before-t-shirt.jpg">
					</picture>
					<p class="product__heading" aria-label="learn more about: Before t-shirt, $24.99">Before t-shirt</p>
				</a>
				<span class="price">
					<span class="price__dollar">$24.99</span>
				</span>
			

			</article>
			<article class="productGrid__product-tile product">
				<a class="product__details" href="../pdp/pdp.html">
					<picture>
						<img src="../../images/fringed-edges-top.jpg">
					</picture>
					<p class="product__heading" aria-label="learn more about: Fringed edges top, $58.99">Fringed edges top</p>
				</a>
				<span class="price">
					<span class="price__dollar">$58.99</span>
				</span>
			

			</article>
			<article class="productGrid__product-tile product">
				<a class="product__details" href="../pdp/pdp.html">
					<picture>
						<img src="../../images/green-tank-top.jpg">
					</picture>

					<p class="product__heading" aria-label="learn more about: Green tank top, $52.99">Green tank top</p>
				</a>
				<span class="price">
					<span class="price__dollar">$52.99</span>
				</span>
			

			</article>
			<article class="productGrid__product-tile product">
				<a class="product__details" href="../pdp/pdp.html">
					<picture>
						<img src="../../images/linen-t-shirt.jpg">
					</picture>

					<p class="product__heading" aria-label="learn more about: Linen t-shirt, $39.99">Linen t-shirt</p>
				</a>
				<span class="price">
					<span class="price__dollar">$39.99</span>
				</span>
			
			</article>
			<article class="productGrid__product-tile product">
				<a class="product__details" href="../pdp/pdp.html">
					<picture>
						<img src="../../images/metallic-net-top.jpg">
					</picture>

					<p class="product__heading" aria-label="learn more about: Metallic net top, $15.99">Metallic net top</p>
				</a>
				<span class="price">
					<span class="price__dollar">$15.99</span>
				</span>
			

			</article>
			<article class="productGrid__product-tile product">
				<a class="product__details" href="../pdp/pdp.html">
					<picture>
						<img src="../../images/contrast-trim-t-shirt.jpg">
					</picture>

					<p class="product__heading" aria-label="learn more about: Contrast trim t-shirt, $42.99">Contrast trim t-shirt</p>
				</a>
				<span class="price">
					<span class="price__dollar">$42.99</span>
				</span>
			

			</article> -->

		</section>
		<nav aria-label="Products list Pagination">
			<h2 class="visibly-hidden">Pagination</h2>
			<ol class="pagination__list">
				<li class="pagination__list-item">
					<button aria-label="Previous Page" disabled class="pagination__nav btn btn--black-inverted"><img src="../../images/arrow_down_black.svg" aria-hidden="true" class="rotate-90" /> Previous</button>
				</li>
				<li class="pagination__list-item">
					<button class="active pagination__index" aria-label="Current Page 1" data-go-to-page="1">1</button>
				</li>
				<li class="pagination__list-item">
					<button class="pagination__index" aria-label="Go to Page 2" data-go-to-page="2">2</button>
				</li>
				<li class="pagination__list-item">
					<button class="pagination__index" aria-label="Go to Page 3" data-go-to-page="3">3</button>
				</li>
				<li class="pagination__list-item">
					<button class="pagination__index" aria-label="Go to Page 4" data-go-to-page="4">4</button>
				</li>
				<li class="pagination__list-item">
					<button class="pagination__index" aria-label="Go to Page 5" data-go-to-page="5">5</button>
				</li>
				<li class="pagination__list-item">
					<button aria-label="Next Page" data-go-to-page="5" class="pagination__nav btn btn--black-inverted">Next <img src="../../images/arrow_down_black.svg" aria-hidden="true" class="rotate-270" /></button>
				</li>
			</ol>
		</nav>
	</section>
</main>
<script id="product-grid-template" type="text/x-handlebars-template">
	{{#each product}}
	<article class="productGrid__product-tile product">
		<a class="product__details" href="../pdp/pdp.html">
			<picture>
				<img src="../../images/contrast-trim-t-shirt.jpg">
			</picture>
			<p class="product__heading" aria-label="learn more about: Contrast trim t-shirt, $42.99">{{doc.name}}</p>
		</a>
		<span class="price">
			<span class="price__dollar">${{doc.price}}</span>
		</span>
	</article>
	{{/each}}
</script>
<script id="product-grid-template-2" type="text/x-handlebars-template">
	{{#each product}}
	<article class="productGrid__product-tile product">
		<a class="product__details" href="../pdp/pdp.html">
			<picture>
				<img src="../../images/contrast-trim-t-shirt.jpg">
			</picture>
			<p class="product__heading" aria-label="learn more about: Contrast trim t-shirt, $42.99">{{name}}</p>
		</a>
		<span class="price">
			<span class="price__dollar">${{price}}</span>
		</span>
	</article>
	{{/each}}
</script>
