.productGrid {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	&__filters {
		flex-basis: 25%;
	}

	&__grid {
		flex-basis: 75%;
	}
}

.pagination {

	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		list-style: none;
	}

}

.product-card {
	height: 200px;
	width: 200px;
	border: 1px solid #666;
	margin: 4px;
	padding: 2px;
	display: inline-block;
}

.skip-link a {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.skip-link a:focus {
	position:static;
	width:auto;
	height:auto;
}

/* Mobile Styles */

/* Tablet Styles */

/* Desktop Styles */