/* Mobile Styles */
$something: 25px;
$dollar-size: 12px;
$cent-size: 10px;
$small-padding: 10px;

.global-nav {
	padding: $something;
}

.product {
	border: #999 solid thin;
	padding: $small-padding;
	display: flex;
	flex-direction: column;	
	justify-content: flex-start;

	&__thumbnail{

	}
}

.quantity-comp {

}

.price {
	&__dollar {
		font-size: $dollar-size;
	}
	&__cents {
		font-size: $cent-size;
		vertical-align: super;
	}
}
.visibly-hidden {
	visibility: hidden;
	height: 0;
	width: 0;
	position: absolute;
	left: -9999;
}
/* Tablet Styles */

/* Desktop Styles */