/**
 * Toolkit styles
 */
@import 'global';

// COLOURS
$rose: #B94650;
$dark-rose: #90373D;
$white: #FFFFFF;
$light-grey: #F2F2F2;
$grey: #C8C8C8;
$black: #19191E;

$beige: #f4f0ec;
$blue: #3575FF; 
$dark-blue: #2A5FD2;
$medium-grey: #636363;
$dark-grey: #333333;
$black-transparent: rgba(25,25,30,0.75);

$error-red: firebrick;

$mobile: 500px;
$phablet: 800px;
$tablet: 1024px;
$desktop: 1200px;
$max-width: 1440px;

$grid-unit: 8px;

$input-size: 24px;

// =========================================== FONT SIZES

// We're using REM based on a 10px root value set on html
// Makes the maths easy, e.g.: 1.6rem = 16px
// body is set to 1.6rem in global.scss

$font-xxl: 4.2rem;
$font-xl: 3.6rem;
$font-lg: 1.8rem;
$font-md: 1.6rem;
$font-sm: 1.4rem;
$font-xs: 1.2rem;

@mixin flex-grid($columns: 2, $gutters: true) {
    @if $gutters{
        margin-left: -1 * $grid-unit;
            margin-right: -1 * $grid-unit;
            &>*{
                margin-left: $grid-unit;
                margin-right: $grid-unit;
        }
    }
    @if $columns == 'auto'{
        &>*{
            flex: 1;
        }
    }@else{
        $column-width: 100% / $columns;
        $gutter-space: ($columns - 1) * $grid-unit * 2;
        $gutter-width: $gutter-space / $columns;
        @if $gutters {
            &>* {
                width: calc(#{$column-width} - #{$grid-unit * 2});
            }
            justify-content: space-between;
        }
        @else {
            &>* {
                width: $column-width;
            }
        }
        flex-wrap: wrap;
    }
    display: flex;
}

body {
	font-family: sans-serif;
	letter-spacing: normal;
}
a:not(.btn) {
    border-bottom: 0;
    &:hover, &:focus{
        border-bottom: 0;
    }
}

h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}
.column-example{
    background: lavenderblush;
    padding: 8px;
    margin-bottom: 16px;
    &:hover{
        background: darken(lavenderblush, 10%);
    }
}
.auto-columns-no-gutter-example{
    @include flex-grid('auto', false);
}
.auto-columns-with-gutter-example{
    @include flex-grid('auto');
}
.fixed-grid-4-columns-no-gutter-example{
    @include flex-grid(4, false);
}
.fixed-grid-4-columns-with-gutter-example{
    @include flex-grid(4);
}
.fixed-grid-5-columns-with-gutter-example{
    @include flex-grid(5);
}
.fixed-grid-3-columns-with-gutter-example{
    @include flex-grid(3);
}
.fixed-grid-2-columns-with-gutter-example{
    @include flex-grid(2);
}
blockquote{
    background: lightGreen;
    padding: 8px 8px 8px 66px;
    border-radius: 4px;
    margin-left: 0;
    position: relative;
    color: darkgreen;
    min-height: 50px;
    &::before{
        content: url('../images/icon-accessibility.svg');
        display: block;
        width: 40px;
        position: absolute;
        left: 8px;
        opacity: 0.5;
        top:8px;
    }
    p{
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
}
