.checkout {
  margin-bottom: 80px;
  padding: 0; }
  @media only screen and (min-width: 760px) {
    .checkout {
      display: grid;
      grid-template-columns: 60% 35%;
      grid-gap: 5%; } }
  @media only screen and (min-width: 760px) {
    .checkout {
      padding: 0 24px; } }
  @media only screen and (min-width: 900px) {
    .checkout {
      padding: 0 120px; } }
  @media only screen and (max-width: 500px) {
    .checkout .main-content {
      padding: 0 24px; } }
  @media only screen and (min-width: 760px) {
    .checkout__customer-info {
      grid-column: 1 / 2;
      padding: 0; } }
  .checkout form, .checkout__sign-in-form, .checkout__main-form, .checkout__billing-address-form {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .checkout__billing-address-form--hidden {
    display: none; }
  .checkout hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #1f1f1f; }
    .checkout hr.hr-2 {
      border-top: 1px solid #9b9b9b; }
  .checkout h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 30px 0 15px; }
  .checkout h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 30px 0 15px; }
  .checkout__sign-in-form h3 {
    margin: 22px 0 7px; }
  .checkout h4 {
    color: black;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    display: inline-block; }
  .checkout header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .checkout header span {
      font-size: 1.4rem; }
  .checkout .sign-in-text {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: normal;
    margin: 10px 0 0; }
    @media only screen and (min-width: 760px) {
      .checkout .sign-in-text {
        float: right;
        margin: 0; } }
    .checkout .sign-in-text a {
      font-weight: bold; }
  .checkout label {
    width: 100%;
    font-size: 1.4rem; }
  .checkout input {
    height: 50px;
    border-radius: 4px;
    border: 1px solid #D8D8D8;
    width: 100%;
    font-size: 14px;
    box-shadow: none;
    background-color: #fff; }
    .checkout input + .error-msg {
      display: none; }
    .checkout input.invalid {
      border: 2px solid firebrick; }
      .checkout input.invalid + .error-msg {
        display: block;
        margin-top: 10px;
        font-size: 12px; }
  .checkout select {
    height: 50px;
    border-radius: 4px;
    border: 1px solid #D8D8D8;
    width: 100%;
    font-size: 14px;
    box-shadow: none;
    background-color: #fff;
    font-weight: bold; }
    .checkout select + .error-msg {
      display: none; }
    .checkout select.invalid {
      border: 2px solid firebrick; }
      .checkout select.invalid + .error-msg {
        display: block;
        margin-top: 10px;
        font-size: 12px; }
  .checkout label {
    color: black;
    font-weight: bold;
    line-height: 1.8rem;
    display: inline-block;
    padding: 1.333rem 0 0.666rem; }
  .checkout .payment-information__form-row {
    width: 100%;
    display: grid; }
    @media only screen and (min-width: 760px) {
      .checkout .payment-information__form-row {
        grid-template-columns: 1fr 250px;
        grid-column-gap: 25px; } }
  .checkout .payment-information__column {
    display: flex;
    flex-direction: column; }
  @media only screen and (min-width: 760px) {
    .checkout .payment-information label[for="expiry-date"] {
      font-size: 1.2rem; } }
  .checkout .payment-information__tooltip {
    position: relative; }
    .checkout .payment-information__tooltip.visible .payment-information__tooltip-popup {
      display: block; }
  .checkout .payment-information__tooltip-popup {
    display: none;
    position: absolute;
    left: 24px; }
    .checkout .payment-information__tooltip-popup h1 {
      font-size: 1.4rem;
      font-weight: bold; }
    .checkout .payment-information__tooltip-popup h2 {
      font-size: 1.2rem;
      font-weight: bold; }
    .checkout .payment-information__tooltip-popup p {
      font-size: 1.2rem; }
    .checkout .payment-information__tooltip-popup .sample-credit-card {
      background-color: #d8d8d8;
      border-radius: 2px;
      width: 100px;
      height: 64px;
      position: relative; }
      .checkout .payment-information__tooltip-popup .sample-credit-card p {
        font-size: 8px;
        color: #333333;
        padding: 3px;
        position: absolute; }
      .checkout .payment-information__tooltip-popup .sample-credit-card.sample-amex p:first-child {
        right: 0;
        top: 2px;
        border: 2px solid #bd10e0; }
      .checkout .payment-information__tooltip-popup .sample-credit-card.sample-amex p:last-child {
        left: 6px;
        bottom: 3px; }
      .checkout .payment-information__tooltip-popup .sample-credit-card.sample-others p {
        background-color: #ffffff;
        width: 80px;
        right: 10px;
        bottom: 14px; }
        .checkout .payment-information__tooltip-popup .sample-credit-card.sample-others p span {
          float: right;
          border: 2px solid #bd10e0;
          padding: 3px; }
    .checkout .payment-information__tooltip-popup__btn--close {
      background: transparent;
      border: 0;
      width: 30px;
      height: 30px;
      padding: 0;
      margin-left: auto;
      margin-right: -8px;
      margin-top: -4px;
      cursor: pointer;
      position: absolute;
      right: 12px;
      top: 10px; }
      .checkout .payment-information__tooltip-popup__btn--close .icon--close-btn {
        width: 18px;
        height: 18px; }
  .checkout .payment-information__tooltip-popup-arrow {
    position: absolute;
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-right: 2px solid white;
    left: -16px;
    top: -16px; }
    .checkout .payment-information__tooltip-popup-arrow:before {
      position: absolute;
      right: -27px;
      width: 24px;
      content: '';
      top: 0;
      height: 24px;
      transform: rotate(45deg) skew(-25deg, -25deg) translate(-12px, -1px);
      background-color: #fff;
      border: 1px solid #b5b5b5; }
  .checkout .payment-information__tooltip-popup-background {
    background-color: white;
    width: 300px;
    padding: 24px;
    top: -50px;
    border: 1px solid #b5b5b5;
    position: absolute;
    left: 5px;
    z-index: 1; }
    @media only screen and (max-width: 500px) {
      .checkout .payment-information__tooltip-popup-background {
        left: -150px; } }
  .checkout .payment-information__tooltip-icon {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    background-color: black;
    display: inline-block;
    font-size: 1.25rem;
    text-align: center;
    font-style: normal;
    line-height: 1.1;
    cursor: pointer; }
  .checkout .payment-information__label-tooltip {
    display: flex;
    align-items: center; }
    .checkout .payment-information__label-tooltip label {
      flex: 0;
      min-width: 140px; }
  .checkout .payment-information__credit-cards {
    list-style: none;
    margin: 0;
    padding: 0; }
    .checkout .payment-information__credit-cards li {
      float: left;
      margin-right: 30px; }
  .checkout .shipping-information__form-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-column-gap: 50px; }
  .checkout .shipping-information__column {
    display: flex;
    flex-direction: column; }
  .checkout .shipping-information__shipping-type {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal; }
    .checkout .shipping-information__shipping-type:hover input ~ .custom-radio {
      background-color: #ccc; }
    .checkout .shipping-information__shipping-type input {
      position: absolute;
      opacity: 0;
      cursor: pointer; }
      .checkout .shipping-information__shipping-type input:checked ~ .custom-radio {
        background-color: white; }
        .checkout .shipping-information__shipping-type input:checked ~ .custom-radio:after {
          display: block; }
      .checkout .shipping-information__shipping-type input:focus ~ .custom-radio {
        outline: 1px dotted currentColor; }
    .checkout .shipping-information__shipping-type .custom-radio {
      position: absolute;
      left: 0;
      height: 25px;
      width: 25px;
      margin-top: -3px;
      background-color: white;
      border: 1px solid #b5b5b5;
      border-radius: 50%; }
      .checkout .shipping-information__shipping-type .custom-radio:after {
        content: "";
        position: absolute;
        display: none;
        top: 6px;
        left: 6px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: black; }
  .checkout .shipping-information .container input:checked ~ .checkmark:after {
    display: block; }
  .checkout .btn {
    margin-top: 25px;
    padding-right: 50px;
    padding-left: 50px;
    flex: 0;
    align-self: flex-end;
    float: right; }
    @media screen and (max-width: 500px) {
      .checkout .btn {
        width: 100%; } }
  .checkout__billing-address-form--hidden {
    display: none; }
  .checkout .billing-address__billing-address-check {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: normal; }
    .checkout .billing-address__billing-address-check input {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
      width: auto; }
      .checkout .billing-address__billing-address-check input:checked ~ .billing-address__billing-address-custom-checkbox:before {
        content: ''; }
      .checkout .billing-address__billing-address-check input:focus ~ .billing-address__billing-address-custom-checkbox {
        outline: 1px dotted currentColor; }
  .checkout .billing-address__billing-address-custom-checkbox {
    width: 24px;
    height: 24px;
    border: 1px solid #B5B5B5;
    border-radius: 4px;
    display: inline-block;
    background-color: white;
    position: relative;
    margin-right: 1rem; }
    .checkout .billing-address__billing-address-custom-checkbox:before {
      position: absolute;
      width: 6px;
      height: 11px;
      border-right: 3px solid black;
      border-bottom: 3px solid black;
      transform: rotate(35deg);
      top: 2px;
      left: 6px;
      margin-right: 1rem; }
    @media screen and (max-width: 500px) {
      .checkout .billing-address__billing-address-custom-checkbox {
        width: 31px; } }
  .checkout .order-summary {
    margin-top: 50px;
    padding: 0 8px; }
    @media only screen and (min-width: 760px) {
      .checkout .order-summary {
        grid-column: 2 / 2;
        margin-top: 66px;
        padding: 0; } }
    .checkout .order-summary__image {
      width: 69px;
      height: 69px; }
    .checkout .order-summary .btn {
      float: none; }


/*# sourceMappingURL=/checkout.ff3ab7e5.css.map */