<div class="order-summary order-summary--sticky-minicart" data-js="order-summary">
    <div class="order-summary__background">
        <h2 class="order-summary__title">Order Summary</h2>

        <div data-template="order-summary-items" class="order-summary__items"></div>
        <div class="order-summary__summary-controls">
            <button type="button" class="order-summary__cta-btn order-summary__checkout btn btn--primary">Finish and Review Order</button>
        </div>
    </div>
</div>