@import '../../scss/variables';

/* ============================== GLOBAL NAV */
.navigation {
	background-color: $black;
  padding: 14px 0 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);

  #global-nav-search {
    background-color: transparent;
    height: 32px;	
    width: 224px;	
    border: 1px solid $white;	
    border-radius: 16px;
  }

  #nav-search {
    display: inline-block;
  }

  .submit-icon {
    position: relative;
    left: -36px;
    top: 8px;
    padding: 5px;
    border-radius: 25px;
    width: 25px;
    background-color: $white;
    height: 25px;
  }
  
  &__siteIcon {
    color: $white;
    font-size: 2rem;
    font-weight: 600;
    width: 3.2rem;
    height: 3.2rem;
    border: 2px solid #FFFFFF;
    border-radius: 1.6rem;
    text-align: center;
    margin-right: 1.2rem;
    padding: 1px 0 0 2px;
  }

	&__items{
		display: flex;
    align-items: center;
	}

	&__logo:not(.btn) {
    margin-top: -20px;
		align-items: center;
		display: flex;
		text-decoration: none;
		&:hover, &:focus{
			border-bottom-color: transparent;
    }
	}

	&-mini-cart, .mini-cart {
		@media only screen and (max-width:$tablet) {
			order: 2;
			padding-right: 0.5em;
		}
	}

	&__siteName {
    color: $white;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: $font-xs;
    letter-spacing: 1px;	
    line-height: 1.3;
    margin-right: $grid-unit * 4;
    
    @media only screen and (max-width:$mobile) {
      display: none;
    }
  }
  
  a {
    color: $white;
    display: inline-block;
    font-size: $font-xs;
    text-decoration: none;
  }

	.global-nav {
    color: $white;
    width: 100%;
   

    @media only screen and (min-width:$tablet) {
      margin-left: 80px;
    }

    &__account-cart,
    &__stores-contact  {
      width: 250px;
      float: right;
    }

    &__search {
      label {
        font-size: $font-xs;
      }
    }

    &__bottom-row {
      margin-top: 34px;
    }

    .stores-btn,
    .account-btn {
      width: 125px;
    }

		&__items{
      display: inline;
      list-style: none;
      padding: 0;
      margin-left: -14px;

      .menu-item-heading:hover, 
      .menu-item-heading:focus,
      .selected {
        text-decoration: none;
        color: $pure-black;
        font-weight: bold;
        background-color: $white;
      }
      
      @media only screen and (max-width:$tablet) {
        display: none;
        background-color: $beige;
        z-index: 2;
        position: absolute;
        left: 0;
        width: 100%;
      }
		}

		&__item {
			display: inline-block;
			// padding: $grid-unit $grid-unit * 3 $grid-unit / 2;
      text-align: center;
      
      @media only screen and (max-width:$tablet) {
        padding-left: $grid-unit * 7;
      }
    }
    
    .dropdown-toggle {
      display: none;
      font-size:$font-xxl;
      
      &[aria-expanded="true"] + .global-nav__items {
        display: block;
        padding: 0;
      }

      @media only screen and (max-width:$tablet) {
        display: block;
        float: right;
      }
    }

		.has-submenu {
			position: relative;
    }
    
		.has-submenu .submenu {
      display: none;
      position: absolute;
      padding: 0;
			a {
        font-size: $font-xs;
			}
		}
		.has-submenu.open .menu-item-heading {
			border-bottom: 2px solid $rose;
		}
		.has-submenu.open .submenu {
			display: block;
    }
    
    .row {
      width: 100%;

      @media only screen and (max-width:$mobile) {
        display: none;
      }
    }
  }
  
  .menu-item-heading {
    color: $white;
    padding-top: 6px;
    height: 38px;	
    width: 93px;
  }
}

.submenu-item{
  list-style: none;
  
  a {
    background-color: $white;
    padding: 12px 25px;
    text-align: left;
    min-width: 155px;
    color: $black;
    border-bottom: 1px solid #cccccc;

    &:hover {
      text-decoration: none;
      color: $pure-black;
      font-weight: bold;
      background-color: #e7e7e7;
    }
  }

  &:last-child a {
    border-bottom: none;
  }
}