<header class="navigation">
<div class="container">
  <a class="skip-link" id="skip-to-main" href="#skip-to-nav">Skip navigation menu</a>
  <div class="navigation__items">
    <a class="navigation__logo" href="https://publicissapient.github.io/accessible-ecommerce/">
      <img src="https://publicissapient.github.io/accessible-ecommerce/assets/images/ps-logo.gif" alt="Publicis dot Sapient logo"
        width="50" height="50">
      <h1 class="navigation__siteName">P.S Toronto Accessible
        <br>E-Commerce Demo Store</h1>
    </a>
    <nav class="global-nav" aria-label="Primary">
      <button class="btn btn-default dropdown-toggle" type="button" id="button"
        aria-haspopup="true" aria-expanded="false" aria-controls="menu" aria-label="Navigation">
        <span class="ion-ios-menu"></span>
      </button>
      <ul class="global-nav__items">
        <li class="global-nav__item has-submenu">
          <a href="#" class="menu-item-heading" aria-haspopup="true" aria-expanded="false">Women</a>
          <ul class="submenu">
            <li class="submenu-item">
              <a href="Women">All Womens</a>
            </li>
            <li class="submenu-item">
              <a href="Tops">Tops</a>
            </li>
            <li class="submenu-item">
              <a href="Pants">Pants</a>
            </li>
            <li class="submenu-item">
              <a href="Dresses">Dresses</a>
            </li>
            <li class="submenu-item">
              <a href="Shoes">Shoes</a>
            </li>
            <li class="submenu-item">
              <a href="Hats">Hats</a>
            </li>
          </ul>
        </li>
        <li class="global-nav__item has-submenu">
          <a href="#" class="menu-item-heading" aria-haspopup="true" aria-expanded="false">Men</a>
          <ul class="submenu">
            <li class="submenu-item">
              <a href="Men">All Mens</a>
            </li>
            <li class="submenu-item">
              <a href="#">Tops</a>
            </li>
            <li class="submenu-item">
              <a href="#">Pants</a>
            </li>
            <li class="submenu-item">
              <a href="#">Kilts</a>
            </li>
            <li class="submenu-item">
              <a href="#">Shoes</a>
            </li>
            <li class="submenu-item">
              <a href="#">Hats</a>
            </li>
          </ul>
        </li>
        <li class="global-nav__item has-submenu">
          <a href="#" class="menu-item-heading" aria-haspopup="true" aria-expanded="false">Kids</a>
          <ul class="submenu">
            <li class="submenu-item">
              <a href="Tops">All Kids</a>
            </li>
            <li class="submenu-item">
              <a href="#">Tops</a>
            </li>
            <li class="submenu-item">
              <a href="#">Pants</a>
            </li>
            <li class="submenu-item">
              <a href="#">Dresses</a>
            </li>
            <li class="submenu-item">
              <a href="#">Shoes</a>
            </li>
            <li class="submenu-item">
              <a href="#">Hats</a>
            </li>
          </ul>
        </li>
        <li class="global-nav__item has-submenu">
          <a href="#" class="menu-item-heading" aria-haspopup="true" aria-expanded="false">Accessories</a>
          <ul class="submenu">
            <li class="submenu-item">
              <a href="Tops">All Accessories</a>
            </li>
            <li class="submenu-item">
              <a href="#">Necklaces</a>
            </li>
            <li class="submenu-item">
              <a href="#">Belts</a>
            </li>
            <li class="submenu-item">
              <a href="#">Rings</a>
            </li>
          </ul>
        </li>
        <li class="global-nav__item">
          <a href="#">Sale</a>
        </li>
      </ul>
    </nav>
    <div class="mini-cart" data-component="mini-cart"></div>
  </div>
  <a class="skip-link" id="skip-to-nav" href="#skip-to-main">Return to navigation menu</a>
</div>
</header>