<header class="navigation">
	<div class="container">
		<div class="top-banner">
			<p class="top-banner__text">Promotion text</p>
		</div>
		<a class="skip-link" id="skip-to-main" href="#skip-to-nav">Skip navigation menu</a>
		<div class="navigation__items">
			<a class="navigation__logo" href="https://publicissapient.github.io/accessible-ecommerce/">
				<img src="https://publicissapient.github.io/accessible-ecommerce/assets/images/ps-logo.gif" alt="Publicis dot Sapient logo" width="50" height="50" />
				<h1 class="navigation__siteName">Accessible
					<br>E-Commerce Demo</h1>
			</a>
			<div class="search-bar" data-component="search-bar"></div>
			<div class="header-actions">
				<div class="language-selector" data-component="language-selector"></div>

				<div class="mini-cart" data-component="mini-cart"></div>
			</div>
			<nav class="global-nav" aria-label="Primary">
				<button class="btn btn-default dropdown-toggle" type="button" id="button" aria-haspopup="true" aria-expanded="false" aria-controls="menu" aria-label="Navigation">
					<span class="ion-ios-menu"></span>
					<span>Menu</span>
				</button>
				<ul class="global-nav__items">
					<div class="global-nav__item-group global-nav__item-group--shop-links">
						<li class="global-nav__item has-submenu">
							<a href="#" class="menu-item-heading" aria-haspopup="true" aria-expanded="false">Women</a>
							<button class="open-submenu">+</button>
							<ul class="submenu">
								<li class="submenu-item">
									<a href="#">All Womens</a>
								</li>
								<li class="submenu-item">
									<a href="#">Tops</a>
								</li>
								<li class="submenu-item">
									<a href="#">Bottoms</a>
								</li>
								<li class="submenu-item">
									<a href="#">Dresses</a>
								</li>
								<li class="submenu-item">
									<a href="#">Shoes</a>
								</li>
								<li class="submenu-item">
									<a href="#">Accessories</a>
								</li>
								<li class="submenu-item">
									<a href="#">Sale</a>
								</li>
							</ul>
						</li>
						<li class="global-nav__item has-submenu">
							<a href="#" class="menu-item-heading" aria-haspopup="true" aria-expanded="false">Men</a>
							<button class="open-submenu">+</button>
							<ul class="submenu">
								<li class="submenu-item">
									<a href="#">All Mens</a>
								</li>
								<li class="submenu-item">
									<a href="#">Tops</a>
								</li>
								<li class="submenu-item">
									<a href="#">Bottoms</a>
								</li>
								<li class="submenu-item">
									<a href="#">Shoes</a>
								</li>
								<li class="submenu-item">
									<a href="#">Accessories</a>
								</li>
								<li class="submenu-item">
									<a href="#">Sale</a>
								</li>
							</ul>
						</li>
						<li class="global-nav__item has-submenu">
							<a href="#" class="menu-item-heading" aria-haspopup="true" aria-expanded="false">Kids</a>
							<button class="open-submenu">+</button>
							<ul class="submenu">
								<li class="submenu-item">
									<a href="#">All Kids</a>
								</li>
								<li class="submenu-item">
									<a href="#">Tops</a>
								</li>
								<li class="submenu-item">
									<a href="#">Bottoms</a>
								</li>
								<li class="submenu-item">
									<a href="#">Shoes</a>
								</li>
								<li class="submenu-item">
									<a href="#">Accessories</a>
								</li>
								<li class="submenu-item">
									<a href="#">Sale</a>
								</li>
							</ul>
						</li>
					</div>
					<div class="global-nav__item-group global-nav__item-group--info-links">
						<li class="global-nav__item">
							<a href="#">Store Locator</a>
						</li>
						<li class="global-nav__item">
							<a href="#">Contact Us</a>
						</li>
					</div>
					<div class="global-nav__item-group global-nav__item-group--account-links">
						<li class="global-nav__item has-submenu">
							<a href="#" class="menu-item-heading" aria-haspopup="true" aria-expanded="false"><span class="icon ion-ios-user"></span>Account</a>
							<button class="open-submenu">+</button>
							<ul class="submenu">
								<li class="submenu-item">
									<a href="#"><span class="icon ion-ios-user"></span>Sign In</a>
								</li>
								<li class="submenu-item">
									<a href="#">Register</a>
								</li>
							</ul>
						</li>
					</div>
					<div class="global-nav__item-group global-nav__item-group--language">
						<div class="language-selector" data-component="language-selector"></div>
					</div>
				</ul>
			</nav>
		</div>
		<a class="skip-link" id="skip-to-nav" href="#skip-to-main">Return to navigation menu</a>
	</div>
</header>