<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Component | Global Nav</title>
		<link rel="stylesheet" href="../../css/global.css">
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	</head>
	<body>
		<a class="skip-link" id="skip-to-main" href="#skip-to-nav" class="skip-link">Skip to main content</a> 
		<nav class="navigation">
			<nav class="global-nav">
				<a class="navigation-logo" href="#"><img alt="company name" src="http://via.placeholder.com/75x75" /></a> 
        <button class="dropdown-toggle" type="button" id="button"
            aria-haspopup="true" aria-expanded="false" aria-controls="menu" aria-label="Navigation">
            <span class="ion-ios-menu"></span>
        </button>
        <ul class="global-nav-menu">
					<li class="menu-item has-submenu">
						<a href="#" aria-haspopup="true" aria-expanded="false">Women</a>
						<ul class="submenu">
							<li class="submenu-item">
								<a href="Women">All Womens</a>
							</li>
							<li class="submenu-item">
								<a href="Tops">Tops</a>
							</li>
							<li class="submenu-item">
								<a href="Pants">Pants</a>
							</li>
							<li class="submenu-item">
								<a href="Dresses">Dresses</a>
							</li>
							<li class="submenu-item">
								<a href="Shoes">Shoes</a>
							</li>
							<li class="submenu-item">
								<a href="Hats">Hats</a>
							</li>
						</ul>
					</li>
					<li class="menu-item has-submenu">
						<a href="#" aria-haspopup="true" aria-expanded="false">Men</a>
						<ul class="submenu">
							<li class="submenu-item">
								<a href="Men">All Mens</a>
							</li>
							<li class="submenu-item">
								<a href="#">Tops</a>
							</li>
							<li class="submenu-item">
								<a href="#">Pants</a>
							</li>
							<li class="submenu-item">
								<a href="#">Kilts</a>
							</li>
							<li class="submenu-item">
								<a href="#">Shoes</a>
							</li>
							<li class="submenu-item">
								<a href="#">Hats</a>
							</li>
						</ul>
					</li>
					<li class="menu-item has-submenu">
						<a href="#" aria-haspopup="true" aria-expanded="false">Kids</a>
						<ul class="submenu">
							<li class="submenu-item">
								<a href="Tops">All Kids</a>
							</li>
							<li class="submenu-item">
								<a href="#">Tops</a>
							</li>
							<li class="submenu-item">
								<a href="#">Pants</a>
							</li>
							<li class="submenu-item">
								<a href="#">Dresses</a>
							</li>
							<li class="submenu-item">
								<a href="#">Shoes</a>
							</li>
							<li class="submenu-item">
								<a href="#">Hats</a>
							</li>
						</ul>
					</li>
					<li class="menu-item has-submenu">
						<a href="#" aria-haspopup="true" aria-expanded="false">Accessories</a>
						<ul class="submenu">
							<li class="submenu-item">
								<a href="Tops">All Accessories</a>
							</li>
							<li class="submenu-item">
								<a href="#">Necklaces</a>
							</li>
							<li class="submenu-item">
								<a href="#">Belts</a>
							</li>
							<li class="submenu-item">
								<a href="#">Rings</a>
							</li>
						</ul>
					</li>
					<li class="menu-item">
						<a href="#">Sale</a>
					</li>
					<a class="navigation-mini-cart" href="/">
						<img src="http://via.placeholder.com/75x50" >
					</a>
				</nav>
			<section>
			<a class="skip-link" id="skip-to-nav" href="#skip-to-main">Skip to Nav</a>
			<h1>This is dummy main content</h1>
			<h2>This is also dummy main content</h2>
			<button>Add to cart</button>
		</nav>
		<script src="global-nav.js"></script>
	</body>
</html>