<div class="cart-moneybox" data-template="cart-moneybox">
  <h2 class="heading heading--section">Cost of Cart</h2>
  <div class="cart-moneybox__summary-subtotal--header">
    <p class="cart-moneybox__subtotal-title">Subtotal</p>
    <p class="cart-moneybox__subtotal">${{cartSubtotal}}</p>
  </div>
  <div class="cart-moneybox__summary-subtotal">
    <p class="cart-moneybox__subtotal-title">Shipping estimate</p>
    <p class="cart-moneybox__subtotal">Free</p>
  </div>
  <div class="cart-moneybox__summary-subtotal">
    <p class="cart-moneybox__subtotal-title">Taxes estimate</p>
    <p class="cart-moneybox__subtotal">$0.00</p>
  </div>
  <hr class="divider">
  <div class="cart-moneybox__summary-subtotal">
    <p class="cart-moneybox__subtotal-title">Estimated Total</p>
    <p class="cart-moneybox__subtotal">${{cartSubtotal}}</p>
  </div>
  <div class="cart-moneybox__summary-controls">
    <a href="../plp/index.html" class="cart-moneybox__cta-btn btn btn--outline-black">Continue Shopping</a>
    <a href="../checkout/index.html" class="cart-moneybox__cta-btn cart-moneybox__checkout btn btn--primary">Pay Securely Now</a>
  </div>
</div>