/* COLOURS */
/*
=========================================== FONT SIZES
We're using REM based on a 10px root value set on html
Makes the maths easy, e.g.: 1.6rem = 16px
body is set to 1.6rem in global.scss
*/
/* Mobile Styles */
.carousel-wrapper {
  margin-bottom: 40px;
  box-sizing: border-box; }

.carousel-wrapper h2 {
  font-size: 14px;
  margin-bottom: 8px; }

.carousel {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-flow: row nowrap; }

.carousel__arrow {
  width: 40px;
  min-height: 120px;
  border: 1px solid black;
  cursor: pointer; }

.carousel__arrow:disabled {
  cursor: not-allowed;
  opacity: 0.25;
  color: #19191E; }

.carousel__container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.carousel__items {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding-left: 0;
  transition: all 1s; }

.carousel .card {
  padding: 10px;
  min-width: 270px; }

/* Tablet Styles */
/* Desktop Styles */
