/* Mobile Styles */

.carousel-wrapper {
  margin: 20px;
  box-sizing: border-box; }

.carousel {
  max-width: 100%;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap; }

.carousel__arrow {
  width: 50px; }

.carousel__container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.carousel__items {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding-left: 0;
  transition: all 1s; }

.carousel .card {
  padding: 10px; }

/* Local solution to possible global issue: making skip links visible on focus */
.carousel-wrapper .element-invisible:focus {
  position: static !important;
}

/* Tablet Styles */
/* Desktop Styles */
