@import '../../scss/variables';
/* ============================================== Breadcrumb Styles */

.breadcrumb {
    font-size: 1.2rem;
    margin: $grid-unit * 2 0 $grid-unit * 4;
    color: $dark-grey;
    ol {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }
    li {
        display: inline;
        +li::before {
            display: inline-block;
            margin: 0 .25em;
            content: '>';
        }
    }
    [aria-current="page"], a[aria-current="page"] {
        color: $dark-grey;
        text-decoration: none;
    }
    @media only screen and (min-width: $tablet) {
        margin-top: $grid-unit * 4;
        margin-bottom: $grid-unit * 2;
    }
}