@import '../../scss/variables';
@import '../../scss/flexboxgrid';

/* Breadcrumb Styles */
nav.breadcrumb {
		font-size: 12px;
		margin: 16px 0;
		color: $dark-grey;

		@media only screen and (max-width:$tablet) {
			margin-top: 16px;
		}
	}
	
	nav.breadcrumb ol {
		margin: 0;
		padding-left: 0;
		list-style: none;
	}
	
	nav.breadcrumb li {
		display: inline;
	}
	
	nav.breadcrumb li + li::before {
		display: inline-block;
		margin: 0 .25em;
		content: '>';
	}
	
	nav.breadcrumb [aria-current="page"] {
		color: #000;
		font-weight: 700;
		color: $dark-grey;
		text-decoration: none;
	}