/* COLOURS */
/*
=========================================== FONT SIZES

We're using REM based on a 10px root value set on html
Makes the maths easy, e.g.: 1.6rem = 16px
body is set to 1.6rem in global.scss
*/
/* Breadcrumb Styles */
.breadcrumb {
  font-size: 1.2rem;
  margin: 16px 0 32px;
  color: #333333; }

.breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none; }

.breadcrumb li {
  display: inline; }

.breadcrumb li + li::before {
  display: inline-block;
  margin: 0 .25em;
  content: '>'; }

.breadcrumb [aria-current="page"] {
  color: #333333;
  text-decoration: none; }

@media only screen and (min-width: 1024px) {
  .breadcrumb {
    margin-top: 32px;
    margin-bottom: 48px; } }
