<div class="skip-link" id="key-links" tabindex="0" data-component="key-link">
  <p>
    Welcome to our t-shirt store.<br />
    What would you like to do today?<br />
    Here are 5 options to get you started:
  </p>
</div>