@import '../../scss/variables';

/* ============================== PRODUCT TILE */

$dollar-size: 14px;
$cent-size: 12px;
$small-padding: 16px;

.product {
	padding: $small-padding;
	display: flex;
	flex-direction: column;
  justify-content: flex-start;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.08);

	img {
		max-width: 100%;
	}
	&__details{
    border: 0 !important;
    text-decoration: none;
	}
	&__heading {
		margin: 16px 0 0;
    min-height: 3.6rem;
    font-weight: bold;
    font-size: $font-sm;
	}

	&__cta {
		padding: $grid-unit;

		&.hide {
			display: none;
		}

	}
}

.quantity-comp {
	align-items: center;
	margin-bottom: 16px;

	&.show {
		display: flex;
	}

	&__text {
		text-align: center;
		border: none;
		font-size: 1.4rem;
		display: inline-block;
		width: 50px;
		flex-grow: 1;
	}

	/* button {
		border: 1px solid $rose;
		font-size: 22px;
		color: $rose;
		width: 36px; // 56px;
		min-width: 36px; // 56px;
		height: 32px;
	} */
}