/* COLOURS */
/*
=========================================== FONT SIZES

We're using REM based on a 10px root value set on html
Makes the maths easy, e.g.: 1.6rem = 16px
body is set to 1.6rem in global.scss
*/
.product {
  border: #C8C8C8 solid thin;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.product img {
  max-width: 100%; }

.product__heading {
  margin: 16px 0;
  font-size: 1.4rem; }

.product__cta {
  border: none;
  background-color: #B94650;
  font-size: 1.4rem;
  color: #FFFFFF;
  padding: 8px;
  cursor: pointer; }

.product__cta:hover, .product__cta:focus {
  background-color: #90373D;
  text-decoration: underline; }

.product__cta.hide {
  display: none; }

.quantity-comp {
  display: none;
  align-items: center;
  margin-bottom: 16px;
  /* button {
		border: 1px solid $rose;
		font-size: 22px;
		color: $rose;
		width: 36px; // 56px;
		min-width: 36px; // 56px;
		height: 32px;
	} */ }

.quantity-comp.show {
  display: flex; }

.quantity-comp__text {
  text-align: center;
  border: none;
  font-size: 1.4rem;
  display: inline-block;
  width: 50px;
  flex-grow: 1; }

.price {
  margin: 16px 0; }

.price__dollar {
  font-size: 14px; }

.price__cents {
  font-size: 12px;
  vertical-align: super; }

/* Tablet Styles */
/* Desktop Styles */
