<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Component | Carousel</title>
		<link rel="stylesheet" href="../../css/global.css">
		<link rel="stylesheet" href="cart-header.css">
	</head>
	<body>
        <div class="cart-header">
            <h2 class="cart-header__heading">Your Cart</h2>

            <p>You have <strong>2</strong> items in your cart.</p>

            <div class="cart-header__buttons-row">
                <button class="cart-header_button" id="continue-shopping">
                    Continue Shopping
                </button>
                <button class="cart-header_button" id="checkout">
                    Pay Securely Now
                </button>
            </div>
        </div>
   </body>
</html>