@import '../../scss/variables';
@import '../../scss/mixins';

/* ============================== Product Description */

.product-description {

  @media only screen and (min-width: $phablet) {
    padding-right: 12px;
  }

  @media only screen and (min-width: 900px) {
    padding-right: between(12px, 62px, 900px, $max-width);
  }

  @media only screen and (min-width: $max-width) {
    padding-right: 62px;
  }

  a {
    color: $black;
  }

  &__title {
    font-size: 2.4rem;
    margin-bottom: $grid-unit * 3;
    font-weight: bold;
    letter-spacing: -0.09rem;
  }

  &__price {
    display: block;
    line-height: 1;
    display: flex;
    margin-bottom: $grid-unit * 3;
    margin-top: $grid-unit * 3;
  }

  &__price-now {
    font-weight: bold;
    margin-right: auto;

    & .price {
      &__dollar {
        font-size: $font-lg;
      }

      &__cents {
        font-size: $font-md;
      }
    }
  }

  &__price-was {
    margin-right: $grid-unit * 5;

    & .price {
      &__dollar {
        font-size: $font-md;
      }

      &__cents {
        font-size: $font-sm;
      }
    }
  }

  &__price-save {
    margin-right: $grid-unit;

    & .price {
      &__dollar {
        font-size: $font-md;
      }

      &__cents {
        font-size: $font-sm;
      }
    }
  }

  &__radio-group {
    display: inline-block;
  }

  &__summary {
    letter-spacing: -0.05rem;
    line-height: 1.6;
    margin-bottom: $grid-unit;
  }

  &__read-more {
    font-size: $font-xs;
  }

  &__color-and-size {
    margin-bottom: $grid-unit * 4;
  }

  &__size {
    margin-top: $grid-unit * 4;
  }

  &__input-title {
    font-size: $font-xs;
    font-weight: bold;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  & .price {
    &__cents {
      vertical-align: top;
      line-height: 1.2;
    }
  }
}

.price {
  &__label {
    display: block;
    font-size: $font-xs;
    margin-bottom: $grid-unit;
    text-transform: uppercase;
  }
}

.size-chart {
  &__link {
    .icon {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      vertical-align: middle;
    }
  }
}

.quantity-comp {
  @include medium-shadow;
  background-color: $white;
  padding: 4px;
  border-radius: 20px;
  align-items: center;
  margin-right: $grid-unit;

  &__text {
    text-align: center;
    border: none;
    font-size: 1.6rem;
    font-weight: bold;
    width: 40px;
  }
}

.product-actions {
  &__cart {
    display: flex;
    justify-content: space-between;
  }

  &__add-to-cart {
    flex: 1;
    max-width: 224px;
    margin-right: $grid-unit;
    // height: 40px;
  }
}

.product-rating {
  background-color: transparent;
  border: 0;
  outline: 0;

  &__display {
    display: flex;
    flex-wrap: wrap;
  }

  &__prefix {
    margin-right: $grid-unit * 2;
    font-size: $font-xs;
    font-weight: bold;
  }

  &__stars {
    font-size: $font-xs;
    margin-bottom: 8px;
  }

  &__value {
    margin-left: 8px;
  }

  &__star {
    vertical-align: bottom;
  }

  &__view-button {
    cursor: pointer;
    text-align: center;
    font-size: $font-xs;

    &:focus {
      /* .product-rating__view-all {
				box-shadow: 0 0 3px rose;
			} */
    }
  }

  &__view-all {
    border: 1px solid #3575FF;
    color: #FFF;
    background-color: grey;
    padding: 10px;
    display: inline-block;
  }
}
