<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Accordion, Sizing Table, Reviews</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="accordion-sizing-table-reviews.css" />
	<script src="accordion-sizing-table-reviews.js"></script>
</head>
<body>
	<table>
		<caption>Javascript Libraries</caption>
		<tbody>
			<tr>
				<th scope=“col”>Name</th>
				<th scope=“col”>Age</th>
				<th scope=“col”>Birthday</th>
			</tr>
			<tr>
				<th scope=“row”>jQuery</th>
				<td>11</td>
				<td>August 26</td>
			</tr>
			<tr>
				<th scope=“row”>React</th>
				<td>4</td>
				<td>March 21</td>
			</tr>
		</tbody>
	</table>
</body>
</html>