#toggle-size-units-button {
	padding: 10px 0;
	border: 2px solid black;
	background: none;
	border-radius: 5px;

	.units-toggle {
		padding: 10px;
	}

	.selected {
		color: red;
		background: #CCC;
		border-radius: 5px;
	}
}

.show-centimeters tr.inches {
	display: none;
}

.show-inches tr.centimeters {
	display: none;
}

#size-chart-table {
	th,
	td {
		border: 1px solid black;
	}

	tr:first-of-type th {
		font-size: 1.3em;
		min-width: 90px;
	}
}

.accordion {
  padding: 0;
  margin: 0;

  &-panel {
    list-style: none;
    border: 1px #c5c5c5 solid;

    &_heading {
      button {
        border-bottom: 1px #c5c5c5 solid;
        background-color: #c5c5c5;
        width: 100%;
        text-align: left;
        padding: 10px;
        font-size: 16px;
        position: relative;
        cursor: pointer;

        &:after {
          content: '';
          position: absolute;
          right: 15px;
          top: 15px;
          border-style: solid;
          border-width: 0.12em 0.12em 0 0;
          display: inline-block;
          height: 0.45em;
          transform: rotate(135deg);
          vertical-align: top;
          width: 0.45em;
          transition: transform 1s;
        }
      }

      &.accordion--open {
        button {
          background-color: #e6e6e6;
          &:after {
            transform: rotate(-45deg);
          } 
        }
      }
    }

    &_content {
      visibility: hidden;
      padding: 15px;
      
      &.accordion--open {
        visibility: visible;
      }
    }
  }
}
