<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Accordion, Sizing Table, Reviews</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="accordion-sizing-table-reviews.css" />
</head>
<body>
	<!-- Accordion START -->
	<ul class="accordion">
		<li class="accordion-panel">
			<div class="accordion-panel_heading">
				<button aria-label="Show Product Description" data-open-aria-label="Show Product Description" data-hide-aria-label="Hide Product Description">Product Description</button>
			</div>
			<div class="accordion-panel_content">
				<h2>Product Description</h2>
				<p>Here is a bunch of stufff <a href="#">Click here</a></p>
			</div>
		</li>
		<li class="accordion-panel">
			<div class="accordion-panel_heading">
					<button aria-label="Show size chart" data-open-aria-label="Show Size Chart" data-hide-aria-label="Hide Size Chart">Size Chart</button>
			</div>
			<div class="accordion-panel_content">
				<h2>Size Chart</h2>
				<p>Here is a bunch of stufff <a href="#">Click here</a></p>
			</div>
		</li>
		<li class="accordion-panel">
			<div class="accordion-panel_heading">
					<button aria-label="Show care instructions" data-open-aria-label="Show care instructions" data-hide-aria-label="Hide care instructions">Care Instructions</button>
			</div>
			<div class="accordion-panel_content">
				<h2>Care Instructions</h2>
				<p>Here is a bunch of stufff <a href="#">Click here</a></p>
			</div>
		</li>
		<li class="accordion-panel">
			<div class="accordion-panel_heading">
				<button aria-label="Show Ratings and Reviews" data-open-aria-label="Show ratings and reviews" data-hide-aria-label="Hide ratings and reviews">Ratings and Reviews</button>
			</div>
			<div class="accordion-panel_content">
				<h2>Ratings and Reviews</h2>
				<p>Here is a bunch of stufff <a href="#">Click here</a></p>
			</div>
		</li>
	</ul>
	<!-- Accordion END -->

	<!-- Table START -->
	<table>
		<caption>Javascript Libraries</caption>
		<tbody>
			<tr>
				<th scope=“col”>Name</th>
				<th scope=“col”>Age</th>
				<th scope=“col”>Birthday</th>
			</tr>
			<tr>
				<th scope=“row”>jQuery</th>
				<td>11</td>
				<td>August 26</td>
			</tr>
			<tr>
				<th scope=“row”>React</th>
				<td>4</td>
				<td>March 21</td>
			</tr>
		</tbody>
	</table>
	<!-- Accordion END -->

	<!-- Reviews START -->

	<!-- Reviews END -->
	<script src="accordion-sizing-table-reviews.js"></script>
</body>
</html>