@import '../../scss/mixins';
@import '../../scss/variables';

.modal {
    display: none; 
    position: fixed; 
    z-index: 200; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(31,31,31); 
    background-color: rgba(31,31,31,0.75); 

  
    &__content {
        margin: 15% auto; 
        padding: 40px;
        width: 420px;	
        background-color: $white; 
        position: relative;

        h2 {
            color: $black;	
            font-size: $font-xxl;	
            font-weight: bold;	
            letter-spacing: -0.9px;	
            line-height: 29px;
            margin-top: 0px;
        }

        p {
            color: #000000;	
            letter-spacing: -0.5px;	
            line-height: 24px;
        }
    }
    &__close {
        position: absolute;
        right: -16px;
        top: -16px;
        height: 32px;
        width: 32px;
        border-radius: 16px;
        border-width: 0;
        color: #000000;
        font-size: 18px;
        font-weight: bold;
        @include medium-shadow;
    }
    .btn {
        width: 178px;
    }
}