<div id="construction-modal" class="modal" role="dialog" aria-modal="true" aria-labelledby="modalTitle" aria-describedby="modalDesc">
  <div class="modal__flex">
    <div class="modal__content">
      <button class="modal__close" aria-label="close modal" data-modal-hide="construction-modal">
        <svg class="icon icon-close">
          <use xlink:href="../sprite.svg#close"></use>
        </svg>
      </button>
      <h2 id="modalTitle">Coming soon!</h2>
      <p id="modalDesc">This element is under construction. It currently lacks functionality, but it is planned to be developed in the coming months. Check back soon.</p>
      <button class="btn" aria-label="close modal" data-modal-hide="construction-modal">Close</button>
    </div>
  </div>
</div>