<div id="construction-modal" class="modal" role="dialog" aria-modal="true" aria-labelledby="modalTitle" aria-describedby="modalDesc">
  <div class="modal-content">
    <button class="close modal-close" aria-label="close modal">&times;</button>
    <h2 id="modalTitle">Coming soon!</h2>
    <p id="modalDesc">This element is under construction. It currently lacks functionality, but it is planned to be developed in the coming months. Check back soon.</p>
    <button class="btn modal-close" aria-label="close modal">Close</button>
  </div>
</div>