.f-item-group {
	@include clearfix;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid map-get($colors, light);

	&:last-child {
		border-bottom: 0;
		margin-bottom: 0;
	}

	& ~ & {
		margin-top: 0;
	}

	& > & {
		padding-bottom: 1.5rem;
		margin-bottom: 1.5rem;
		border-bottom: 0;

		&:first-of-type {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.f-item-code {
	margin-top: 2rem;
}

.f-item-preview {
	@include clearfix;
	h1, h2, h3, h4, h5, h6{
		font-weight: normal;
	}
	& > * {
		letter-spacing: 0.05em;
	}
	a:not(.btn) {
		color: $rose;
		text-decoration: none;
		border-bottom: 2px solid transparent;
		&:hover,
		&:focus {
			color: $dark-rose;
			border-bottom-color: $dark-rose;
		}
	}
}

.f-item-border-bottom {
	border-bottom: 1px solid map-get($colors, light);
}

.f-item-heading-group {
	@include clearfix;
	margin-bottom: 2rem;
	vertical-align: middle;
}

.f-item-heading {
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}


.f-item-controls {
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.5rem;

	.f-control {
		width: 14px;
		height: 14px;
		display: block;
		float: left;

		&:hover {
			use {
				fill: map-get($colors, normal);
			}
		}

		use {
			fill: map-get($colors, light);
		}
	}
}

.f-item-hidden {
	display: none;
}

.f-item-notes {
	font-size: 1.4rem;
	pre{
		margin: 1em 0;
		padding: 1.2em;
		border-radius: 3px;
		font-size: 85%;
		color: map-get($code-colors, black);
		background: map-get($code-colors, light-gray);
	}
	padding: 4px 8px;
    background: whitesmoke;
    border-radius: 4px;
	margin-bottom: 16px;
	ul{
		padding-left: 24px;
	}
	li{
		margin-bottom: 8px;
	}
}
