$accent-blue: #0059ab;
$key-link-border: #00407A;

#product-link-container {
  background-color: $accent-blue;
  color: #fff;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 448px) {
    flex-direction: column;
  }
}

#product-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  @media only screen and (max-width: $menu-collapse) {
    justify-content: space-between;
  }
}

.link-wrapper {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 16px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 4px 0px;

  a {
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 8px;
    text-decoration: none;
  }

  &:focus-within {
    outline: none;
    background-color: #fff;
    border-color: $key-link-border;
    color: $accent-blue;

    a {
      color: $accent-blue;
    }
  }
}

#product-link-text {
  margin-left: 16px;
  margin-right: 16px;
}

.product-grid__product-tiles {
  margin-top: 32px;
}

.product-grid {
  &__jump-links {
    display: none;

    @media only screen and (min-width: $filters-collapse) {
      padding-top: 36px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__product-tiles {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(158px, 1fr));

    @media only screen and (min-width: $mobile) {
      grid-column-gap: 24px;
      grid-row-gap: 40px;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    @media only screen and (min-width: $filters-collapse) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    @media only screen and (min-width: 900px) {
      grid-column-gap: between(24px, 50px, 900px, $max-width);
    }

    @media only screen and (min-width: $max-width) {
      grid-column-gap: 50px;
    }
  }
}
