$accent-blue: #0059ab;
$key-link-border: #00407A;

#product-link-container {
  background-color: $accent-blue;
  color: #fff;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

#product-links {
  display: flex;
  align-items: center;
  list-style: none;
}

#product-link-text {
  margin-left: 16px;
  margin-right: 16px;
}

.product-grid {
  &__jump-links {
    display: none;

    @media only screen and (min-width: $filters-collapse) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__product-tiles {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(158px, 1fr));

    @media only screen and (min-width: $mobile) {
      grid-column-gap: 24px;
      grid-row-gap: 40px;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    @media only screen and (min-width: $filters-collapse) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    @media only screen and (min-width: 900px) {
      grid-column-gap: between(24px, 50px, 900px, $max-width);
    }

    @media only screen and (min-width: $max-width) {
      grid-column-gap: 50px;
    }
  }
}
