<section class="product-grid" aria-label="Product Results">
  <div class="product-grid__jump-links">
    {{!-- <div class="skip-link" id="product-link-container" role=”application” tabindex="0">
      <p id="product-link-text">
        Showing <span id="items-count"></span> items.<br />
        Continue tabbing to browse the items, or press:
      </p>
      <ul id="product-links">
        <li class="link-wrapper">
          <a class="key-link" id="f4filter" href="#skip-to-products-from-filters-heading">
            F for filter
          </a>
        </li>
        <li class="link-wrapper">
          <a class="key-link" id="b4sort" href="#skip-to-products-from-sort-heading">
            B for sort by
          </a>
        </li>
      </ul>
    </div> --}}
    <a id="skip-to-products-from-filters" href="#skip-to-products-from-filters-heading" class="skip-link">Skip to
      Filters</a>
    <a id="skip-to-products-from-sort" href="#skip-to-products-from-sort-heading" class="skip-link">Skip to Sort</a>
  </div>
  <div class="product-grid__product-tiles" data-component="grid"></div>
</section>