<section class="product-grid">
  <div class="product-grid__jump-links">
    <a id="skip-to-products-from-filters" href="#skip-to-filters" class="skip-link">Skip to Filters</a>
    <a id="skip-to-products-from-sort" href="#skip-to-sort" class="skip-link">Skip to Sort</a>
  </div>
  <div class="product-grid__product-tiles" data-component="grid"></div>
</section>