<section class="product-grid">
  <div class="product-grid__jump-links">
    <a href="#filters" class="skip-link">Skip to Filters</a>
    <a id="skip-to-sort" href="#sort" class="skip-link">Skip to Sort</a>
  </div>
  <div class="product-grid__product-tiles" data-component="grid"></div>
</section>