@mixin inputField {
  height: 50px;
  border-radius: 4px;
  border: 1px solid #D8D8D8;
  width: 100%;
  font-size: 14px;
  box-shadow: none;
  background-color: #fff;

  + .error-msg {
    display: none;
  }

  &.invalid {
    box-shadow: 0 0 3px red;

    + .error-msg {
      display: block;
      margin-top: 10px;
      color: red;
      font-size: 12px;
    }
  }
}

.checkout {
  &__sign-in-form,
  &__guest-sign-in,
  &__shipping-form,
  &__billing-address-form,
  &__payment-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__billing-address-form {
    margin-bottom: 80px;

    &--hidden {
      display: none;
    }
  }

  hr {
    width: 100%;
    border-top-width: 2px;
    &.hr-2 {
      border-top: 1px solid #9b9b9b;
    }
  }

  h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  label {
    width: 100%;
    font-size: 14px;
  }

  input {
    @include inputField;
  }

  select {
    @include inputField;
    font-weight: bold;
  }

  label {
    color: black;
    font-weight: bold;
    line-height: 18px;
    display: inline-block;
    padding: 1.333rem 0 0.666rem;
  }

  .payment-information {
    &__form-row {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 250px;
      grid-column-gap: 50px;
    }

    &__column {
      display: flex;
      flex-direction: column;
    }

    &__tooltip {
      &--visible {
        .payment-information__tooltip-popup {
          display: block;
        }
      }
    }

    &__tooltip-popup {
      display: none;
      position: absolute;
      background-color: white;
      right: 24px;
    }

    &__tooltip-icon {
      padding: 0;
      margin: 0;
      border: none;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      color: white;
      background-color: black;
      display: inline-block;
      font-size: 1.25rem;
      text-align: center;
      font-style: normal;
      line-height: 1.1;
      cursor: pointer;

    }

    &__label-tooltip {
      display: flex;
      align-items: center;

      label {
        flex: 0;
        min-width: 140px;
      }
    }
  }

  .shipping-form {
    &__form-row {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 250px;
      grid-column-gap: 50px;
    }

    &__column {
      display: flex;
      flex-direction: column;
    }

    &__shipping-type {
      display: flex;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 14px;
      font-weight: normal;

      &:hover input ~ .custom-radio {
        background-color: #ccc;
      }

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .custom-radio {
          background-color: white;

          &:after {
            display: block;
          }
        }

        &:focus ~ .custom-radio {
          outline: 1px dotted currentColor;
        }

      }

      .custom-radio {
        position: absolute;
        left: 0;
        height: 25px;
        width: 25px;
        margin-top: -3px;
        background-color: white;
        border: 1px solid #b5b5b5;
        border-radius: 50%;

        &:after {
          content: "";
          position: absolute;
          display: none;
          top: 6px;
          left: 6px;
          width: 11px;
          height: 11px;
          border-radius: 50%;
          background: black;
        }
      }
    }

    .container input:checked ~ .checkmark:after {
      display: block;
    }
  }

  .btn {
    margin-top: 25px;
    padding-right: 50px;
    padding-left: 50px;
    flex: 0;
    align-self: flex-end;
  }

  &__billing-address-form {
    &--hidden {
      display: none;
    }
  }

  .billing-address {
    margin-bottom: 80px;

    &__billing-address-check {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;

      input {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        width: auto;

        &:checked ~ .billing-address__billing-address-custom-checkbox {
          &:before {
            content: '';
          }
        }
      }
    }

    &__billing-address-custom-checkbox {
      width: 24px;
      height: 24px;
      border: 1px solid #B5B5B5;
      border-radius: 4px;
      display: inline-block;
      background-color: white;
      position: relative;
      margin-right: 1rem;

      &:before {
        position: absolute;
        width: 6px;
        height: 11px;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        transform: rotate(35deg);
        top: 2px;
        left: 6px;
        margin-right: 1rem;
      }
    }
  }
}