<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Component | Mini Cart</title>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="gallery.css">
</head>
 
<body>
    <div class="gallery">
        <div class="gallery__main-image">
            <img src="http://via.placeholder.com/600x900" alt="" />
        </div>
 
        <ul class="gallery__thumbnail-list">
            <li>
                <button>
                    <img src="http://via.placeholder.com/100x100?text=1" alt="First image thumbnail">
                </button>
                <button>
                    <img src="http://via.placeholder.com/100x100?text=2" alt="Second image thumbnail">
                </button>
                <button>
                    <img src="http://via.placeholder.com/100x100?text=3" alt="Third image thumbnail">
                </button>
                <button>
                    <img src="http://via.placeholder.com/100x100?text=4" alt="Fourth image thumbnail">
                </button>
                <button>
                    <img src="http://via.placeholder.com/100x100?text=V" alt="First Video">
                </button>
            </li>
        </ul>
    </div>
    <script src="gallery.js"></script>
</body>
 
</html>
 