<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Component | Global Nav</title>
		<link rel="stylesheet" href="../../css/global.css">
		<link rel="stylesheet" href="global-nav.css">
	</head>
	<body>
		<a href="#maincontent">Skip to main content</a> 
		<section class="navigation">
			<a class="navigation-logo" href="#" alt="company name logo" ><img src="http://via.placeholder.com/75x75" /></a> 
			<nav class="global-nav">
				<li class="menu-item has-submenu">
					<a href="#" aria-haspopup="true" aria-expanded="false">Space Bears</a>
					<ul class="submenu">
						<li class="submenu-item">
							<a href="#">Space Bear 6</a>
						</li>
						<li class="submenu-item">
							<a href="#">Space Bear 6 Plus</a>
						</li>
					</ul>
				</li>
			</nav>
			<a class="navigation-mini-cart" href="/">
				<img src="http://via.placeholder.com/75x50" >
			</a>
		</section>
		<section>
			<nav aria-label="Breadcrumb" class="breadcrumb">
				<ol>
					<li>
						<a href="../../">
							WAI-ARIA Authoring Practices 1.1
						</a>
					</li>
					<li>
						<a href="../../#aria_ex">
							Design Patterns
						</a>
					</li>
					<li>
						<a href="../../#breadcrumb">
							Breadcrumb Pattern
						</a>
					</li>
					<li>
						<a href="./index.html" aria-current="page">
							Breadcrumb Example
						</a>
					</li>
				</ol>
			</nav>
		</section>
		<script src="global-nav.js"></script>
	</body>
</html>