<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Component | Global Nav</title>
		<link rel="stylesheet" href="../../css/global.css">
	</head>
	<body>
		<a id="skip-to-main" href="#skip-to-nav" class="skip-link">Skip to main content</a> 
		<section class="navigation">
			<a class="navigation-logo" href="#" title="Company name: Home" ><img src="http://via.placeholder.com/75x75" /></a> 
			<nav class="global-nav">
				<ul>
					<li class="menu-item has-submenu">
						<a href="#" aria-haspopup="true" aria-expanded="false">Women</a>
						<ul class="submenu">
							<li class="submenu-item">
								<a href="Tops">Tops</a>
							</li>
							<li class="submenu-item">
								<a href="Pants">Pants</a>
							</li>
							<li class="submenu-item">
								<a href="Dresses">Dresses</a>
							</li>
							<li class="submenu-item">
								<a href="Shoes">Shoes</a>
							</li>
							<li class="submenu-item">
								<a href="Hats">Hats</a>
							</li>
						</ul>
					</li>
					<li class="menu-item has-submenu">
						<a href="#" aria-haspopup="true" aria-expanded="false">Men</a>
						<ul class="submenu">
							<li class="submenu-item">
								<a href="#">Tops</a>
							</li>
							<li class="submenu-item">
								<a href="#">Pants</a>
							</li>
							<li class="submenu-item">
								<a href="#">Dresses</a>
							</li>
							<li class="submenu-item">
								<a href="#">Shoes</a>
							</li>
							<li class="submenu-item">
								<a href="#">Hats</a>
							</li>
						</ul>
					</li>
					<li class="menu-item has-submenu">
						<a href="#" aria-haspopup="true" aria-expanded="false">Kids</a>
						<ul class="submenu">
							<li class="submenu-item">
								<a href="#">Tops</a>
							</li>
							<li class="submenu-item">
								<a href="#">Pants</a>
							</li>
							<li class="submenu-item">
								<a href="#">Dresses</a>
							</li>
							<li class="submenu-item">
								<a href="#">Shoes</a>
							</li>
							<li class="submenu-item">
								<a href="#">Hats</a>
							</li>
						</ul>
					</li>
					<li class="menu-item has-submenu">
						<a href="#" aria-haspopup="true" aria-expanded="false">Accessories</a>
						<ul class="submenu">
							<li class="submenu-item">
								<a href="#">Necklaces</a>
							</li>
							<li class="submenu-item">
								<a href="#">Belts</a>
							</li>
							<li class="submenu-item">
								<a href="#">Rings</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="menu-item" href="#">Sale</a>
					</li>
				</nav>
				<a class="navigation-mini-cart" href="/">
					<img src="http://via.placeholder.com/75x50" >
				</a>
		</section>
		<section>
			<a id="skip-to-nav" href="#skip-to-main">Skip to Nav</a>
			<h1>This is dummy main content</h1>
			<h2>This is also dummy main content</h2>
			<button>Add to cart</button>
		</section>
		<script src="global-nav.js"></script>
	</body>
</html>