/* Mobile Styles */

.global-nav {
	.has-submenu .submenu {
		display: none;
	}
	
	.has-submenu.open .submenu {
			display: block;
	}

	.global-nav-menu {
		list-style: none;
		padding: 0;
	}
}

/* Tablet Styles */

/* Desktop Styles */