/* Mobile Styles */
.skip-link {
}

.navigation {
	display: flex;
	.global-nav {
		display: flex;
		.menu-item {
			display: inline-block;
		}
		.menu-item a {
			display: inline-block;
		}
		.has-submenu .submenu {
			display: none;
		}
		
		.has-submenu.open .submenu {
			display: block;
		}
	}

	.global-nav-menu {
		list-style: none;
		padding: 0;
	}
}


/* Tablet Styles */

/* Desktop Styles */