@import '../../scss/variables';
@import '../../scss/flexboxgrid';

/* Mobile Styles */
.navigation {
	background-color: $beige;
	padding: 25px 0;

	&-logo {
		color: #333;
		text-decoration: none;
	}

	&-logo img {
		float: left;
    	margin: 0 15px 0 10px;
	}

	&-mini-cart, .mini-cart {
		align-items: right;
		display: flex;
		order: 3;

		@media only screen and (max-width:$tablet) {
			order: 2;
			padding-right: 0.5em;
		}
	}

	&-siteName {
		font-family: Georgia, Times, Palatino, serif;
    	font-size: 22px;
    	font-weight: 600;
    	max-width: 500px;
    	line-height: 1.1;
    	padding: 2px 0 10px 0;
	}

	.global-nav-menu {
		list-style: none;
		display: flex;
		padding: 0;
		width: 100%;
		justify-content: space-around; // space-between;
		align-items: center;
		text-align: center;
	}

	.global-nav {
		@extend .col-md-offset-1;
		@extend .col-md-7;
		
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 1 1 auto;
		order: 2;

		@media only screen and (max-width:$mobile) {
			order: 3;
			width: 100vw;
		}

		.menu-item {
			display: inline-block;
			flex: 1 1 0;
			text-align: center;
		}
		.menu-item a {
			display: inline-block;
		}
		.has-submenu {
			position: relative;
		}
		.has-submenu .submenu {
			display: none;
			a {
				font-size: 14px;
			}
		}
		.has-submenu.open .menu-item-heading {
			border-bottom: 2px solid $rose;
		}
		.has-submenu.open .submenu {
			display: block;
			position: absolute;
			padding: 17px;
			width: 220px;
			left: -50%;
			margin: 42px 24px 0 12px;;
			background: $white;
			box-shadow: 0 4px 14px 2px rgba(0,0,0,0.31);
			z-index: 100;
			&:before {
				top: 0;
				left: 50%;
				margin-left: 18px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
    			box-sizing: border-box;
    			border: 12px solid black;
    			border-color: transparent transparent $white $white;
				transform-origin: 0 0;
				transform: rotate(-225deg);
    			box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.11);
			}
		}
	}

	ul.global-nav-menu li {
		display: block;
		padding: 8px 5px;
		border: none;
		text-align: left;
	}
	
	ul.global-nav-menu li a {
		color: $rose;
		font-size: 1.125rem;
		text-decoration: none;
		border-bottom: 2px solid transparent;
		&:hover, &:focus {
			text-decoration: none;
			border-bottom: 2px solid $rose;
		}

		@media only screen and (max-width:$tablet) {
			font-size: 0.874rem;
		}
	}		
}




/* Tablet Styles */

/* Desktop Styles */