@import '../../scss/variables';

#skip-to-main {
  background: $black;
  color: #fff;
  margin: 0;
  display: block;
  padding: 8px;
  text-align: center;
  outline-offset: -2px;
}

#skip-to-nav {
  display: block;
  text-align: center;
  margin: 0;
  padding: 8px;
  outline-offset: -2px;
}

.global-header {
  background-color: $black;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 58px auto;
  justify-content: center;
  min-height: 140px;
  height: auto;
  position: relative;
  z-index: 100;

  @media only screen and (min-width: $menu-collapse) {
    padding: 0 between(24px, 60px, $menu-collapse, $max-width);
    min-height: 140px;
    grid-template-columns:
      minmax(72px, 220px) minmax(428px, 724px) minmax(195px, 216px);
  }

  @media only screen and (min-width: $max-width) {
    padding: 0 24px;
  }

  &__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: start;
    color: #fff;
    text-decoration: none;
    margin-left: 24px;

    @media only screen and (min-width: $menu-collapse) {
      margin-left: 0;
      grid-row: 1 / 3;
    }

    @media only screen and (min-width: $logo-collapse) {}
  }

  &__site-icon {
    color: $white;
    font-size: 2rem;
    font-weight: 600;
    width: 3.2rem;
    height: 3.2rem;
    border: 2px solid #ffffff;
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
  }

  &__site-name {
    color: $white;
    font-size: $font-xs;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.5rem;
    margin-right: $grid-unit * 4;
    margin-left: 16px;
    display: none;

    @media only screen and (min-width: $logo-collapse) {
      display: block;
    }
  }

  &__mobile-toggles {
    justify-self: end;

    @media only screen and (min-width: $menu-collapse) {
      display: none;
    }
  }

  .btn--mobile {
    font-size: 10px;
    width: 62px;
    padding: 8px;
    border-radius: 0;
    background: transparent;
    position: relative;
    top: 1px;

    .icon {
      width: 24px;
      height: 24px;
      margin-top: 5px;
    }
  }

  .btn--menu-toggle {
    &[aria-expanded='true'] {
      border-left: 1px solid $grey;
      border-bottom: 1px solid $black;
      z-index: $layer-menu + 1;
    }
  }

  .btn--mobile-search {
    margin-left: auto;
  }

  .skip-link {
    &:focus {
      color: #fff;
      text-align: center;
      width: 100%;
    }
  }

  &__search-form {
    padding-top: 24px;
    display: none;
    grid-column: 2 / 3;
    align-self: start;

    @media only screen and (min-width: $menu-collapse) {
      display: flex;
      padding-left: 20px;
      padding-right: 48px;
      align-items: center;
    }

    label {
      font-size: $font-sm;
      font-weight: bold;
      margin-right: 24px;
    }
  }

  &__search-input {
    background-color: $black;
    color: #fff;
    height: 32px;
    border-color: $medium-grey;
    border-width: 1px 0 1px 1px;
    border-radius: 16px 0 0 16px;
    border-style: solid;
    padding-left: 8px;
    font-size: 16px;
    flex: 1 1 auto;
    margin-right: 0;
  }

  &__search-btn {
    border-style: solid;
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 0 16px 16px 0;
    background-color: $black;
    border-color: $medium-grey;
    border-width: 1px 1px 1px 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      fill: currentColor;
      width: 15px;
      height: 15px;
      stroke: #fff;
      stroke-width: 2;
    }
  }
}

@media only screen and (max-width: $menu-collapse - 1) {

  .primary-nav,
  .secondary-nav {
    &.open {
      display: block;
    }
  }
}

.primary-nav {
  display: none;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  padding-left: 20px;

  @media only screen and (min-width: $menu-collapse) {
    display: block;
    align-self: end;
    max-width: 560px;
    padding-right: 5px;
    grid-column: 2 / 3;
  }

  .icon {
    margin-left: 4px;
    transform: rotate(270deg);
    height: 16px;
    width: 6px;
  }

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $black;

    @media only screen and (min-width: $menu-collapse) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__heading {
    color: $white;
    font-size: $font-md;
    font-weight: bold;
    display: block;
    padding: 18px 24px;
    margin: 0;

    border: 0;
    background: transparent;
    width: 100%;
    text-align: left;
    text-decoration: none;
    cursor: pointer;

    .icon--chevron {
      width: 12px;
      height: 16px;
      transform: rotate(-90deg);
      margin-left: 4px;
      float: right;
    }

    @media only screen and (min-width: $menu-collapse) {
      font-size: $font-lg;
      border-bottom: 8px solid transparent;
      padding: 0 0 8px;

      .icon--chevron {
        width: 6px;
        float: none;
      }

      &.active {
        border-color: #fff;
      }
    }
  }

  &__item {
    border-top: 1px solid $grey;

    @media only screen and (min-width: $menu-collapse) {
      border: 0;
    }

    &.has-submenu {
      position: relative;
    }
  }

  &__submenu {
    display: none;

    @media only screen and (min-width: $menu-collapse) {
      position: absolute;
    }

    .has-submenu.open & {
      display: block;
      padding: 0;
      z-index: $layer-menu;
      top: calc(100% - 8px);
    }
  }
}

.submenu-item {
  list-style: none;

  a {
    background-color: $white;
    text-decoration: none;
    padding: 12px 25px;
    text-align: left;
    min-width: 155px;
    color: $black;
    display: block;
    border-bottom: 1px solid $grey;

    &:hover {
      text-decoration: underline;
      color: $pure-black;
      font-weight: bold;
      background-color: $light-grey;
    }

    &:focus {
      text-decoration: none;
      color: $pure-black;
      font-weight: bold;
      background-color: $light-grey;
    }
  }

  &:last-child a {
    border-bottom: none;
  }
}

.secondary-nav {
  display: none;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  justify-self: stretch;

  @media only screen and (min-width: $menu-collapse) {
    display: block;
    padding-top: 24px;
    padding-bottom: 16px;
    grid-row: 1 / 3;
    grid-column: 3 / 4;
  }

  &__items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $black;
    list-style: none;

    @media only screen and (min-width: $menu-collapse) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100%;
      border-left: 1px solid $medium-grey;
      padding-left: 16px;
    }
  }

  &__item {
    border-top: 1px solid $grey;

    @media only screen and (min-width: $menu-collapse) {
      border: 0;
    }
  }

  @media only screen and (min-width: $menu-collapse) {

    &__mini-cart,
    &__contact {
      justify-self: end;
    }

    &__stores,
    &__contact {
      align-self: end;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 18px 24px;
    font-size: $font-md;
    border: 0;
    font-weight: bold;
    background: transparent;
    color: #fff;
    cursor: pointer;

    .icon {
      width: 18px;
      height: 18px;
      margin-right: 6px;
    }

    @media only screen and (min-width: $menu-collapse) {
      font-size: $font-sm;
      height: 24px;
      padding: 0;
    }
  }
}
