@import '../../scss/variables';
@import '../../scss/mixins';
/* ===================================== PRODUCT DETAILS PAGE */

.main-content {

  @media only screen and (min-width:1024px) {
    width: 1020px;
    margin: 50px auto;
  }

  .description-container,
  .gallery-container {
    display: inline-block;
  }

  .gallery-container {
		width: 50%;
	}

	.description-container {
    vertical-align: top;
		width: 49%;
	}
}

.product-details {
	margin-bottom: 40px; 
}