@import '../../scss/variables';
@import '../../scss/mixins';

/* ============================== FOOTER */
.footer {
  background: $black;
  color: $white;
	padding: 32px 0;
	font-size: 1.4rem;

	.row{
		justify-content: space-between;
	}

	a {
    color: $white;
		text-decoration: none;
		margin-bottom: 8px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
  }

  label,
  button {
    display: block;
  }

  &__link-container {
    display: flex;
    justify-content: space-between;

    li {
      min-width: 124px;
      margin-right: 24px;
    }

    textarea {
      margin: 17px 0;
      width: 296px;
      height: 72px;
      resize: none;
      background: transparent;

      @media only screen and (max-width:$mobile) {
        width: auto;
      }
    }

    @media only screen and (max-width:$mobile) {
      display: block;
    }
  }

  &__secondary-links {
    font-size: $font-xs;
    font-weight: normal;
  }
}