@import '../../scss/variables';
@import '../../scss/mixins';

/* ============================== FOOTER */
.footer {
  background: $black;
  color: $white;
	padding: 32px 0;
	font-size: 1.4rem;

	.row{
		justify-content: space-between;
	}

	a {
    color: $white;
		text-decoration: none;
		margin-bottom: 8px;
		display: inline-block;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  &__main-links li {
    min-width: $grid-unit * 20;
  }

  &__secondary-links {
    font-size: $font-xs;
    font-weight: normal;
  }

  &__link-container,
  &__feedback-container {
    display: inline-block;
    @include flex-column();
  }
}