<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Component | Footer</title>
		<link rel="stylesheet" href="../../css/global.css">
		<link rel="stylesheet" href="footer.css">
	</head>
	<body>
		<footer class="footer clearfix">
			<nav aria-labelledby="footer-label" class="footer__nav">
				<h2 id="footer-label" class="footer__heading footer__heading--main element-invisible">Secondary Navigation</h2>
				<ul class="footer__list footer__list--2-column">
					<div class="footer__column">
						<li class="footer__link">
							<a href="https://placeholder.com">About</a>
						</li>
						<li class="footer__link">
							<a href="https://placeholder.com">Contact Us</a>
						</li>
						<li class="footer__link">
							<a href="https://placeholder.com">Press release</a>
						</li>
						<li class="footer__link">
							<a href="https://placeholder.com">Careers</a>
						</li>
						<li class="footer__link">
							<a href="https://placeholder.com">Site map</a>
						</li>
					</div>
					<div class="footer__column">
						<li class="footer__link">
							<a href="https://placeholder.com">Returns</a>
						</li>
						<li class="footer__link">
							<a href="https://placeholder.com">Shipping</a>
						</li>
						<li class="footer__link">
							<a href="https://placeholder.com">Gift Cards</a>
						</li>
					</div>
				</ul>
		
				<h3 class="element-invisible footer__heading">Social Media Links</h3>
				<ul class="footer__list footer__list--social-links">
					<li class="footer__link footer__link--social-media">
						<a href="https://placeholder.com">
							<span class="footer__icon ion-social-facebook"></span>
							<span class="element-invisible">Follow us on Facebook</span>
						</a>
					</li>
					<li class="footer__link footer__link--social-media">
						<a href="https://placeholder.com">
							<span class="footer__icon ion-social-twitter"></span>
							<span class="element-invisible">Follow us on Twitter</span>
						</a>
					</li>
					<li class="footer__link footer__link--social-media">
						<a href="https://placeholder.com">
							<span class="footer__icon ion-social-instagram"></span>
							<span class="element-invisible">Follow us on Instagram</span>
						</a>
					</li>
				</ul>
		
				<form class="footer__form">
					<label for="newsletter-sign-up">Subscribe for our Newsletter</label>
					<input id="newsletter-sign-up" type="email" placeholder="Enter email">
				</form>
		
				<h3 class="element-invisible footer__heading">Legal Information</h3>
				<ul class="footer__list footer__list--legal">
					<li>
						<p>&copy;2018 SR Fashion Inc.</p>
					</li>
					<li class="footer__link">
						<a href="https://placeholder.com">Privacy Policy</a>
					</li>
					<li class="footer__link">
						<a href="https://placeholder.com">Terms of Use</a>
					</li>
					<li class="footer__link">
						<a href="https://placeholder.com">Accessibility</a>
					</li>
				</ul>
			</nav>
		</footer>
		<script src="footer.js"></script>
	</body>
</html>