<footer class="footer clearfix">
  <div class="container">
    <div class="flex-row">
      <nav aria-label="Secondary" class="footer__nav">
        <h2 id="footer-label" class="footer__heading footer__heading--main element-invisible">Secondary Navigation</h2>
        <ul class="footer__list secondary-nav">
          <li class="footer__link secondary-nav__link">
            <a href="https://placeholder.com">About</a>
          </li>
          <li class="footer__link secondary-nav__link">
            <a href="https://placeholder.com">Contact Us</a>
          </li>
          <li class="footer__link secondary-nav__link">
            <a href="https://placeholder.com">Press release</a>
          </li>
          <li class="footer__link secondary-nav__link">
            <a href="https://placeholder.com">Careers</a>
          </li>
          <li class="footer__link secondary-nav__link">
            <a href="https://placeholder.com">Site map</a>
          </li>
          <li class="footer__link secondary-nav__link">
            <a href="https://placeholder.com">Returns</a>
          </li>
          <li class="footer__link secondary-nav__link">
            <a href="https://placeholder.com">Shipping</a>
          </li>
          <li class="footer__link secondary-nav__link">
            <a href="https://placeholder.com">Gift Cards</a>
          </li>
        </ul>
        <h3 class="element-invisible footer__heading">Social Media Links</h3>
        <ul class="footer__list footer__list--social-links">
          <li class="footer__link footer__link--social-media">
            <a href="https://placeholder.com">
              <span class="footer__icon icon ion-logo-facebook"></span>
              <span class="element-invisible">Follow us on Facebook</span>
            </a>
          </li>
          <li class="footer__link footer__link--social-media">
            <a href="https://placeholder.com">
              <span class="footer__icon icon ion-logo-twitter"></span>
              <span class="element-invisible">Follow us on Twitter</span>
            </a>
          </li>
          <li class="footer__link footer__link--social-media">
            <a href="https://placeholder.com">
              <span class="footer__icon icon ion-logo-instagram"></span>
              <span class="element-invisible">Follow us on Instagram</span>
            </a>
          </li>
        </ul>
      </nav>
      <form class="footer__form" data-validate novalidate>
        <h3 class="footer__heading footer__heading--newsletter">Subscribe to our Newsletter!</h3>
        <div class="input__placeholder-label">
          <input class="footer__form-input" id="newsletter-sign-up" type="email" data-validation-message="Please enter a valid email address"
            required>
          <label for="newsletter-sign-up">Enter your email address</label>
        </div>
        <input class="footer__form-submit btn btn--outline-black" type="submit" value="Subscribe Now">
      </form>
    </div>
    <div>
      <h3 class="element-invisible footer__heading">Legal Information</h3>
      <ul class="footer__list footer__list--legal">
        <li>
          <p>&copy;2018 SR Fashion Inc.</p>
        </li>
        <li class="footer__link">
          <a href="https://placeholder.com">Privacy Policy</a>
        </li>
        <li class="footer__link">
          <a href="https://placeholder.com">Terms of Use</a>
        </li>
        <li class="footer__link">
          <a href="https://placeholder.com">Accessibility</a>
        </li>
        <li class="footer__link">
          <label for="country-select">Select Country: </label>
          <select id="country-select">
            <option value="canada">Canada</option>
            <option value="india">India</option>
            <option value="united-kingdom">United Kingdom</option>
            <option value="united-states">United States</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</footer>