<footer class="footer clearfix">
  <div class="container">
    <div class="footer__link-container">
      <ul class="footer__main-links">
        <li>
          <a href="#">Site Map</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
      <ul class="footer__secondary-links">
          <li>
            <a href="#">Legal</a> |
          </li>
          <li>
            <a href="#">Privacy Center</a> |
          </li>
          <li>
            <a href="#">Privacy Policy</a> |
          </li>
          <li>
            <a href="#">Cookies</a>
          </li>
        </ul>
    </div>
    <div class="footer__feedback-container">
      <form action="" id="feedback-submission">
        <label for="footer__feedback">Feedback</label>
        <textarea rows="4" cols="12" id="footer__feedback" required></textarea>
        <button class="btn btn--black-inverted" type="submit">Submit Feedback</button>
      </form>
    </div>
  </div>
</footer>