@import '../../scss/variables';
@import '../../scss/flexboxgrid';

.footer {
	background: $light-grey;
	padding: 32px 0;
	font-size: 14px;

	.row{
		justify-content: space-between;
	}

	a {
		text-decoration: none;
		margin-bottom: 8px;
		display: inline-block;
	}
	&__nav {
		display: flex;
		flex-wrap: wrap;
		padding: 0 8px;
	}

	&__heading {
		&--newsletter {
			padding: 5px;
			font-size: 22px;
			margin: 0 0 16px;
		}
	}
	&__list {
		list-style: none;
		display: inline-block;
		padding: 0;
		&--2-column {
			columns: 2;
			margin-bottom: 20px;
		}
		&--legal {
			width: 100%;
			font-size: 12px;
			a {
				text-decoration: underline;
				padding-left: 24px;
			}
			>li {
				display: inline-block;
			}
		}
		&--social-links {
			margin-top: 25px;
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 0 60px;

		&-input {
			display: block;
			padding: 5px;
			width: 280px;
			margin: 0 auto 48px;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid $black;
			color: $black;
			font-size: 14px;
			line-height: 16px;
		}
		&-submit {
			font-size: 14px;
			border: 1px solid $black;
			width: 224px;
			background-color: transparent;
			padding: 16px;
			cursor: pointer;

			&:hover, &:focus {
				color: $black-transparent;
				text-decoration: underline;
				border-color: $black-transparent;
			}
		}
	}
	&__link {
		padding: 5px 0;
		&--social-media {
			display: inline-block;
		}
	}
	&__column {
		-webkit-column-break-inside: avoid;
		/* Chrome, Safari, Opera */
		page-break-inside: avoid;
		/* Firefox */
		break-inside: avoid;
		/* IE 10+ */
	}
	&__icon {
		font-size: 26px;
		color: $blue;
		margin-right: 36px;
		&:hover, &:focus {
			color: $dark-blue;
		}
	}
	a:hover, &:focus {
		color: $dark-blue;
	}
}
.input{
	&__placeholder-label{
		position: relative;
		> label{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			text-align: center;
			line-height: 26px;
			transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
			color: $medium-grey;
		}
		> input:focus, > .edited{
			+label {
				top: 26px;
				font-size: 12px;
				color: $dark-grey;
			}
			&.has-error + label{
				color: $error-red;
			}
		}
	}
	&__validation-message{
		position: absolute;
		width: 100%;
		left: 0;
		bottom: -26px;
		font-size: 12px;
		color: $error-red;
		input:focus + label &, .edited + label &{
			bottom: -16px;
		}
	}
}


@media screen and (max-width: 600px) {
	.footer {
		text-align: center;
		&__list {
			&--2-column {
				width: 100%;
				columns: 1;
				margin-right: 0;
			}
			&--legal {
				>li {
					display: block;
				}
			}
		}
		&__form {
			float: left;
			width: 100%;
		}
	}
}
