/* COLOURS */
/*
=========================================== FONT SIZES

We're using REM based on a 10px root value set on html
Makes the maths easy, e.g.: 1.6rem = 16px
body is set to 1.6rem in global.scss
*/
.footer {
  background: #f4f0ec;
  padding: 32px 0;
  font-size: 1.4rem; }

.footer .row {
  justify-content: space-between; }

.footer a {
  text-decoration: none;
  margin-bottom: 8px;
  display: inline-block; }

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  position: relative; }

.footer__heading--newsletter {
  padding: 5px;
  font-size: 1.8rem;
  margin: 0 0 16px; }

.footer__list {
  list-style: none;
  display: inline-block;
  padding: 0; }

.footer__list--legal {
  width: 100%;
  font-size: 12px; }

.footer__list--legal a {
  text-decoration: underline;
  padding-left: 24px; }

.footer__list--legal > li {
  display: inline-block; }

.footer__list--social-links {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  width: 50%; }

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 60px; }

.footer__form-input {
  display: block;
  padding: 5px;
  width: 280px;
  margin: 0 auto 48px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #19191E;
  color: #19191E;
  font-size: 1.4rem;
  line-height: 1.6rem; }

.footer__form-submit {
  font-size: 1.4rem;
  border: 1px solid #19191E;
  width: 224px;
  background-color: transparent;
  padding: 16px;
  cursor: pointer; }

.footer__form-submit:hover, .footer__form-submit:focus {
  color: rgba(25, 25, 30, 0.75);
  text-decoration: underline;
  border-color: rgba(25, 25, 30, 0.75); }

.footer__link {
  padding: 5px 0; }

.footer__link--social-media {
  display: inline-block;
  flex-basis: 60px; }

.footer__link--social-media a {
  width: 24px;
  text-align: center; }

.footer__column {
  -webkit-column-break-inside: avoid;
  /* Chrome, Safari, Opera */
  page-break-inside: avoid;
  /* Firefox */
  break-inside: avoid;
  /* IE 10+ */ }

.footer__icon {
  font-size: 3.6rem;
  color: #B94650;
  margin-right: 36px; }

.footer__icon:hover, .footer__icon:focus {
  color: #90373D; }

.footer a:hover, .footer:focus {
  color: #90373D; }

.secondary-nav {
  display: flex;
  height: 170px;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%; }

.secondary-nav__link {
  width: 50%; }

.input__placeholder-label {
  position: relative; }

.input__placeholder-label > label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 26px;
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  color: #636363; }

.input__placeholder-label > input:focus + label, .input__placeholder-label > .edited + label {
  top: 26px;
  font-size: 12px;
  color: #333333; }

.input__placeholder-label > input:focus.has-error + label, .input__placeholder-label > .edited.has-error + label {
  color: firebrick; }

.input__validation-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -26px;
  font-size: 12px;
  color: firebrick; }

input:focus + label .input__validation-message, .edited + label .input__validation-message {
  bottom: -16px; }

@media screen and (max-width: 600px) {
  .footer {
    text-align: center; }
  .footer__list--2-column {
    width: 100%;
    columns: 1;
    margin-right: 0; }
  .footer__list--legal > li {
    display: block; }
  .footer__form {
    float: left;
    width: 100%; } }
