<div id="gallery-modal" class="modal gallery-modal" role="dialog" aria-modal="true" aria-labelledby="modalTitle" aria-describedby="modalDesc">
  <div class="modal__flex">
    <div class="modal__content">
      <button class="modal__close" data-modal-hide="gallery-modal">
        <span class="sr-only">close</span>
        <svg class="icon icon--close">
          <use xlink:href="{{rootPath}}/sprite.svg#close"></use>
        </svg>
      </button>
      <img class="gallery-modal__image" src="#" alt="">
    </div>
  </div>
  <button tabindex="-1" class="modal__backdrop-close" data-modal-hide="gallery-modal"></button>
</div>
