<div class="gallery" data-component="gallery">
  <a class="skip-link" id="skip-to-gallery" href="#skip-to-details">Return to product details</a>
  <div class="gallery__main-image__container">
    <div class="gallery__main-image__inner-container">
      <img id="gallery__main-image" src="../{{image_url}}" alt="" />
    </div>
    <div class="gallery__main-image__zoom">
      <button data-modal-show="gallery-modal" class="btn btn--secondary gallery__btn--zoom">
        <span class="sr-only">Enlarge the Image</span>
        <svg class="icon">
          <use xlink:href="../sprite.svg#zoom-out"></use>
        </svg>
      </button>
      <div class="gallery__main-image__zoom-group">
        <span class="gallery__zoom-icon">
          <svg class="icon">
            <use xlink:href="../sprite.svg#search"></use>
          </svg>
        </span>
        <button id="gallery__minimize" class="btn btn--black btn--icon gallery__minimize" disabled aria-label="Decrease size of the image to 100%" data-modal-show="construction-modal">
          <span class="sr-only">Decrease size</span>
          <svg class="icon">
            <use xlink:href="../sprite.svg#remove"></use>
          </svg>
        </button>
        <button data-modal-show="construction-modal" id="gallery__maximize" class="gallery__maximize btn btn--black btn--icon" aria-label="Increase size of the image to 150%">
          <span class="sr-only">Increase size</span>
          <svg class="icon">
            <use xlink:href="../sprite.svg#add"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="gallery__thumbnail-container">
    <!--
    <button id="gallery__thumbnail-container__scroll-left" class="btn btn--black btn--icon thumbnail__scroll-left" aria-hidden="false" tabindex="-1" disabled data-scroll-dir="right">
      <span class="icon ion-ios-arrow-back"></span>
      <span class="sr-only">Previous</span>
    </button>
    -->
    <ul class="gallery__thumbnail-list">
      <li class="gallery__thumbnail-list-item">
        <button class="selected">
          <img src="../{{thumbnail_url}}" data-main-image-url="../{{image_url}}" alt="Display product view one">
        </button>
      </li>
      <li class="gallery__thumbnail-list-item">
        <button>
          <img src="../black-and-white-stripe-tee.jpg" data-main-image-url="../black-and-white-stripe-tee.jpg" alt="Display product view two">
        </button>
      </li>
      <li class="gallery__thumbnail-list-item">
        <button>
          <img src="../ladies-white-t-shirt.jpg" data-main-image-url="../ladies-white-t-shirt.jpg" alt="Display product view three">
        </button>
      </li>
      <li class="gallery__thumbnail-list-item">
        <button>
          <img src="../red-tee-with-pocket.jpg" data-main-image-url="../red-tee-with-pocket.jpg " alt="Display product view four">
        </button>
      </li>
      <li class="gallery__thumbnail-list-item">
        <button>
          <img src="../ladies-white-t-shirt.jpg" data-main-image-url="../ladies-white-t-shirt.jpg" alt="Display product view five">
        </button>
      </li>
      <!--
      <li class="gallery__thumbnail-list-item">
        <button>
          <img src="https://source.unsplash.com/ufuk99QfQTg/105x105" data-main-image-url="https://source.unsplash.com/ufuk99QfQTg/712x645" alt="Display product view five">
        </button>
      </li>
      <li class="gallery__thumbnail-list-item">
        <button>
          <img src="https://source.unsplash.com/ufuk99QfQTg/105x105" data-main-image-url="https://source.unsplash.com/ufuk99QfQTg/712x645" alt="Display product view five">
        </button>
      </li>
      -->
    </ul>
    <!--
    <button id="gallery__thumbnail-container__scroll-right" class="btn btn--black btn--icon thumbnail__scroll-right" aria-hidden="false" tabindex="-1" data-scroll-dir="left">
      <span class="icon ion-ios-arrow-forward"></span>
      <span class="sr-only">Next</span>
    </button>
    -->
  </div>
</div>
