<div class="mini-cart__dropdown" data-js="mini-cart-dropdown">
    <h2 class="mini-cart__title">Cart</h2>
    <button class="mini-cart__btn--close" data-js="mini-cart-close">
        <span class="sr-only">Close</span>
        <svg class="icon--close-btn">
            <use xlink:href="{{rootPath}}/sprite.svg#close"></use>
        </svg>
    </button>

    <div data-template="mini-cart-items" class="mini-cart__items"></div>
    <div class="mini-cart__summary-controls">
        <a href="{{rootPath}}/cart/index.html" class="mini-cart__cta-btn btn btn--outline-black">View Cart</a>
        <a href="{{rootPath}}/checkout/index.html" class="mini-cart__cta-btn mini-cart__checkout btn btn--primary">Checkout</a>
    </div>
</div>
