@import '../../scss/variables';

/* ========================================== ACCORDION */
.accordion{
    padding: 0;
}
.accordion-panel {
    list-style: none;
    margin-bottom: $grid-unit * 2;
}

.accordion-panel_heading button {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #D8D8D8;
    background-color: transparent;
    width: 100%;
    text-align: left;
    padding: $grid-unit *2;
    font-size: $font-lg;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.accordion-panel_heading button:after {
    content: '\f12d';
    display: inline-block;
    font-family: "Ionicons";
    font-size: 32px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    float: right;
}

.accordion-panel_heading.accordion--open button {
    background-color: #e6e6e6;
}

.accordion-panel_heading.accordion--open button:after {
    content: '\f125';
}

.accordion-panel_content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: $font-sm;
    visibility: hidden;
    display: none;
    padding: 15px;
}

.accordion-panel_content.accordion--open {
    visibility: visible;
    display: block;
}

