@import '../../scss/variables';

/* ========================================== ACCORDION */
.accordion{
    padding: 0;
}
.accordion-panel {
    list-style: none;
    margin-bottom: $grid-unit * 2;
}

.accordion-panel_heading button {
    border-width: 1px;
    border-color:$black;
    border-style: solid;
    background-color:white;
    width: 100%;
    text-align: left;
    padding: $grid-unit *2;
    font-size: $font-sm;
    position: relative;
    cursor: pointer;
}

.accordion-panel_heading button:after {
    content: '';
    position: absolute;
    right: $grid-unit * 4;
    top: 15px;
    border-style: solid;
    border-width: 0.12em 0.12em 0 0;
    display: inline-block;
    height: 0.75em;
    transform: rotate(135deg);
    vertical-align: top;
    width: 0.75em;
    transition: transform 0.25s ease-in-out;
}

.accordion-panel_heading.accordion--open button {
    background-color: #e6e6e6;
}

.accordion-panel_heading.accordion--open button:after {
    transform: rotate(-45deg);
}

.accordion-panel_content {
    visibility: hidden;
    display: none;
    padding: 15px;
}

.accordion-panel_content.accordion--open {
    visibility: visible;
    display: block;
}

