<ul class="accordion">
    <li class="accordion-panel">
      <div class="accordion-panel_heading">
        <button aria-label="Show Product Description" data-open-aria-label="Show Product Description" data-hide-aria-label="Hide Product Description">Product Description</button>
      </div>
      <div class="accordion-panel_content">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
      </div>
    </li>
    <li class="accordion-panel">
      <div class="accordion-panel_heading">
          <button aria-label="Show size chart" data-open-aria-label="Show Size Chart" data-hide-aria-label="Hide Size Chart">Size Chart</button>
      </div>
      <div class="accordion-panel_content">
        <div class="size-chart">
          <button class="toggle-size-units-button" aria-live="polite">
            <span class="element-invisible">Sizes are shown in
              <span class="units-displayed">inches</span>, click to show in
              <span class="alternate-units-displayed">centimeters</span>
            </span>
            <span class="units-toggle inches selected" aria-hidden="true">Inches</span>
            <span class="units-toggle centimeters" aria-hidden="true">Centimeters</span>
          </button>
          <!-- Table START -->
          <table class="size-chart-table show-inches">
            <caption aria-describedby="toggle-size-units-button" class="element-invisible">Size Chart</caption>
            <tbody>
              <tr>
                <th scope="col">
                  <span aria-hidden="true">Size</span>
                  <span class="element-invisible">Body Areas to be Sized</span>
                </th>
                <th scope="col">
                  <span aria-hidden="true">S</span>
                  <span class="element-invisible">Small Size</span>
                </th>
                <th scope="col">
                  <span aria-hidden="true">M</span>
                  <span class="element-invisible">Medium Size</span>
                </th>
                <th scope="col">
                  <span aria-hidden="true">L</span>
                  <span class="element-invisible">Large Size</span>
                </th>
              </tr>
              <tr class="inches">
                <th scope="row">
                  <span aria-hidden="true">bust (in)</span>
                  <span class="element-invisible">Bust size in inches</span>
                </th>
                <td aria-label="30 to 32 inches">30-32</td>
                <td aria-label="32 to 34 inches">32-34</td>
                <td aria-label="36 inches">36</td>
              </tr>
              <tr class="inches">
                <th scope="row">
                  <span aria-hidden="true">waist (in)</span>
                  <span class="element-invisible">Waist size in inches</span>
                </th>
                <td aria-label="23 to 24 inches">23-24</td>
                <td aria-label="25 to 27 inches">25-27</td>
                <td aria-label="28 to 30 inches">28-30</td>
              </tr>
              <tr class="inches">
                <th scope="row">
                  <span aria-hidden="true">hips (in)</span>
                  <span class="element-invisible">Hips size in inches</span>
                </th>
                <td aria-label="32 to 33 inches">32-33</td>
                <td aria-label="34 to 36 inches">34-36</td>
                <td aria-label="37 to 39 inches">37-39</td>
              </tr>
              <tr class="centimeters">
                <th scope="row">
                  <span aria-hidden="true">bust (cm)</span>
                  <span class="element-invisible">Bust size in centimeters</span>
                </th>
                <td aria-label="76.2 to 81.2 centimeters">76.2-81.2</td>
                <td aria-label="81.2 to 86.36 centimeters">81.2-86.36</td>
                <td aria-label="91.44 centimeters">91.44</td>
              </tr>
              <tr class="centimeters">
                <th scope="row">
                  <span aria-hidden="true">waist (cm)</span>
                  <span class="element-invisible">Waist size in centimeters</span>
                </th>
                <td aria-label="56.42 to 60.96 centimeters">56.42-60.96</td>
                <td aria-label="63.5 to 68.58 centimeters">63.5-68.58</td>
                <td aria-label="71.12 to 76.2 centimeters">71.12-76.2</td>
              </tr>
              <tr class="centimeters">
                <th scope="row">
                  <span aria-hidden="true">hips (cm)</span>
                  <span class="element-invisible">Hips size in centimeters</span>
                </th>
                <td aria-label="81.2 to 83.82 centimeters">81.2-83.82</td>
                <td aria-label="86.36 to 91.44 centimeters">86.36-91.44</td>
                <td aria-label="93.98 to 99.06 centimeters">93.98-99.06</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </li>
    <li class="accordion-panel" id="ratings">
      <div class="accordion-panel_heading">
        <button aria-label="Show Ratings and Reviews" data-open-aria-label="Show ratings and reviews" data-hide-aria-label="Hide ratings and reviews">Ratings and Reviews</button>
      </div>
      <div class="accordion-panel_content">
        <!-- Reviews START -->
        <div id="reviews">
          <div class="rating-summary">
            <div class="rating-stars" aria-hidden="true">
              <span class="icon ion-md-star"></span>
              <span class="icon ion-md-star"></span>
              <span class="icon ion-md-star"></span>
              <span class="icon ion-md-star-half" aria-hidden="true"></span>
              <span class="icon ion-md-star-outline" ></span>
            </div>

            <div class="element-invisible">3.5 out of 5 stars</div>
            <div class="element-invisible">based on</div>
            <b>156 Reviews</b>
            <div aria-hidden="true">3.5 out of 5 stars</div>
          </div>

          <ul class="user-ratings" aria-labelledby="customer-review-title">

            <li class="user-ratings__list-item">
              <div class="element-invisible">Customer review 1 of 5</div>

              <div class="rating-stars" aria-hidden="true">
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star-outline" ></span>
              </div>
              <div class="element-invisible">4 out of 5 stars</div>
              <b>Not so great</b>

              <div class="review-details">
                by <a href="#"><span class="element-invisible">Reviewer's Profile</span>[User]</a> on May 2, 2018
              </div>

              <div class="review-text">
                Too hard to cut for adjustment. would be great if it had lines so we could bend and crack it or follow to them for the cut. Ended up in the garbage.
              </div>
            </li>

            <li class="user-ratings__list-item">
              <div class="element-invisible">Customer review 2 of 5</div>

              <div class="rating-stars" aria-hidden="true">
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star-outline" ></span>
              </div>
              <div class="element-invisible">4 out of 5 stars</div>
              <b>Not so great</b>

              <div class="review-details">
                by <a href="#"><span class="element-invisible">Reviewer's Profile</span>[User]</a> on May 2, 2018
              </div>

              <div class="review-text">
                Too hard to cut for adjustment. would be great if it had lines so we could bend and crack it or follow to them for the cut. Ended up in the garbage.
              </div>
            </li>
            <li class="user-ratings__list-item">
              <div class="element-invisible">Customer review 3 of 5</div>

              <div class="rating-stars" aria-hidden="true">
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star-outline" ></span>
              </div>
              <div class="element-invisible">4 out of 5 stars</div>
              <b>Not so great</b>

              <div class="review-details">
                by <a href="#"><span class="element-invisible">Reviewer's Profile</span>[User]</a> on May 2, 2018
              </div>

              <div class="review-text">
                Too hard to cut for adjustment. would be great if it had lines so we could bend and crack it or follow to them for the cut. Ended up in the garbage.
              </div>
            </li>
            <li class="user-ratings__list-item">
              <div class="element-invisible">Customer review 4 of 5</div>

              <div class="rating-stars" aria-hidden="true">
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star-outline" ></span>
              </div>
              <div class="element-invisible">4 out of 5 stars</div>
              <b>Not so great</b>

              <div class="review-details">
                by <a href="#"><span class="element-invisible">Reviewer's Profile</span>[User]</a> on May 2, 2018
              </div>

              <div class="review-text">
                Too hard to cut for adjustment. would be great if it had lines so we could bend and crack it or follow to them for the cut. Ended up in the garbage.
              </div>
            </li>

            <li class="user-ratings__list-item">
              <div class="element-invisible">Customer review 5 of 5</div>

              <div class="rating-stars" aria-hidden="true">
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star"></span>
                <span class="icon ion-md-star-outline" ></span>
              </div>
              <div class="element-invisible">3.5 out of 5 stars</div>
              <b>Not so great</b>

              <div class="review-details">
                by <a href="#"><span class="element-invisible">Reviewer's Profile</span>[User]</a> on May 2, 2018
              </div>

              <div class="review-text">
                Too hard to cut for adjustment. would be great if it had lines so we could bend and crack it or follow to them for the cut. Ended up in the garbage.
              </div>
            </li>
          </ul>
        </div>

        <!-- Reviews END -->
      </div>
    </li>
  </ul>