<footer class="footer">
    <div class="container">
        <div class="footer__link-container">
            <ul class="footer__main-links">
                <li class="footer__main-link-item">
                    <a href="#" class="footer__main-link" data-modal-show="construction-modal">Site Map</a>
                </li>
                <li class="footer__main-link-item">
                    <a href="#" class="footer__main-link" data-modal-show="construction-modal">About</a>
                </li>
                <li class="footer__main-link-item">
                    <a href="#" class="footer__main-link" data-modal-show="construction-modal">Contact Us</a>
                </li>
            </ul>
            <div class="feedback">
                <h3 class="feedback__heading">Feedback</h3>
                <p class="feedback__copy">Please help us to make our accessible experience even better! If you have any questions, comments or feedback, please send us an email</p>
                <button class="btn btn--black-inverted feedback__submit" type="button" data-modal-show="construction-modal">Submit Feedback</button>
            </div>
        </div>
        <ul class="footer__secondary-links">
            <li class="footer__secondary-link-item">
                <a href="#" data-modal-show="construction-modal">Legal</a> |
            </li>
            <li class="footer__secondary-link-item">
                <a href="#" data-modal-show="construction-modal">Privacy Policy</a> |
            </li>
            <li class="footer__secondary-link-item">
                <a href="#" data-modal-show="construction-modal">Cookies</a>
            </li>
        </ul>
        <p class="footer__legal">Publicis Sapient makes no representations or warranties about the content provided on this page. Publicis Sapient does not intend for the prototype or any other information contained on this page to constitute legal advice, nor is this content meant to capture a one-size-fits-all solution to accessibility concerns. Readers of this content should contact independent legal counsel to obtain advice with respect to any particular legal matter, including but not limited to accessibility.</p>
    </div>
</footer>