<footer class="footer">
    <div class="container">
        <div class="footer__link-container">
            <ul class="footer__main-links">
                <li class="footer__main-link-item">
                    <a href="#" class="footer__main-link">Site Map</a>
                </li>
                <li class="footer__main-link-item">
                    <a href="#" class="footer__main-link">About</a>
                </li>
                <li class="footer__main-link-item">
                    <a href="#" class="footer__main-link">Contact Us</a>
                </li>
            </ul>
            <div class="feedback">
                <h3 class="feedback__heading">Feedback</h3>
                <p class="feedback__copy">Please help us to make our accessible experience even better! If you have any questions, comments or feedback, please send us an email</p>
                <button class="btn btn--black-inverted feedback__submit" type="button">Submit Feedback</button>
            </div>
        </div>
        <ul class="footer__secondary-links">
            <li class="footer__secondary-link-item">
                <a href="#">Legal</a> |
            </li>
            <li class="footer__secondary-link-item">
                <a href="#">Privacy Policy</a> |
            </li>
            <li class="footer__secondary-link-item">
                <a href="#">Cookies</a>
            </li>
        </ul>
    </div>
</footer>