<div class="accordion product-details__accordion" data-component="accordion">
    <div class="long-description" data-title="Product Description" data-id="product-description" data-js="accordion-panel" data-component="product-description">Product Description TKO</div>
    <div data-title="Size Chart" data-id="size-chart" data-js="accordion-panel" data-component="size-chart">Size Chart TKO</div>
    <div data-title="Ratings & Reviews" data-id="product-reviews" data-js="accordion-panel" data-component="product-reviews">Product Ratings TKO</div>
</div>
