<div class="product-details">
	<div id="product-description" class="product-description">

	</div>
</div>


<script id="product-description-template" type="text/x-handlebars-template">
  <h1 class="product-description__title">{{product_name}}</h1>
  <span class="product-description__price" aria-label="product price">
    <span class="product-description__price-now">
      <span class="price__label" aria-hidden="true">Price</span>
      <span class="price__dollar" aria-hidden="true">${{price_sale}}</span>
      <span class="element-invisible">current price ${{price_sale}}</span>
    </span>

    <span class="product-description__price-was">
      <span class="price__label" aria-hidden="true">was</span>
      <span class="price__dollar" aria-hidden="true">${{price_actual}}</span>
      <span class="element-invisible">was ${{price_actual}}</span>
    </span>
    <span class="product-description__price-save">
      <span class="price__label" aria-hidden="true">save</span>
      <span class="price__dollar" aria-hidden="true">${{price_savings}}</span>
      <span class="element-invisible">save ${{price_savings}}</span>
    </span>
  </span>
  <p class="product-description__summary">
    {{short_desc}}<br />
    <a href="#">Read More</a>
  </p>
  
  <form class="product-form">
      <hr class="divider" />
      <div class="product-rating">
          <div class="product-rating__prefix">Rating</div>
          <div class="product-rating__display" aria-hidden="true">
            <div class="product-rating__stars">
              <span class="product-rating__star product-rating__star-full icon ion-md-star"></span>
              <span class="product-rating__star product-rating__star-full icon ion-md-star"></span>
              <span class="product-rating__star product-rating__star-full icon ion-md-star"></span>
              <span class="product-rating__star product-rating__star-half icon ion-md-star-half"></span>
              <span class="product-rating__star product-rating__star-empty icon ion-md-star-outline"></span>
              <span class="product-rating__value">3.5 out of 5</span>
              <span class="product-rating__count">(156<span class="element-invisible"> reviews</span>)</span>
            </div>
          </div>
          <a class="product-rating__view-button" href="#ratings">
            <span class="element-invisible">Rating: 3.5 out of 5 based on 156 reviews.</span>
            View Rating and Reviews
          </a>
        </div>
        <hr class="divider" />
    <input type="hidden" name="name" value="Shirt Malo">
    <div class="product-description__color-and-size">

      <fieldset class="product-description__color">
        <legend id="color" class="product-description__input-title">Select Color</legend>
        {{#each color}}
          <div class="product-description__radio-group">
            <input type="radio" class="radio__input" value="{{this}}" name="color" id="color-{{this}}" aria-describedby="color">
            <label for="color-{{this}}" class="radio__label">{{this}}</label>
          </div>
        {{/each}}
        <a href="#" class="skip-link">Jump to product gallery</a>
      </fieldset>

      <fieldset class="product-description__size">
        <legend id="size" class="product-description__input-title">Select Size</legend>
        {{#each size}}
          <div class="product-description__radio-group">
            <input type="radio" class="radio__input" value="{{this}}" name="size" id="size-{{this}}" aria-describedby="size">
            <label for="size-{{this}}" class="radio__label">{{this}}</label>
          </div>
          {{/each}}
        <a href="#" class="size-chart__link"><img src="../../images/ruler.svg" class="icon" />View size chart</a>
      </fieldset>
      
    </div>
    <hr class="divider" />
    <div class="product-actions">
      

      <div class="product-actions__cart">
        <span class="quantity-comp">
          <button aria-label="decrease quantity" class="quantity-comp__decrease btn btn--black btn--icon" type="button"><span
             class="icon ion-ios-remove"></span></button>
          <!-- <label for="quantity">Qty:</label> -->
          <input type="text" aria-label="quantity" value="1" class="quantity-comp__text" name="quantity" id="quantity">
          <span aria-live="assertive" aria-atomic="true" class="element-invisible quantity-comp__aria">Quantity is now <span> 1 </span></span>
          <button aria-label="increase quantity" class="quantity-comp__increase btn btn--black btn--icon" type="button"><span
             class="icon ion-ios-add"></span></button>
        </span>
        <button class="product-actions__add-to-cart btn btn--primary" type="submit">Add to Cart</button>
        <button class="product-actions__add-to-wishlist btn btn--favorites ion-ios-heart" type="button"><span class="sr-only">Add to Wishlist</span></button>
      </div>
    </div>
  </form>
</script>
