/* COLOURS */
/*
=========================================== FONT SIZES

We're using REM based on a 10px root value set on html
Makes the maths easy, e.g.: 1.6rem = 16px
body is set to 1.6rem in global.scss
*/
/* COLOURS */
/*
=========================================== FONT SIZES

We're using REM based on a 10px root value set on html
Makes the maths easy, e.g.: 1.6rem = 16px
body is set to 1.6rem in global.scss
*/
.product-description {
  padding-right: calc(10% - 8px); }

.product-description__title {
  text-transform: uppercase;
  font-size: 4.2rem;
  margin-bottom: 24px; }

.product-description__price {
  display: block;
  line-height: 1;
  display: flex;
  margin-bottom: 48px; }

.product-description__price-now {
  display: block;
  flex-basis: 50%;
  font-weight: bold; }

.product-description__price-now .price__dollar {
  font-size: 3.6rem; }

.product-description__price-now .price__cents {
  font-size: 1.6rem; }

.product-description__price-was {
  margin-left: 16px; }

.product-description__price-save, .product-description__price-was {
  display: block;
  flex-basis: 25%; }

.product-description__price-save .price__dollar, .product-description__price-was .price__dollar {
  font-size: 2.4rem; }

.product-description__price-save .price__cents, .product-description__price-was .price__cents {
  font-size: 1.4rem; }

.product-description__summary {
  font-size: 1.8rem;
  margin-bottom: 32px; }

.product-description__color-and-size {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 32px; }

.product-description__color-and-size > * {
  width: calc(50% - 8px); }

.product-description__input-title {
  font-size: 1.4rem;
  margin-bottom: 8px; }

.product-description .price__cents {
  vertical-align: top;
  line-height: 1.2; }

.price__label {
  display: block;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 8px;
  text-transform: uppercase; }

.size-chart__link {
  font-size: 1.2rem; }

.product-actions {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex; }

.product-actions > * {
  width: calc(50% - 8px); }

.product-actions__add-to-cart {
  margin-bottom: 8px; }

.quantity-comp {
  display: flex;
  align-items: center;
  margin-bottom: 16px; }

.quantity-comp__text {
  text-align: center;
  border: none;
  font-size: 1.4rem;
  display: inline-block;
  width: 50px;
  flex-grow: 1; }

.product-rating {
  background-color: transparent;
  border: 0;
  outline: 0; }

.product-rating__display {
  display: flex;
  flex-wrap: wrap;
  height: 48px;
  margin-bottom: 16px; }

.product-rating__prefix {
  margin-right: 16px;
  font-size: 1.4rem; }

.product-rating__stars {
  font-size: 1.2rem; }

.product-rating__star {
  font-size: 20px;
  display: inline-block;
  margin: -4px 0 8px; }

.product-rating__view-button {
  cursor: pointer;
  text-align: center; }

.product-rating__view-button:focus {
  /* .product-rating__view-all {
				box-shadow: 0 0 3px rose;
			} */ }

.product-rating__view-all {
  border: 1px solid #3575FF;
  color: #FFF;
  background-color: grey;
  padding: 10px;
  display: inline-block; }
