/* Icons */
// @import url('https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css');

// SASS Variables
@import './scss/variables';

/* ============================== Global Styles */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

fieldset {
  border: 0;
  padding: 0;
}

p {
  line-height: 1.3;
}

html {
  font-size: 62.5%; // (for REM): 62.5% = 10px for most browsers if the default font size is 16px.
}

body {
  font-family: $font-sans;
  font-size: $font-md; // 1.6rem (16px) for most browsers
  margin: 0;
  color: $black;
  background-color: $warm-grey;
}

svg {
  fill: currentColor;
}

button {
  font-family: $font-sans;
}

.heading--section {
  font-size: $font-lg;
  font-weight: bold;
  margin-top: 2.4rem;
}

button,
input,
select,
a {
  &:focus {
    outline: 2px solid $focus-indicator;
    outline-offset: 2px;
  }

  // Firefox hack :(
  &::-moz-focus-inner {
    border: 0;
  }
}

// Firefox hack :(
select:-moz-focusring,
select::-moz-focus-inner {
  color: transparent !important;
  text-shadow: 0 0 0 $black;
}

@import "./scss/helpers";
@import "./scss/grid";
@import "./scss/buttons";
@import "./scss/inputs";
@import "./scss/template";

// Component Styles
@import "./components/breadcrumb/breadcrumb";
@import "./components/footer/footer";
@import "./components/header/global-navigation";
@import "./components/mini-cart/mini-cart";

@import "./components/product-filters/product-filters";
@import "./components/product-grid/product-grid";
@import "./components/product-sort/product-sort";
@import "./components/product-tile/product-tile";
@import "./components/pagination/pagination";
@import "./components/carousel/carousel";

@import "./components/product-details/product-details";
@import "./components/gallery/gallery";

@import "./components/accordion/accordion";
/* 
@import "../components/modal/_modal.scss";
@import "../components/product-grid/_product-grid.scss";
@import "../components/product-reviews/_product-reviews.scss";
@import "../components/product-tile/_product-tile.scss";
@import "../components/product-title/_product-title.scss";
@import "../components/size-chart/_size-chart.scss";
 */