@import './variables';

/* ====================================== BUTTONS */
button {
  &:not(:disabled):hover {
    text-decoration: underline;
  }
}
.btn {
  font-size: $font-xs;
  font-weight: bold;
  padding: 12px;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: 1;
  display: inline-block;
  background: $black;
  color: white;
  vertical-align: middle;
  border-radius: 25px;
  text-decoration: none;
  margin: 0;

  &:not(:disabled):hover,
  &:focus {
    color: white;
  }

  &:not(:disabled):hover {
    text-decoration: underline;
  }

  &::before {
    font-size: 1.6rem;
  }

  &:disabled {
    background: $grey;
    cursor: not-allowed;
  }

  &--black {
    background: $black;

    &:not(:disabled):hover,
    &:focus {
      background: $dark-grey;
    }
  }

  &--black-inverted {
    background: $white;
    color: $pure-black;

    &:not(:disabled):hover,
    &:focus {
      color: $pure-black;
      background: $light-grey;
    }
  }

  &--outline {
    color: $rose;
    background: transparent;
    border: 1px solid $rose;

    &:not(:disabled):hover,
    &:focus {
      color: $dark-rose;
      border-color: $dark-rose;
      background: rgba($black, 0.05);
    }
  }

  &--outline-black {
    color: $black;
    background: transparent;
    border: 2px solid $black;

    &:not(:disabled):hover,
    &:focus {
      color: $dark-grey;
      border-color: $dark-grey;
      background: rgba($black, 0.05);
    }
  }

  &--favorites {
    width: 40px;
    height: 40px;
    background: transparent;
    color: $black;
    border-radius: 0;
    padding: 0;
    font-weight: normal;

    .icon {
      fill: transparent;
      stroke: $black;
      stroke-width: 2px;
      width: 18px;
      height: 20px;
    }

    &:not(:disabled):hover,
    &:focus {
      color: $black;
    }

    // background-color: $pink;
  }

  &--secondary {
    color: $pure-black;
    height: 40px;
    width: 40px;
    opacity: 0.9;
    border-radius: 24px;
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  &--icon {
    padding: 6px;
    height: 32px;
    width: 32px;

    &:disabled {
      opacity: 0.6;
    }

    .icon {
      width: 18px;
      height: 18px;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--link {
    border: 0;
    border-radius: 0;
    text-decoration: underline;
    background: transparent;
    color: currentColor;
    text-transform: none;

    &:not(:disabled):hover,
    &:focus {
      color: currentColor;
    }
  }
}
