@import './variables';

/* =============================================== HELPERS */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.divider {
  margin: $grid-unit*3 0;
  border: 0;
  height: 1px;
  background: $grey;

  &--medium {
    margin: $grid-unit*2 0;
  }
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.skip-link {
  color: transparent;
  font-size: 12px;
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  left: -9999px;

  &:focus {
    color: $pure-black;
    height: auto;
    width: auto;
    position: static;
    display: inline-block;
    margin: 10px 0;
  }

  .product-sort & {
    margin-bottom: 0;
  }

  .product-grid__jump-links & {
    &:focus {
      margin-top: -32px;
    }
  }

  .carousel-wrapper & {
    vertical-align: bottom;
  }
}

.visibly-hidden {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
  left: -9999;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.hidden {
  display: none;
}

.nobr {
  white-space: nowrap;
}
