@import '../../scss/variables';
@import '../../scss/flexboxgrid';

$buttonSize: 2em;
.mini-cart {
	@extend .col-md-offset-1;
	@extend .col-md-1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;

	width: 3em;
	height: 3em;

	&__toggle {
		margin-top: 5px;
		font-size: 36px;
		background-color: transparent;
		border: none;
		position: relative;
	}

	&__visible-label { 
		&--amount,
		&--subtotal {
			position: absolute;
			text-align: center;
			color: #000;
			
			left: 0;
			right: 0;
			font-size: 10px;
			line-height: 36px;
			font-weight: bold;
			font-family: "Helvetica", "Arial", sans-serif;
		}

		&--amount {
			top: 25px;
		}

		&--subtotal {
			top: -10px;
		}
	}

	&__dropdown {
		position: absolute;
		top: 82px;
		right: -20px;
		width: 330px;
		display: none;
		background: $white;
		z-index: 1;
		box-shadow: 0 4px 14px 2px rgba(0,0,0,0.31);
		z-index: 100;
		padding: 16px;

		&:before {
			top: 0;
			right: 0;
			margin-left: 18px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			box-sizing: border-box;
			border: 12px solid black;
			border-color: transparent transparent $white $white;
			transform-origin: 0 0;
			transform: rotate(-225deg);
			box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.11);
		}

		&.expanded {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&__features, &__prices {
		width: 30%;
		margin: 0;
		font-size: 14px;
		color: $black;
		line-height: 22px;
	}

	&__features {
		float: left;
	}

	&__prices {
		float: right;
	}

	&__term, &__description {
		float: left;
		width: 50%;
		margin: 0;

		&--full {
			width: 100%;
		}
	}

	&__title {
		margin-bottom: 16px;
		font-size: 16px;
	}

	&__quantity {
		margin-top: 0;
		font-size: 14px;
		font-weight: 300;
	}

	&__item-list {
		list-style-type: none;
		padding: 0;
	}

	&__item {
		display: inline-block;
		width: 100%;
	}

	&__item-link {
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	&__image {
		float: left;
		margin: 0 1em 1em 0;
	}

	&__item-title {
		font-size: 14px;
		line-height: 22px;
		margin-top: 0;
	}

	&__item-price {
		margin-top: 0;
	}

	&__summary {
		border-top: 1px solid $grey;
		padding-top: 24px;
		width: 100%;
		
	}

	&__summary-subtotal {
		display: inline-block;
		width: 100%;
		margin-bottom: 16px;
	}

	&__subtotal-title {
		float: left;
		font-size: 14px;
		line-height: 22px;
	}

	&__subtotal {
		float: right;
		font-size: 18px;
	}

	&__summary-controls {
		display: inline-block;
		width: 100%;
	}

	&__view-cart {
		text-decoration: none;
		padding: 0.5rem;
		float: left;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	&__checkout {
		color: $white;
		background-color: $blue;
		border: 0;
		clear: none;
		padding: 16px;
		text-decoration: none;
		text-align: center;
		width: 100%;
		display: inline-block;
		&:hover, &:focus {
			background-color: $dark-blue;
			text-decoration: underline;
		}
	}

}

/* Tablet Styles */

/* Desktop Styles */
