<article>
  <span class="mini-cart__updated element-invisible" aria-live="assertive" aria-atomic="true"></span>
  <span aria-live="assertive" aria-atomic="true" class="element-invisible mini-cart__aria">You have <span> 0 </span> items in your cart.</span>
  <button aria-label="Mini Cart, 2 items, estimated subtotal: $42.92" class="mini-cart__toggle" aria-haspopup="true"
    aria-expanded="false">
    <span class="mini-cart__text"><img src="../../images/cart.svg" class="icon" aria-hidden="true" />Cart</span>
    <span aria-hidden="true" class="mini-cart__visible-label">
      <span class="mini-cart__visible-label--amount">0</span>
    </span>
  </button>
  <div class="mini-cart__dropdown">
    <h2 class="mini-cart__title">Shopping Cart</h2>
    <p class="mini-cart__total-quantity"><span>1</span>item</p>
    <ul class="mini-cart__item-list">
      <li class="mini-cart__item">
        <a class="mini-cart__item-link" href="https://placeholder.com" aria-label="Shirt Malo. Size: Medium, Color: blue, quantity: 1, Item unit price: $36.95, Item total price: $36.95">
          <img class="mini-cart__image" alt="" src="../../images/crocet-top.jpg">
          <p class="mini-cart__item-title">Crochet top</p>
          <div>
            <dl class="mini-cart__features">
              <dt class="mini-cart__term">Size: </dt>
              <dd class="mini-cart__size" aria-label="medium">M</dd>

              <dt class="mini-cart__term">Color: </dt>
              <dd class="mini-cart__color">gold</dd>

              <dt class="mini-cart__term">Qty:</dt>
              <dd class="mini-cart__quantity"><span>1</span></dd>
            </dl>

            <dl class="mini-cart__prices">
              <dt class="element-invisible">Item total price:</dt>
              <dd class="mini-cart__description mini-cart__description--full">$36.95</dd>

              <!-- <dt class="element-invisible">Item unit price:</dt>
              <dd class="mini-cart__description mini-cart__description--full">$36.95 each</dd> -->
            </dl>
          </div>
        </a>
      </li>
    </ul>

    <div class="mini-cart__summary">
      <div class="mini-cart__summary-subtotal">
        <p class="mini-cart__subtotal-title">Subtotal</p>
        <p class="mini-cart__subtotal">$36.95</p>
      </div>
      <div class="mini-cart__summary-controls">
        <a href="#" class="mini-cart__checkout btn btn--primary btn--block">Checkout</a>
      </div>
    </div>
  </div>
  <div class="element-invisible" aria-live="assertive" role="alert"></div>
</article>