<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Component | Mini Cart</title>
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="../../css/global.css">
		<link rel="stylesheet" href="mini-cart.css">
	</head>
	<body>
		<a class="mini-cart__test-link" href="#">Test link</a>
		<article class="mini-cart">
			<button aria-label="Mini Cart, 2 items, estimated subtotal: $42.82" class="mini-cart__toggle" aria-haspopup="true" aria-expanded="false">
				<span class="ion-ios-cart"></span>
			</button>

			<div class="mini-cart__dropdown">
				<h2 class="mini-cart__title">Shopping Cart</h2>
				<p class="mini-cart__quantity">2 item</p>

				<ul class="mini-cart__item-list">
					<li class="mini-cart__item">
						<a class="mini-cart__item-link" href="https://placeholder.com">
							<img class="mini-cart__image" alt="sample item" src="http://via.placeholder.com/80x80">
							<p class="mini-cart__item-title">Shirt Malo Size M - blue</p>
							<p class="mini-cart__item-price">$36.95</p>
						</a>
					</li>
					<li class="mini-cart__item">
						<a class="mini-cart__item-link" href="https://placeholder.com">
							<img class="mini-cart__image" alt="sample item" src="http://via.placeholder.com/80x80">
							<p class="mini-cart__item-title">Skittles</p>
							<p class="mini-cart__item-price">$5.97</p>
						</a>
					</li>
				</ul>

				<div class="mini-cart__summary">
					<div class="mini-cart__summary-subtotal">
						<p class="mini-cart__subtotal-title">Subtotal</p>
						<p class="mini-cart__subtotal">$42.92</p>
					</div>
					<div class="mini-cart__summary-controls">
						<a href="#" class="mini-cart__view-cart">View cart</a>
						<a href="#" class="mini-cart__checkout">Checkout</a>
					</div>
				</div>
			</div>
			<div class="element-invisible" aria-live="assertive" role="alert"></div>
		</article>

		<a class="mini-cart__test-link" href="#">Test link</a>
		<script src="mini-cart.js"></script>
	</body>
</html>
