<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Component | Mini Cart</title>
		<link rel="stylesheet" href="../../css/global.css">
		<link rel="stylesheet" href="mini-cart.css">
	</head>
	<body>
		<a href="#">Test link</a>
		<article class="mini-cart">
			<button class="mini-cart__button" aria-haspopup="true" aria-expanded="false">0</a>
				<div class="mini-cart__dropdown">
					<ul>
						<li></li>
					</ul>
				</div>
			<div class="element-invisible" aria-live="assertive" role="alert"></div>
		</article>
		<script src="mini-cart.js"></script>
	</body>
</html>